<template>
    <div class="col-lg-3 col-md-3 d-none d-md-block d-lg-block d-xl-block sidebar-bg">
        <div class="list-group list-group-flush item-margin-top">
            <a  @click="goto('TeamPublicPrimaryInfoEdit')"
                class="custom-sidebar-menu menu-mobile" 
                href="javascript:void(0)" 
                :class="{'active-custom-menu': $route.name==='TeamPublicPrimaryInfo' || $route.name==='TeamPublicPrimaryInfoEdit'}"
                >Primary Info
            </a>
            <a  
                @click="goto('TeamPublicSetDeadlines')" 
                class="custom-sidebar-menu menu-mobile" 
                href="javascript:void(0)" 
                :class="{'active-custom-menu': $route.name==='TeamPublicSetDeadlines'}"
                >Deadlines</a>
            <a  
                @click="goto('TeamPublicCollaborator')" 
                class="custom-sidebar-menu menu-mobile" 
                href="javascript:void(0)" 
                :class="{'active-custom-menu': $route.name==='TeamPublicCollaborator'}"
                >Add Collaborators</a>
            <a  
                @click="goto('TeamPublicAddDocuments')" 
                class="custom-sidebar-menu menu-mobile" 
                href="javascript:void(0)" 
                :class="{'active-custom-menu': $route.name==='TeamPublicAddDocuments'}"
                >Add Documents</a>
            <a 

                @click="goto('TeamPublicAddSupportStaffs')" 
                class="custom-sidebar-menu menu-mobile" 
                href="javascript:void(0)" 
                :class="{'active-custom-menu': $route.name==='TeamPublicAddSupportStaffs'}"
                >Add Support Staff</a>
            <a  
                @click="goto('TeamPublicPricingPlan')" 
                class="custom-sidebar-menu menu-mobile" 
                href="javascript:void(0)" 
                :class="{'active-custom-menu': $route.name==='TeamPublicPricingPlan'}"
                >Pricing Plan</a>
            <a  
                @click="goto('TeamPublicSummary')" 
                class="custom-sidebar-menu menu-mobile" 
                href="javascript:void(0)" 
                :class="{'active-custom-menu': $route.name==='TeamPublicSummary'}"
                >Project Summary</a>
            <a  
                @click="goto('TeamPublicStartProject')"
                class="custom-sidebar-menu menu-mobile" 
                href="javascript:void(0)" 
                :class="{'active-custom-menu': $route.name==='TeamPublicStartProject' || $route.name==='TeamPublicUniquePin'}"
                >Start the Project
            </a>
        </div>

        <Profile />
    </div>
</template>

<script>
const Profile = () => import("@/components/common/Profile");

export default {
    name: "PublicSidebar",
    components: {
        Profile,
    },
    methods: {
        goto(routeName) {            
            if(this.$route.query.mode && this.$route.query.mode == 'edit' && this.$route.name != routeName) {
                this.$router.push({ name: routeName, params: {id: this.$route.params.id}, query: {mode: this.$route.query.mode} });
            }
        }
    }
}
</script>

<style scoped>
@import "../../../assets/css/style.css";
@import "../../../assets/css/custom.css";
.v-application a {
    color: black;
}
</style>