<template>
    <div class="col-lg-9 col-md-9">
        <h4
        class="pt-3 pb-3 mt-10 personal-project-txt mt-custom d-none d-md-block d-lg-block d-xl-block"
        >
            Account Status
        </h4>

        <h4
        class="pt-3 pb-3 personal-project-txt mt-custom d-none d-md-block d-lg-block d-xl-block head-text"
        >
            Personal Account
        </h4>

        <table class="scrollmenu">
            <tr>
                <th>Total Space</th>   
                <td v-if="plan.plan_storage != null">{{plan.total_used + ' GB out of ' + plan.plan_storage + ' GB'}}</td>
                <td v-else>no plan chosen</td>
            </tr>

            <tr>
                <th>Personal Docs</th>   
                <td>{{plan.personal_docs+ ' ' }}GB</td>
            </tr>

            <tr>
                <th>Active Projects</th>    
                <td>{{plan.personal_active+ ' ' }}GB</td>  
            </tr>

            <tr>
                <th>Past Projects</th>    
                <td>{{plan.personal_past+ ' ' }}GB</td>    
            </tr>

            <tr>
                <th>Draft Projects</th>    
                <td>{{plan.personal_draft+ ' ' }}GB</td>    
            </tr>

            <tr>
                <th>Deleted Projects</th>    
                <td>{{plan.personal_deleted+ ' ' }}GB</td>    
            </tr>

        </table>

        <h4
        class="pt-3 pb-3 mt-10 personal-project-txt mt-custom d-none d-md-block d-lg-block d-xl-block head-text"
        >
            Account Status
        </h4>

        <h6 class="ml-10 mt-5" v-if="teamPlans.length === 0">No teams found</h6>

        <table v-else class="scrollmenu">
            <tr>
                <th>Team name</th>   
                <td class="head-text" v-for="(plan, index) in teamPlans" :key="index"
                    >{{plan.name}}</td>
            </tr>

            <tr>
                <th>Total Space</th>   
                <td v-for="(plan, index) in teamPlans" :key="index"
                    >{{plan.total_used + ' GB out of ' + plan.plan_storage + ' GB'}}</td>
            </tr>

            <tr>
                <th>Active Projects</th>    
                <td v-for="(plan, index) in teamPlans" :key="index+4">{{plan.team_active+ ' ' }}GB</td>  
            </tr>

            <tr>
                <th>Past Projects</th>    
                <td v-for="(plan, index) in teamPlans" :key="index+5">{{plan.team_past+ ' ' }}GB</td>    
            </tr>

            <tr>
                <th>Past Projects</th>    
                <td v-for="(plan, index) in teamPlans" :key="index+5">{{plan.team_deleted+ ' ' }}GB</td>    
            </tr>

        </table>

        

    </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
    name: "Personal",
    data() {
        return {
            plan: null,
            teamPlans: [],
        }
    },
    computed: {
        ...mapGetters("pricingPlans", ["personalAccountData", "teamAccountData"])
    },
    methods: {
        ...mapActions("pricingPlans", ["getPersonalAccountData", "getTeamAccountData"]),

    },
    // created(){
    //     this.getPersonalAccountData()

    //     this.getTeamAccountData()

    //     this.plan = this.personalAccountData

    //     this.teamPlans = this.teamAccountData
    // },
    mounted(){
        this.$store
            .dispatch("pricingPlans/getPersonalAccountData").then(
            (res) => {
                this.plan = res.data
            },
            (error) => {
                console.log(error.response);
            }
        ); 

        this.$store
            .dispatch("pricingPlans/getTeamAccountData").then(
            (res) => {
                this.teamPlans = res.data.data
            },
            (error) => {
                console.log(error.response);
            }
        ); 
    }
};
</script>

<style scoped>
@import "../../../assets/css/style.css";
@import "../../../assets/css/custom.css";
</style>

<style scoped>
.payment-head{
    text-align: center;
    font-weight: bold;
}
.mar_zero{
    margin: 0;
}

.active_plan{
    color: #8A1DFF;
}

.row-line{
    border-bottom: 3px solid #8A1DFF;
    margin-top: 0 !important;
    width: 35%;
}

.head-text{
    color: #FF5F1F;
    font-weight: bold;
}

.delete-btn-custom{
    border: 1px solid #8A1DFF;
    background: #FF5F1F;
    color: white;
    height: 40px;
    margin-left: 10px;
    font-family: 'Poppins';
}

table.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}

table.scrollmenu {
    display: inline-block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

table{ 
    margin-left: 35px;
    border-spacing: 10px 20px;
    border-collapse: collapse;
}


th, td {
    border-bottom: 3px solid #8A1DFF;
    padding: 15px;
}

th{ 
    color: black;
}

.cus-table-head{
    color:black;
    border: 1px solid black;
    width: 200px;
}
</style>
