<template>
    <div class="col-lg-9 col-md-9">
        <h4
        class="pt-3 pb-3 mt-10 personal-project-txt mt-custom d-none d-md-block d-lg-block d-xl-block"
        >
            Account Status
        </h4>

        <h6 class="ml-10 mt-5" v-if="plans.length === 0">No Team found</h6>

        <table v-else class="scrollmenu">
            <tr>
                <th>Team</th>   
                <td class="head-text" v-for="(plan, index) in plans" :key="index">{{plan.name}}</td>
            </tr>

            <tr>
                <th>Team members</th>   
                <td class="head-text" v-for="(plan, index) in plans" :key="index">{{plan.members}}</td>
            </tr>

            <tr>
                <th>Pricing Plan</th>    
                <td v-for="(plan, index) in plans" :key="index+1">{{plan.plan_name}}</td>   
            </tr>

            <tr>
                <th>Credit Card</th>    
                <td v-for="(plan, index) in plans" :key="index+2">{{plan.card_nickname}}</td>   
            </tr>

            <tr>
                <th>Active Projects</th>    
                <td v-for="(plan, index) in plans" :key="index+4">{{plan.active_projects}} (out of {{plan.total_projects}})</td>  
            </tr>

            <tr>
                <th>Past Projects</th>    
                <td v-for="(plan, index) in plans" :key="index+5">{{plan.past_projects}}</td>    
            </tr>

            <tr>
                <th>Draft Projects</th>    
                <td v-for="(plan, index) in plans" :key="index+5">{{plan.draft_projects}}</td>    
            </tr>

            <tr>
                <th>Deleted Projects</th>    
                <td v-for="(plan, index) in plans" :key="index+5">{{plan.deleted_projects}}</td>    
            </tr>

            <tr>
                <th>Team started</th>    
                <td v-for="(plan, index) in plans" :key="index+3">{{plan.start_date}}</td>      
            </tr>

            <tr>
                <th>Lead</th>    
                <td v-for="(plan, index) in plans" :key="index+3">{{plan.lead}}</td>      
            </tr>

        </table>
    </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
    name: "Teams",
    data() {
        return {
            plans: []
        }
    },
    computed: {
        ...mapGetters("pricingPlans", ["teamPlansAccount"])
    },
    methods: {
        ...mapActions("pricingPlans", ["getTeamPlansAccount"]),

    },
    // created() {
    //     this.getTeamPlansAccount();
    // },
    mounted() {
        this.plans = this.teamPlansAccount;
        this.$store
                .dispatch("pricingPlans/getTeamPlansAccount")
                .then(
                (res) => {
                    this.plan = res.data.data
                },
                (error) => {
                    if(error.response.status == 404) {
                        this.plan = null
                    }
                }
                );
    }
};
</script>

<style scoped>
@import "../../../assets/css/style.css";
@import "../../../assets/css/custom.css";
</style>

<style scoped>
.payment-head{
    text-align: center;
    font-weight: bold;
}
.mar_zero{
    margin: 0;
}

.active_plan{
    color: #8A1DFF;
}

.row-line{
    border-bottom: 3px solid #8A1DFF;
    margin-top: 0 !important;
    width: 50%;
}

.head-text{
    color: #FF5F1F;
    font-weight: bold;
}

.delete-btn-custom{
    border: 1px solid #8A1DFF;
    background: #FF5F1F;
    color: white;
    height: 40px;
    margin-left: 10px;
    font-family: 'Poppins';
}

table.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}

table.scrollmenu {
    display: inline-block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

table{ 
    margin-left: 35px;
    border-spacing: 10px 20px;
    border-collapse: collapse;
}


th, td {
    border-bottom: 3px solid #8A1DFF;
    padding: 15px;
}

th{ 
    color: black;
}

.cus-table-head{
    color:black;
    border: 1px solid black;
    width: 200px;
}
</style>
