<template>
    <div class="col-lg-9 col-md-9 ">
        <h4 class="pt-3 pb-3 personal-project-txt">New team</h4>
        <v-alert
            v-if="serverErrors"
            outlined
            type="error"
            prominent
            border="left"
            dismissible
            style="width: 1040px"
            >
            <ul>
                <li
                v-for="(field, index) of Object.keys(serverErrors)"
                :key="index"
                >
                {{ serverErrors[field][0] }}
                </li>
            </ul>
        </v-alert>
        <div class="custom-margin">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <label for="" class="deadline-txt">Unique Team Name</label><br />
                        <input type="test" v-model="name" class="team-input-field">
                        <!-- <p v-bind:class="{ show: mail_error.name, not_show: !mail_error.name }" style="color:red">*Team Name is required</p> -->
                    </div>
                </div> 
                <div class="row mt-5">
                    <div class="col-lg-12 col-md-12">
                        <label for="" class="deadline-txt">Profile Icon</label><br />
                        <input 
                            type="text" 
                            accept="image/*"
                            class="custom-input-field-two"
                            :placeholder="profile_icon.name"
                        />
                        <span class="fileUpload ml-2">
                            <input multiple type="file" class="upload" @change="onFileChange"/>
                            <span>Upload</span>
                        </span>

                    </div>
                    <div class="pdf-file-area ml-4" v-if="profile_icon.name != null">
                        <img src="../../../assets/fonts/file.png" class="pdf-font" alt="" />
                        <span  class="project-file-txt">{{ profile_icon.name }}</span>
                        <img
                            src="../../../assets/fonts/close.png"
                            class="close-btn"
                            @click="removeFile()"
                            alt=""
                        />
                        <br />
                    </div>
                    <!-- <div class="col-lg-4 col-md-4">
                        <br />
                        <img class="delete-icon" src="../../../assets/fonts/close.png" alt="" />
                    </div> -->

                </div> 

                <div class="row mt-5">
                    <div class="col-lg-12 col-md-12">
                        <label for="" class="deadline-txt">Team Details</label><br />
                        <textarea
                            class="form-control details-txtarea"
                            id="exampleFormControlTextarea1"
                            v-model="details"
                        ></textarea>
                    </div>
                </div>

                <div class="row mt-5">
                    
                    <div class="col-lg-12 col-md-12">
                        <p>Team Members</p>
                        <table class="table2">
                            <thead>
                                <th class="table-header" scope="col">Email</th>
                                <th class="table-header" scope="col">First Name</th>
                                <th class="table-header" scope="col">Last Name</th>
                                <th class="table-header" scope="col">Organization</th>
                                <th class="table-header" scope="col"></th>
                            </thead>
                            <tbody>
                                <tr
                                    v-for="(member, index) in members"
                                    :key="index"
                                >
                                    <td>
                                        <input
                                            type="email"
                                            class="form-control email-field"
                                            v-model="member.email"
                                            required
                                        />
                                    </td>
                                    <td>
                                        <input
                                            type="text"
                                            class="form-control rest-field"
                                            v-model="member.first_name"
                                            required
                                        />
                                    </td>
                                    <td><input
                                            type="text"
                                            class="form-control rest-field"
                                            v-model="member.last_name"
                                            required
                                        /></td>
                                    <td><input
                                            type="text"
                                            class="form-control rest-field"
                                            v-model="member.organization"
                                            required
                                        /></td>

                                        <td class="download-and-del-icon" >
                                            <a
                                            href="javascript:void(0)"
                                            @click="movePosition(member.position, 'down')"
                                            v-if="member.position === 0"
                                            title="click to move down"
                                            ><img
                                                src="../../../assets/fonts/down-arrow.png"
                                                alt=""
                                            /></a>

                                            <a
                                                href="javascript:void(0)"
                                                @click="movePosition(member.position, 'up')"
                                                title="click to move up"
                                                v-else
                                                >
                                                <img
                                                    src="../../../assets/fonts/up-arrow.png"                       
                                                    alt=""
                                                />
                                            </a>
                                            

                                            <span v-if="index > 2">
                                            <a
                                                href="javascript:void(0)"
                                                @click="removeItem(index)"
                                                ><img src="../../../assets/fonts/delete.png" alt="" />
                                            </a>
                                            </span>
                                            <br /><br />
                                        </td>
                                </tr>
                            </tbody>
                        </table>
                        <div style="margin-left: 5px" @click="addMemberRow()">
                            <img class="add-icon" src="../../../assets/fonts/add-ano.png" alt="" />
                        </div>

                        
                    </div>
                </div>

                
        </div>

        <div class="col-lg-12 col-md-12 ml-0 pl-0">
            <h4
            class="pt-3 pb-3 mt-10 personal-project-txt mt-custom d-none d-md-block d-lg-block d-xl-block"
            >
                Pricing Plans & Payments
            </h4>

            <div class="custom-margin form-for-mob">
                <p class="mt-5">
                <span style="cursor: pointer" v-bind:class="{active_plan: planAnnual}" @click="goToAnnual()">Annual Plans</span>
                    || <span style="cursor: pointer" v-bind:class="{active_plan: planMonthly}" @click="goToMonthly()">Monthly Plans</span>
                </p>

                <div class="row price-card-hide-for-mob">
                    <div class="col-lg-3 col-md-3 p_col">
                        <div class="card price-card-new-title">
                            <div class="card-body">
                                <h2 class="text-center">Price</h2>
                                <p class="text-center mt-12">Active Projects</p>

                                <p class="text-center">Total Storage (GB)</p>

                                <p class="text-center">Active Collaborators and Support Staffs</p> 
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-2 p_col">
                        <div class="card price-card-new-info">
                            <div class="card-body">
                                <p class="text-center p_name">
                                    {{plans[0].plan_name}}
                                </p>

                                <h1 class="text-center mt-8">${{plans[0].plan_price}}*</h1>
                                <p class="text-center mt-10">{{plans[0].max_active_project}}</p>

                                <p class="text-center">{{plans[0].storage}}</p>

                                <p class="text-center">{{plans[0].max_staff}}</p>
                            </div>
                        </div>
                        <div class="row mt-10">
                            <p class="update-btn-price">
                                <input 
                                    type="submit" 
                                    @click="selectPlan(plans[0].id, 0)"
                                    class="submit-btn-new" 
                                    :value="selected_plan === 0 ? 'Plan is selected' : 'Select this plan'"
                                    :class="{'selected_plan' : selected_plan === 0}"  
                                />
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-2 p_col">
                        <div class="card price-card-new-info price-card-mobile">
                            <div class="card-body">
                                <p class="text-center p_name">
                                    {{plans[1].plan_name}}
                                </p>
                                <h1 class="text-center mt-8">$ {{plans[1].plan_price}}*</h1>
                                <p class="text-center mt-10">{{plans[1].max_active_project}}</p>

                                <p class="text-center">{{plans[1].storage}}</p>

                                <p class="text-center">{{plans[1].max_staff}}</p>
                            </div>
                        </div>
                        <div class="row mt-10">
                            <p class="update-btn-price">
                                <input 
                                    type="submit" 
                                    @click="selectPlan(plans[1].id, 1)"
                                    class="submit-btn-new" 
                                    :value="selected_plan === 1 ? 'Plan is selected' : 'Select this plan'"
                                    :class="{'selected_plan' : selected_plan === 1}" 
                                />
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-2 p_col">
                        <div class="card price-card-new-info price-card-mobile">
                            <div class="card-body">
                                <p class="text-center p_name">
                                    {{plans[2].plan_name}}
                                </p>
                                <h1 class="text-center mt-8">$ {{plans[2].plan_price}}*</h1>
                                <p class="text-center mt-10">{{plans[2].max_active_project}}</p>

                                <p class="text-center">{{plans[2].storage}}</p>

                                <p class="text-center">{{plans[2].max_staff}}</p>
                            </div>
                        </div>
                        <div class="row mt-10">
                            <p class="update-btn-price">
                                <input 
                                    type="submit" 
                                    @click="selectPlan(plans[2].id, 2)"
                                    class="submit-btn-new" 
                                    :value="selected_plan === 2 ? 'Plan is selected' : 'Select this plan'"
                                    :class="{'selected_plan' : selected_plan === 2}"
                                />
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-2 p_col">
                        <div class="card price-card-new-info price-card-mobile">
                            <div class="card-body" style="text-align: center !important;">
                                <p class="text-center p_name">
                                    BUSINESS
                                </p>
                                <h2 class="text-center mt-7  p_mail">Contact Sales</h2>

                                <p class="mt-6"><a href="mailto:sales@hellodeadlines.com" style="color: #FF7945">Send email</a></p>
                                
                                
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-15">
                    <p>please note that the total charge will be annual for a selected annual plan.</p>
                </div>
                <div class="row">
                    <p>*please note that there are a minimum of three members in each team. Charges are on the basis of month/team/member for each plan.</p>
                </div>

        </div>

        </div>

        <div class="col-lg-12 col-md-12 ml-0 pl-0">
            <h4 class="pt-3 pb-3 personal-project-txt">Credit Card</h4>
            <div class="custom-margin">
                    
                <div class="row">
                    <div class="col-md-3">
                        <h6 class="mb-4">Mailing Information</h6>
                        <label for="" class="deadline-txt">Name</label>
                        <input type="text" v-model="mailing_info.name" class="form-control custom-input-creditCard mb-3" >
                        <p v-bind:class="{ show: mail_error.name, not_show: !mail_error.name }" style="color:red">*Name is required</p>

                        <label for="" class="deadline-txt">Address Line #1</label>
                        <input type="text" v-model="mailing_info.line1" class="form-control custom-input-creditCard mb-3" >
                        <p v-bind:class="{ show: mail_error.line1, not_show: !mail_error.line1 }" style="color:red">*Address line1 is required</p>

                        <label for="" class="deadline-txt">Address Line #2</label>
                        <input type="text" v-model="mailing_info.line2" class="form-control custom-input-creditCard mb-3" >
                        <p v-bind:class="{ show: mail_error.line2, not_show: !mail_error.line2 }" style="color:red">*Address line2 required</p>

                        <label for="" class="deadline-txt">City</label>
                        <input type="text" v-model="mailing_info.city" class="form-control custom-input-creditCard mb-3" >
                        <p v-bind:class="{ show: mail_error.city, not_show: !mail_error.city }" style="color:red">*City is required</p>

                        <label for="" class="deadline-txt">State</label>
                        <input type="text" v-model="mailing_info.state" class="form-control custom-input-creditCard mb-3" >
                        <p v-bind:class="{ show: mail_error.state, not_show: !mail_error.state }" style="color:red">*State is required</p>

                        <label for="" class="deadline-txt">Country</label>
                        <country-select v-model="mailing_info.country" :country="mailing_info.country" topCountry="US" class="pl-2 custom-input-creditCard mb-3" />

                        <!-- <input type="text" v-model="mailing_info.country" class="form-control custom-input-creditCard mb-3" > -->
                        <p v-bind:class="{ show: mail_error.country, not_show: !mail_error.country }" style="color:red">*Country is required</p>

                        <label for="" class="deadline-txt">Zip Code</label>
                        <input type="text" v-model="mailing_info.zip_code" class="form-control custom-input-creditCard mb-3" >
                        <p v-bind:class="{ show: mail_error.zip_code, not_show: !mail_error.zip_code }" style="color:red">*Zip code is required</p>
                        
                    </div>
                    <div class="col-md-3">
                        <h6 class="mb-4">Billing Information</h6>

                        <label for="" class="deadline-txt">Name</label>
                        <input type="text" v-model="billing_info.name" class="form-control custom-input-creditCard mb-3" >
                        <p v-bind:class="{ show: bill_error.name, not_show: !bill_error.name }" style="color:red">*Name is required</p>

                        <label for="" class="deadline-txt">Address Line #1</label>
                        <input type="text" v-model="billing_info.line1" class="form-control custom-input-creditCard mb-3" >
                        <p v-bind:class="{ show: bill_error.line1, not_show: !bill_error.line1 }" style="color:red">*Address line1 is required</p>

                        <label for="" class="deadline-txt">Address Line #2</label>
                        <input type="text" v-model="billing_info.line2" class="form-control custom-input-creditCard mb-3" >
                        <p v-bind:class="{ show: bill_error.line2, not_show: !bill_error.line2 }" style="color:red">*Address line2 required</p>

                        <label for="" class="deadline-txt">City</label>
                        <input type="text" v-model="billing_info.city" class="form-control custom-input-creditCard mb-3" >
                        <p v-bind:class="{ show: bill_error.city, not_show: !bill_error.city }" style="color:red">*City is required</p>

                        <label for="" class="deadline-txt">State</label>
                        <input type="text" v-model="billing_info.state" class="form-control custom-input-creditCard mb-3" >
                        <p v-bind:class="{ show: bill_error.state, not_show: !bill_error.state }" style="color:red">*State is required</p>

                        <label for="" class="deadline-txt">Country</label>
                        <country-select v-model="billing_info.country" :placeholder="billing_info.country" :country="billing_info.country" topCountry="US" class="pl-2 custom-input-creditCard mb-3" />

                        <!-- <input type="text" v-model="billing_info.country" class="form-control custom-input-creditCard mb-3" > -->
                        <p v-bind:class="{ show: bill_error.country, not_show: !bill_error.country }" style="color:red">*Country is required</p>

                        <label for="" class="deadline-txt">Zip Code</label>
                        <input type="text" v-model="billing_info.zip_code" class="form-control custom-input-creditCard mb-3" >
                        <p v-bind:class="{ show: bill_error.zip_code, not_show: !bill_error.zip_code }" style="color:red">*Zip code is required</p>

                        
                    </div>
                    <div class="col-md-3">
                        <h6 class="mb-4">Credit Card Information</h6>

                        <label for="" class="deadline-txt">Credit Card Nick Name(for memory)</label>
                        <input type="text" v-model="card_info.nickname" class="form-control custom-input-creditCard mb-3" >
                        <p v-bind:class="{ show: card_error.nickname, not_show: !card_error.nickname }" style="color:red">*Nickname is required</p>

                        <label for="" class="deadline-txt">Credit Card Number</label>
                        <input type="text" v-model="card_info.number" class="form-control custom-input-creditCard mb-3" >
                        <p v-bind:class="{ show: card_error.number, not_show: !card_error.number }" style="color:red">*Number is required</p>

                        <label for="" class="deadline-txt">Expiry Date</label>
                        <input type="date" v-model="card_info.expire_date" class="form-control custom-input-creditCard mb-3" >
                        <p v-bind:class="{ show: card_error.expire_date, not_show: !card_error.expire_date }" style="color:red">*Expire date is required</p>

                        <label for="" class="deadline-txt">CVV</label>
                        <input type="text" v-model="card_info.cvv" class="form-control custom-input-creditCard mb-3" >
                        <p v-bind:class="{ show: card_error.cvv, not_show: !card_error.cvv }" style="color:red">*CVV is required</p>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <h6 class="mt-3">Are mailing and billing addresses same?</h6>
                        <input type="checkbox" class="form-check-input custom-checkbox" @change="isSame()" style="margin-left: 0px" >

                    </div>
                </div>
                
            </div>
        </div>

        <div class="row mt-5 mb-5">
            <div class="col-lg-6 col-md-6">
            </div>
            <div class="col-lg-6 col-md-6" style="text-align: right">
                <button type="button" @click="createTeam()" class="next-btn">Create Team</button>
            </div>
        </div>
    </div>
    
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
    name: "CreateNewTeam",
    data(){
        return {
            name: null,
            details: null,
            profile_icon: {name: null},
            members: [
                {
                    email: "",
                    first_name: "",
                    last_name: "",
                    organization: "",
                    position: 0
                },
                {
                    email: "",
                    first_name: "",
                    last_name: "",
                    organization: "",
                    position: 1
                },
                {
                    email: "",
                    first_name: "",
                    last_name: "",
                    organization: "",
                    position: 2
                }
            ],
            rows: 1,
            is_same: false,
            plan_id: null,
            selected_plan: null,
            mailing_info: {
                name: null,
                line1: null,
                line2: null,
                city: null,
                state: null,
                country: null,
                zip_code: null,
            },
            mail_error: {
                name: false,
                line1: false,
                line2: false,
                city: false,
                state: false,
                country: false,
                zip_code: false,
            },
            billing_info: {
                name: null,
                line1: null,
                line2: null,
                city: null,
                state: null,
                country: null,
                zip_code: null,
            },
            bill_error: {
                name: false,
                line1: false,
                line2: false,
                city: false,
                state: false,
                country: false,
                zip_code: false,
            },
            card_info: {
                nickname: null,
                number: null,
                expire_date: null,
                cvv: null,
            },
            card_error: {
                nickname: false,
                number: false,
                expire_date: false,
                cvv: false,
            },
            plan_error: false,
            validForm: true,
            serverErrors: null,

            planType: null,
            planAnnual: true,
            planMonthly: false,
            plans: []
        }
    },
    computed: {
        ...mapGetters("pricingPlans", ["teamAnnual", "teamMonthly"])
    },
    methods: {
        ...mapActions("snackbar", ["showSnack"]),
        ...mapActions("pricingPlans", ["getTeamAnnualplans", "getTeamMonthlyplans"]),

        goToAnnual(){
            this.planAnnual = true;
            this.planMonthly = false;
            this.getTeamAnnualplans();
            this.plans = this.teamAnnual;
        },

        goToMonthly(){
            this.planAnnual = false;
            this.planMonthly = true;
            this.getTeamMonthlyplans();
            this.plans = this.teamMonthly;
        },

        selectPlan(id, index){
            this.plan_id = id;
            this.selected_plan = index;
        },

        isSame() {
            if(this.is_same === false){
                this.is_same = true;
                this.billing_info.name = this.mailing_info.name;
                this.billing_info.line1 = this.mailing_info.line1;
                this.billing_info.line2 = this.mailing_info.line2;
                this.billing_info.city = this.mailing_info.city;
                this.billing_info.state = this.mailing_info.state;
                this.billing_info.country = this.mailing_info.country;
                this.billing_info.zip_code = this.mailing_info.zip_code;
            }else{
                this.is_same = false;
                this.billing_info.name = null;
                this.billing_info.line1 = null;
                this.billing_info.line2 = null;
                this.billing_info.city = null;
                this.billing_info.state = null;
                this.billing_info.country = null;
                this.billing_info.zip_code = null;
            }
            
        },

        removeFile() {
            this.profile_icon = {name: null}
        },
        onFileChange(e) {
            this.profile_icon = e.target.files[0];
        },
        addMemberRow(){
            this.members.push({
                email: "",
                first_name: "",
                last_name: "",
                organization: "",
                position: this.members.length,
            })
        },
        createTeam(){
            this.validationCheck()

            if (this.validForm) 
            {
                const config = {
                    headers: { "content-type": "multipart/form-data" },
                };

                let formData = new FormData();

                formData.append("name", this.name);
                formData.append("details", this.details);
                formData.append("profile_icon", this.profile_icon);
                this.members.forEach((item, key) => {
                    formData.append(`members[${key}][email]`, item.email);
                    formData.append(`members[${key}][first_name]`, item.first_name);
                    formData.append(`members[${key}][last_name]`, item.last_name);
                    formData.append(`members[${key}][organization]`, item.organization);
                    formData.append(`members[${key}][position]`, item.position);
                });

                formData.append("is_same", this.is_same);
                formData.append("plan_id", this.plan_id);
                formData.append("billing_info[name]", this.billing_info.name);
                formData.append("billing_info[line1]", this.billing_info.line1);
                formData.append("billing_info[line2]", this.billing_info.line2);
                formData.append("billing_info[city]", this.billing_info.city);
                formData.append("billing_info[state]", this.billing_info.state);
                formData.append("billing_info[country]", this.billing_info.country);
                formData.append("billing_info[zip_code]", this.billing_info.zip_code);

                if(this.is_same === false)
                {
                    formData.append("mailing_info[name]", this.mailing_info.name);
                    formData.append("mailing_info[line1]", this.mailing_info.line1);
                    formData.append("mailing_info[line2]", this.mailing_info.line2);
                    formData.append("mailing_info[city]", this.mailing_info.city);
                    formData.append("mailing_info[state]", this.mailing_info.state);
                    formData.append("mailing_info[country]", this.mailing_info.country);
                    formData.append("mailing_info[zip_code]", this.mailing_info.zip_code);
                }

                formData.append("card_info[nickname]", this.card_info.nickname);
                formData.append("card_info[number]", this.card_info.number);
                

                formData.append("card_info[expire_date]", this.formatDate());
                formData.append("card_info[cvv]", this.card_info.cvv);



                let dispatchUrl = "teams/storeTeam";
                this.$store.dispatch("snackbar/showOverlay", 1);

                this.$store
                    .dispatch(dispatchUrl, formData, config).then(
                    () => {
                        this.serverErrors = null;
                        this.showSnack({
                        text: "Team Successfully Saved!",
                        color: "success",
                        timeout: 5000,
                        });
                        this.$store.dispatch("snackbar/showOverlay", 0);
                        this.$router.push({ path: "/team/greetings" });
                        
                    },
                    (error) => {
                        console.log(error.response);
                        this.$store.dispatch("snackbar/showOverlay", 0);
                        this.showSnack({
                        text: error.response.data.message,
                        color: "error",
                        timeout: 5000,
                        });
                        if (error.response.data.errors) {
                        this.serverErrors = error.response.data.errors;
                        }
                    }
                );  
            }
            
        },
        movePosition(currentPosition, optType) {
            if (optType === "up") {
                this.members.map((item) => {
                if (currentPosition === item.position) {
                    item.position -= 1;
                } else if (currentPosition - 1 === item.position) {
                    item.position = currentPosition;
                }
                return item;
                });
            } else {
                this.members.map((item) => {
                if (currentPosition === item.position) {
                    item.position += 1;
                } else if (currentPosition + 1 === item.position) {
                    item.position = currentPosition;
                }
                return item;
                });
            }
            this.members = this.members.slice().sort((a, b) => {
                return a.position - b.position;
            });
        },

        formatDate() {
            let aa = new Date(this.card_info.expire_date);

            //var dd = String(aa.getDate()).padStart(2, '0');
            var mm = String(aa.getMonth() + 1).padStart(2, '0'); //January is 0!
            var yyyy = aa.getFullYear();

            aa = mm + '/' + yyyy;

            return aa;
        },

        positionReset() {
            let position = 0;
            this.members.map((item) => {
                item.position = position++;
                return item;
            });
        },
        removeItem(index) {
            this.members.splice(index, 1);
            this.positionReset();
        },

        validationCheck() {
            if (!this.plan_id) {
                this.plan_error = true;
                this.validForm = false;
            } else {
                this.plan_error = false;
                this.validForm = true;
            }

            if (!this.mailing_info.name) {
                this.mail_error.name = true;
                this.validForm = false;
            } else {
                this.mail_error.name = false;
                this.validForm = true;
            }

            if (!this.mailing_info.line1) {
                this.mail_error.line1 = true;
                this.validForm = false;
            } else {
                this.mail_error.line1 = false;
                this.validForm = true;
            }

            if (!this.mailing_info.line2) {
                this.mail_error.line2 = true;
                this.validForm = false;
            } else {
                this.mail_error.line2 = false;
                this.validForm = true;
            }

            if (!this.mailing_info.city) {
                this.mail_error.city = true;
                this.validForm = false;
            } else {
                this.mail_error.city = false;
                this.validForm = true;
            }

            if (!this.mailing_info.state) {
                this.mail_error.state = true;
                this.validForm = false;
            } else {
                this.mail_error.state = false;
                this.validForm = true;
            }

            if (!this.mailing_info.country) {
                this.mail_error.country = true;
                this.validForm = false;
            } else {
                this.mail_error.country = false;
                this.validForm = true;
            }

            if (!this.mailing_info.zip_code) {
                this.mail_error.zip_code = true;
                this.validForm = false;
            } else {
                this.mail_error.zip_code = false;
                this.validForm = true;
            }

            //billing
            if (!this.billing_info.name) {
                this.bill_error.name = true;
                this.validForm = false;
            } else {
                this.bill_error.name = false;
                this.validForm = true;
            }

            if (!this.billing_info.line1) {
                this.bill_error.line1 = true;
                this.validForm = false;
            } else {
                this.bill_error.line1 = false;
                this.validForm = true;
            }

            if (!this.billing_info.line2) {
                this.bill_error.line2 = true;
                this.validForm = false;
            } else {
                this.bill_error.line2 = false;
                this.validForm = true;
            }

            if (!this.billing_info.city) {
                this.bill_error.city = true;
                this.validForm = false;
            } else {
                this.bill_error.city = false;
                this.validForm = true;
            }

            if (!this.billing_info.state) {
                this.bill_error.state = true;
                this.validForm = false;
            } else {
                this.bill_error.state = false;
                this.validForm = true;
            }

            if (!this.billing_info.country) {
                this.bill_error.country = true;
                this.validForm = false;
            } else {
                this.bill_error.country = false;
                this.validForm = true;
            }

            if (!this.billing_info.zip_code) {
                this.bill_error.zip_code = true;
                this.validForm = false;
            } else {
                this.bill_error.zip_code = false;
                this.validForm = true;
            }

            //card error
            if (!this.card_info.nickname) {
                this.card_error.nickname = true;
                this.validForm = false;
            } else {
                this.card_error.nickname = false;
                this.validForm = true;
            }

            if (!this.card_info.number) {
                this.card_error.number = true;
                this.validForm = false;
            } else {
                this.card_error.number = false;
                this.validForm = true;
            }

            if (!this.card_info.expire_date) {
                this.card_error.expire_date = true;
                this.validForm = false;
            } else {
                this.card_error.expire_date = false;
                this.validForm = true;
            }

            if (!this.card_info.cvv) {
                this.card_error.cvv = true;
                this.validForm = false;
            } else {
                this.card_error.cvv = false;
                this.validForm = true;
            }

            return;
        },

        locateMonthlyData(){
            this.$store
                .dispatch("pricingPlans/getTeamMonthlyplans")
                .then(
                (res) => {
                    this.plans = res.data
                },
                (error) => {
                    console.log(error.response);
                }
                );
        },

        locateAnnualData(){
            this.$store
                .dispatch("pricingPlans/getTeamAnnualplans")
                .then(
                (res) => {
                    this.plans = res.data
                },
                (error) => {
                    console.log(error.response);
                }
                );
        },

    },

    mounted() {
        this.locateAnnualData();
    }
}
</script>

<style scoped>
@import "../../../assets/css/style.css";
@import "../../../assets/css/custom.css";

.not_show{
    display: none;
}
.show{
    display: block;
}
.table{
    width: 50%;
}



.add-icon{
    margin-top: 10px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.delete-icon{
    margin-top: 30px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.active_plan{
    color: #8A1DFF;
}

.selected_plan{
    background-color: rgb(213, 240, 173);
    color: black;
    font-weight: bold;
}

</style>