<template>
    <div class="col-lg-9 col-md-9">
        <h4 class="pt-3 pb-3 dashboard-txt">Teams</h4>
        <div class="row custom-margin">
            <div class="col-lg-4 col-md-4">
                <div class="custom-card-new" @click="goToCreateNewTeam()">
                    <img src="../../../assets/img/newTeam.jpg" class="card-icon-new" alt="">
                    <p class="card-txt">New Team</p>
                </div>
            </div>
        </div>
        <div class="row custom-margin mt-15">
            <div v-for="(team, index) in all_teams" :key="index" class="col-sm-3 col-md-3">
                <div class="custom-card mt-2" @click="goToDetails(team.id, team.name)">
                    <p class="card-txt" style="margin-top: 125px">{{team.name}}</p>
                    
                </div>
            </div>
        </div>
        
    </div>
    
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
    name: "Teams",
    computed: {
        ...mapGetters("teams", ["all_teams"]),
    },
    methods: {
        ...mapActions("teams", ["getTeams"]),

        goToDetails(id, name){
            //this.$router.push({ path: `/team/${id}/details` });
            this.$router.push({ path: `/team/${name}/${id}/dashboard` });
        },

        goToCreateNewTeam(){
            this.$router.push({ path: "/team/new-team" });
        }
    },
    mounted() {
        this.getTeams();
        //console.log("aa" + this.all_teams)
    },
}
</script>

<style scoped>
@import "../../../assets/css/style.css";
@import "../../../assets/css/custom.css";

</style>