<template>
    <div class="col-lg-9 col-md-9">
        <h4 class="pt-3 pb-3 dashboard-txt">{{teamName}}</h4>
        
        <div class="row custom-margin">
            <div class="col-lg-4 col-md-4">
                <div class="custom-card-new" @click="goToActive()">
                    <img src="../../../assets/img/projects.jpg" class="card-icon-new" alt="">
                    <p class="card-txt">Projects</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="custom-card-new" @click="goToCreateTeamPrivate()">
                    <img src="../../../assets/img/add-project.jpg" class="card-icon-new" alt="">
                    <p class="card-txt">New Private Project</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="custom-card-new" @click="goToCreateTeamPublic()">
                    <img src="../../../assets/img/add-project-public.jpg" class="card-icon-new" alt="">
                    <p class="card-txt">New Public Project</p>
                </div>
            </div>
            
        </div>

        <div class="row custom-margin mt-15">
            
            <div class="col-lg-4 col-md-4">
                <div class="custom-card-new" @click="goToDetails()">
                    <img src="../../../assets/img/teams.jpg" class="card-icon-new" alt="">
                    <p class="card-txt">Team Members</p>
                </div>
            </div>
        </div>
        
    </div>
    
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
    name: "TeamDashboard",
    data(){
        return { 
            teamName: null,
            teamId: null
        }
    },
    computed: {
        ...mapGetters("teams", ["all_teams"]),
    },
    methods: {
        ...mapActions("teams", ["getTeams"]),

        goToCreateTeamPrivate(){
            this.$router.push({ path: `/team-project/${this.teamId}/projects/create` });
        },

        goToCreateTeamPublic(){
            this.$router.push({ path: `/team-project/${this.teamId}/public/projects/create` });
        },

        goToDetails(){
            this.$router.push({ path: `/team/${this.teamId}/details` });
        },

        goToCreateNewTeam(){
            this.$router.push({ path: "/team/new-team" });
        },

        goToDraft(){
            this.$router.push({ path: `/team-project/${this.teamId}/draft-projects` });
        },

        goToActive(){
            this.$router.push({ path: `/team-project/${this.teamId}/active-projects` });
        },

        goToPast(){
            this.$router.push({ path: `/team-project/${this.teamId}/past-projects` });
        },

        goToDeleted(){
            this.$router.push({ path: `/team-project/${this.teamId}/deleted-projects` });
        }

    },
    created() {
        this.teamName = this.$route.params.tname;
        this.teamId = this.$route.params.id;

        
    },
    watch: {
        '$route.query.teamName': {
            handler(newValue) {
                this.teamName = newValue
                console.log('gg '+ this.$route.query.teamName)
            },
        }
    }
}
</script>

<style scoped>
@import "../../../assets/css/style.css";
@import "../../../assets/css/custom.css";

</style>