<template>

<div class="col-lg-9 col-md-9 ">
    <h4 class="pt-3 pb-3 personal-project-txt">New team</h4>
    <v-alert
        v-if="serverErrors"
        outlined
        type="error"
        prominent
        border="left"
        dismissible
        style="width: 1040px"
        >
        <ul>
            <li
            v-for="(field, index) of Object.keys(serverErrors)"
            :key="index"
            >
            {{ serverErrors[field][0] }}
            </li>
        </ul>
    </v-alert>
    <div class="custom-margin">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <label for="" class="deadline-txt">Unique Team Name</label><br />
                    <input type="test" :value="team.name" class="custom-input-field">
                </div>
            </div> 

            <div class="row mt-5">
                <div class="col-lg-12 col-md-12">
                    <label for="" class="deadline-txt">Team Details</label><br />
                    <textarea
                        class="form-control details-txtarea"
                        id="exampleFormControlTextarea1"
                        :value="team.details"
                    ></textarea>
                </div>
            </div>

            <div class="row mt-5">
                
                <div class="col-lg-12 col-md-12">
                    <p>Team Members</p>
                    <table class="table2">
                        <thead>
                            <th class="table-header" scope="col">Email</th>
                            <th class="table-header" scope="col">First Name</th>
                            <th class="table-header" scope="col">Last Name</th>
                            <th class="table-header" scope="col"></th>
                        </thead>
                        <tbody>
                            <tr
                                v-for="(member, index) in team.users"
                                :key="index"
                            >
                                <td>
                                    <input
                                        type="email"
                                        class="form-control email-field"
                                        v-model="member.email"
                                        required
                                    />
                                </td>
                                <td>
                                    <input
                                        type="text"
                                        class="form-control rest-field"
                                        v-model="member.first_name"
                                        required
                                    />
                                </td>
                                <td><input
                                        type="text"
                                        class="form-control rest-field"
                                        v-model="member.last_name"
                                        required
                                    /></td>

                                    <td class="download-and-del-icon">
                                        <span>
                                        <a
                                            href="javascript:void(0)"
                                            @click="confirmDelete(member.id)"
                                            ><img src="../../../assets/fonts/delete.png" alt="" />
                                        </a>
                                        </span>
                                        <br /><br />
                                    </td>
                            </tr>
                        </tbody>
                    </table>

                    
                </div>
            </div>

            <!-- <div class="row mt-5 mb-5">
                <div class="col-lg-6 col-md-6">
                </div>
                <div class="col-lg-6 col-md-6" style="text-align: right">
                    <button type="button" @click="createTeam()" class="btn btn-primary next-btn">Create Team</button>
                </div>
            </div> -->
    </div>
    <v-dialog v-model="dialogDelete" max-width="290">
        <v-card>
            <v-card-title dark text class="mb-2"> Delete </v-card-title>
            <v-card-text> Are you sure? You want to delete. </v-card-text>
            <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="green darken-1" text @click="dialogDelete = false">
                No
            </v-btn>

            <v-btn color="green darken-1" text @click="deleteMember()">
                Yes
            </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</div>
    
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
    name: "TeamDetails",
    data(){
        return {
            teamId: null,
            userIdToDelete: null,
            dialogDelete: false,
            serverErrors: null,
        }
    },
    computed: {
        ...mapGetters("teams", ["team"]),
    },
    methods: {
        ...mapActions("snackbar", ["showSnack"]),
        ...mapActions("teams", ["getTeamById"]),

        onFileChange(e) {
            this.profile_icon = e.target.files[0];
        },
        positionReset() {
            let position = 0;
            this.members.map((item) => {
                item.position = position++;
                return item;
            });
        },
        confirmDelete(user_id) {
            this.userIdToDelete = user_id;
            this.dialogDelete = !this.dialogDelete;
        },
        deleteMember() {
            this.$store
                .dispatch("teams/deleteMember", 
                {
                    teamId: this.teamId,
                    userId: this.userIdToDelete,
                }
                ).then(
                    () => {
                        this.showSnack({
                        text: "User succesfully deleted!",
                        color: "success",
                        timeout: 5000,
                        });
                        this.dialogDelete = false;
                        this.getTeamById(this.teamId);
                    },
                    (error) => {
                        this.showSnack({
                        text: error.response.data.message,
                        color: "error",
                        timeout: 5000,
                        });
                        this.dialogDelete = false;
                    }
                );
        },
        
    },
    created() {
        this.teamId = this.$route.params.id;
    },
    mounted() {
        this.getTeamById(this.teamId);
    },
}
</script>

<style scoped>
@import "../../../assets/css/style.css";
@import "../../../assets/css/custom.css";

.not_show{
    display: none;
}
.show{
    display: block;
}
.table{
    width: 50%;
}
.next-btn{
    border: 1px solid #8A1DFF;
    background: #FF5F1F;
    color: white;
    height: 48px;
    margin-left: 10px;
    font-family: 'Poppins';
}

</style>