<template>
    <div class="col-lg-3 col-md-3 sidebar-bg" style="position: relative;">
        <div class="list-group list-group-flush item-margin-top item-margin-top-mob">
            <a 
                @click="goto('ProfileCreate')" 
                class="custom-sidebar-menu menu-mobile"
                href="javascript:void(0)" 
                :class="{'active-custom-menu': $route.name.includes('ProfileCreate')}"
                >My Details
            </a>
            <a 
                @click="goto('ProfileUsernameCreate')" 
                class="custom-sidebar-menu menu-mobile"
                href="javascript:void(0)" 
                :class="{'active-custom-menu': $route.name.includes('ProfileUsernameCreate')}"
                >Username
            </a>
            <a 
                @click="goto('ProfilePasswordCreate')" 
                class="custom-sidebar-menu menu-mobile"
                href="javascript:void(0)" 
                :class="{'active-custom-menu': $route.name.includes('ProfilePasswordCreate')}"
                >Password
            </a>
            <a 
                @click="goto('ProfileDocumentsCreate')" 
                class="custom-sidebar-menu menu-mobile"
                href="javascript:void(0)" 
                :class="{'active-custom-menu': $route.name.includes('ProfileDocumentsCreate')}"
                >Personal Documents
            </a>
        </div>

        <Profile />

    </div>
</template>

<script>
const Profile = () => import("@/components/common/Profile");

export default {
    name: "Sidebar",
    components: {
        Profile,
    },
    methods: {
        goto(routeName) {            
            this.$router.push({ name: routeName });
        }
    }
}
</script>

<style scoped>
@import "../../../assets/css/style.css";
@import "../../../assets/css/custom.css";
.v-application a {
    color: black;
}
</style>