<template>
    <div class="col-lg-3 col-md-3 sidebar-bg">
        <div class="list-group list-group-flush item-margin-top item-margin-top-mob">
            <a 
                @click="goto('TeamUpdatePrimaryInfo')"
                class="custom-sidebar-menu menu-mobile" 
                href="javascript:void(0)" 
                :class="{'active-custom-menu': $route.name==='TeamCreatePrimaryInfo' || $route.name==='TeamUpdatePrimaryInfo'}"
                >Primary Info
            </a>
            <a 
                @click="goto('TeamCreateDeadline')" 
                class="custom-sidebar-menu menu-mobile" 
                href="javascript:void(0)" 
                :class="{'active-custom-menu': $route.name==='TeamCreateDeadline'}"
                >Deadlines
            </a>
            <a 
                @click="goto('TeamCreateCollaborator')" 
                class="custom-sidebar-menu menu-mobile" 
                href="javascript:void(0)" 
                :class="{'active-custom-menu': $route.name==='TeamCreateCollaborator'}"
                >Add Collaborators
            </a>
            <a 
                @click="goto('TeamCreateAddDocument')" 
                class="custom-sidebar-menu menu-mobile" 
                href="javascript:void(0)" 
                :class="{'active-custom-menu': $route.name==='TeamCreateAddDocument'}"
                >Add Documents
            </a>
            <a 
                @click="goto('TeamCreateAssignDocument')" 
                class="custom-sidebar-menu menu-mobile" 
                href="javascript:void(0)" 
                :class="{'active-custom-menu': $route.name==='TeamCreateAssignDocument'}"
                >Assign Documents
            </a>
            <a 
                @click="goto('TeamCreateAddSupportStaff')" 
                class="custom-sidebar-menu menu-mobile" 
                href="javascript:void(0)" 
                :class="{'active-custom-menu': $route.name==='TeamCreateAddSupportStaff'}"
                >Add Support Staff
            </a>
            <a 
                @click="goto('TeamCreatePricingPlan')" 
                class="custom-sidebar-menu menu-mobile" 
                href="javascript:void(0)" 
                :class="{'active-custom-menu': $route.name==='TeamCreatePricingPlan'}"
                >Pricing Plan
            </a>
            <a 
                @click="goto('TeamCreateSummary')" 
                class="custom-sidebar-menu menu-mobile" 
                href="javascript:void(0)" 
                :class="{'active-custom-menu': $route.name==='TeamCreateSummary'}"
                >Project Summary
            </a>
            <a 
                @click="goto('TeamCreateStartProject')" 
                class="custom-sidebar-menu menu-mobile" 
                href="javascript:void(0)" 
                :class="{'active-custom-menu': $route.name==='TeamCreateStartProject'}"
                >Start the Project
            </a>
        </div>

        <Profile />
    </div>
</template>

<script>
const Profile = () => import("@/components/common/Profile");

export default {
    name: "Sidebar",
    components: {
        Profile,
    },
    methods: {
        goto(routeName) {            
            if(this.$route.query.mode && this.$route.query.mode == 'edit' && this.$route.name != routeName) {
                this.$router.push({ name: routeName, params: {id: this.$route.params.id}, query: {mode: this.$route.query.mode} });
            }
        }
    }
}
</script>

<style scoped>
@import "../../../assets/css/style.css";
@import "../../../assets/css/custom.css";
.v-application a {
    color: black;
}
</style>