<template>
  <div class="col-lg-9 col-md-9 ">
    <h4
      class="pt-3 pb-3 personal-project-txt d-none d-md-block d-lg-block d-xl-block"
    >
      Personal Project : Public
    </h4>
    <div class="custom-margin form-for-mob">
      <form>
        <v-alert
          v-if="serverErrors"
          outlined
          type="error"
          prominent
          border="left"
          dismissible
          style="width: 1040px"
        >
          <ul>
            <li
              v-for="(field, index) of Object.keys(serverErrors)"
              :key="index"
            >
              {{ serverErrors[field][0] }}
            </li>
          </ul>
        </v-alert>
        <div class="pb-3 pt-3">
          <h5 class="project-details">Project Details</h5>
          <label for="" class="project-label-txt">Project Name</label>
          <input
            type="text"
            class="form-control project-name-input-filed-summary"
            :value="project.title"
            readonly
          />
        </div>

        <div class="form-row pt-3 pb-3">
          <div class="col">
            <label class="project-label-txt">First Deadline</label>
            <input type="text" class="form-control deadline-field" :value="project.end_date_first" readonly/>
          </div>
          <div class="col deadline-field-margin">
            <label class="project-label-txt">Second Deadline</label>
            <input type="text" class="form-control deadline-field" :value="project.end_date_second" readonly/>
          </div>
        </div>

        <div class="form-row pt-3 pb-3">
          <div class="col">
            <label for="" class="project-label-txt"
              >Total Documents Collected</label
            >
            <input type="text" class="form-control deadline-field" :value="0" readonly/>
          </div>
        </div>

        <div class="form-row pt-3 pb-3">
          <div class="col">
            <label for="" class="project-label-txt"
              >Number of Collaborators</label
            >
            <input type="text" class="form-control deadline-field" :value="project.total_collaborators" readonly/>
          </div>
          <div class="col deadline-field-margin">
            <label for="" class="project-label-txt"
              >Number of Support Staff</label
            >
            <input type="text" class="form-control deadline-field" :value="project.total_support_stuff" readonly/>
          </div>
        </div>

        <div class="form-row pt-3 pb-3">
          <div class="col">
            <label for="" class="project-label-txt"
              >Total Documents Need to be Collected Across Collaborators</label
            >
            <input type="text" class="form-control deadline-field-across" :value="project.total_required_document" readonly/>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12 col-md-12 ">
            <table class="table">
              <thead>
                <tr>
                  <td class="all-txt" scope="col">Selected Pricing Plan</td>
                  <td class="all-txt" scope="col">Direct Charges</td>
                  <td class="all-txt" scope="col">Sales Tax</td>
                  <td class="all-txt" scope="col">
                    Total Charge on credit card
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <input type="text" :value="plan.plan_name" class="form-control all-last-field" />
                  </td>
                  <td>
                    <input type="text" :value="plan.subtotal" class="form-control all-last-field" />
                  </td>
                  <td>
                    <input type="text" :value="plan.tax" class="form-control all-last-field" />
                  </td>
                  <td>
                    <input type="text" :value="plan.total" class="form-control all-last-field" />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="pt-3 save-area">
              <button
                type="button"
                class="btn btn-primary save-btn"
                @click="reviewSummary('next')"
              >
                Save & Next
              </button>
              <span
                ><button
                  type="button"
                  class="btn btn-primary save-btn"
                  @click="reviewSummary('draft')"
                >
                  Save as Draft
                </button></span
              >
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  name: "Summary",
  data() {
    return {
      projectId: "",
      serverErrors: null,
      plan: []
    };
  },
  computed: {
    ...mapGetters("publicProjects", ["project"]),
  },
  methods: {
    ...mapActions("publicProjects", ["getPrimaryInfo"]),
    ...mapActions("pricingPlans", ["getPlanForSummary"]),
    ...mapActions("snackbar", ["showSnack"]),
    ...mapActions("profiles", ["getProfileData"]),

    reviewSummary(savingType) {
      this.serverErrors = null;
      this.showSnack({
        text: "project saved Successfully!",
        color: "success",
        timeout: 5000,
      });
      if (savingType === "next") {
        this.$router.push({
          path: `/personal-project/public/${this.projectId}/start`,
        });
      } else {
        this.$router.push({ path: "/personal-project/draft-projects" });
      }
    },

    getPlan(){
      this.$store
          .dispatch("pricingPlans/getPlanForSummary")
          .then(
          (res) => {
              this.plan = res.data.data
          },
          (error) => {
              console.log(error.response);
          }
          );
    },
  },
  created() {
    this.projectId = this.$route.params.id;

    this.getDefaultPlans();

    this.getPersonalAnnualplans();

    this.getPersonalMonthlyplans();

    this.getPaymentMethods();
  },
  mounted() {
    this.getPrimaryInfo(this.projectId);
    this.getPlan()
    this.getProfileData();
  }
};
</script>

<style scoped>
@import "../../../assets/css/style.css";
@import "../../../assets/css/custom.css";
</style>
