<template>
    <div class="col-lg-3 col-md-3 d-none d-md-block d-lg-block d-xl-block sidebar-bg">
        <div class="list-group list-group-flush item-margin-top custom-margin">
            <a class="custom-sidebar-menu" href="javascript:void(0)" :class="{'active-custom-menu': $route.name==='TeamDraftProjects'}" @click="goToDraftProjects()">Draft Projects</a>
            <a class="custom-sidebar-menu" href="javascript:void(0)" :class="{'active-custom-menu': $route.name==='TeamActiveProjects'}" @click="goToActiveProjects()">Active Projects</a>
            <a class="custom-sidebar-menu" href="javascript:void(0)" :class="{'active-custom-menu': $route.name==='TeamPastProjects'}" @click="goToPastProjects()">Past Projects</a>
            <a class="custom-sidebar-menu" href="javascript:void(0)" :class="{'active-custom-menu': $route.name==='TeamDeletedProjects'}" @click="goToDeletedProjects()">Deleted Projects</a>
        </div>

        <Profile />
    </div>
</template>

<script>
const Profile = () => import("@/components/common/Profile");

export default {
    name: "Sidebar",
    components: {
        Profile,
    },
    data() {
        return{ 
            teamId: null
        };
    },
    methods: {
        goToActiveProjects(){
            if(this.$route.name==='TeamActiveProjects') return false;

            this.$router.push({ path: `/team-project/${this.teamId}/active-projects` });
        },
        goToDraftProjects(){
            if(this.$route.name==='TeamDraftProjects') return false;
            this.$router.push({ path: `/team-project/${this.teamId}/draft-projects` });
        },
        goToPastProjects(){
            if(this.$route.name==='TeamPastProjects') return false;
            this.$router.push({ path: `/team-project/${this.teamId}/past-projects` });
        },
        goToDeletedProjects(){
            if(this.$route.name==='TeamDeletedProjects') return false;
            this.$router.push({ path: `/team-project/${this.teamId}/deleted-projects` });
        }

    },
    mounted() {
        this.teamId = this.$route.params.teamId;
    },

    
}
</script>

<style scoped>
@import "../../../assets/css/style.css";
@import "../../../assets/css/custom.css";

.custom-margin{
    margin-bottom: 100px !important;
}
</style>