<template>

        <div class="col-lg-9 col-md-9 ">
            <p class="team-name">{{teamName}}</p>
            <h4 class="pt-3 pb-3 personal-project-txt mt-custom">Team Project : Private</h4>
            <div class="custom-margin">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <h5>Thanks for starting your project. You can see the status of the project under active projects.</h5>
                        </div>
                        
                    </div>

                    <div class="row mt-10" style="height: 50px">
                        <div class="pb-3 save-area ml-2">
                            <button type="button" @click="goToActiveProjects()" class="btn btn-primary save-btn">Active Projects</button>
                        </div>
                    </div>
                        
            </div>
        </div>
    
</template>

<script>

export default {
    data() {
        return { 
            teamId: null,
            teamName: null
        };
    },
    name: "DraftGreeting",
    
    methods: {
        goToActiveProjects(){
            this.$router.push({ path: `/team-project/${this.teamId}/active-projects`, query: {name: this.teamName} });
        },
    },
    created() {
        this.teamId = this.$route.params.teamId;
    },
    mounted() {
        this.teamName = this.$route.query.name;
    }
    
}
</script>

<style scoped>
@import "../../../assets/css/style.css";
@import "../../../assets/css/custom.css";

.not_show{
    display: none;
}
.show{
    display: block;
}
</style>