<template>
  <div class="col-lg-9 col-md-9">
    <h4
      class="pt-3 pb-3 personal-project-txt d-none d-md-block d-lg-block d-xl-block"
    >
      Active Projects
    </h4>

    <div class="custom-margin">
        <form>
            <table class="table table-hover">
            <thead>
                <tr>
                <th class="active-table-top-bottom" scope="col">Project Name</th>
                <th class="active-table-top-bottom" scope="col">Project Added</th>
                <th class="active-table-top-bottom" scope="col">Doc Required</th>
                <th class="active-table-top-bottom" scope="col">Doc Submitted</th>
                <th class="active-table-top-bottom" scope="col">Doc Approved</th>
                <th class="active-table-top-bottom" scope="col">Host</th>
                <th class="active-table-top-bottom" scope="col">Deadline</th>
                <th class="active-table-top-bottom" scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr
                class="active-table"
                v-for="project in activeProjects"
                :key="project.id"
                >
                <td >
                    <p class="projectname-filed" readonly="readonly">
                    {{ project.title }}
                    </p>
                </td>
                <td>
                    <p class="start-date-field" readonly="readonly">
                    {{ project.added_at}}
                    </p>
                </td>
                <td>
                    <p class="type-filed" readonly="readonly">
                    {{ project.total_required_document }}
                    </p>
                </td>
                <td>
                    <p class="type-filed" readonly="readonly">
                    {{ project.collected_documents }}
                    </p>
                </td>
                <td>
                    <p class="type-filed" readonly="readonly">
                    <!-- {{ project.my_roles[0].user_type }} -->
                        {{ project.approved_documents }}
                    </p>
                </td>
                <td>
                    <p class="start-date-field" readonly="readonly">
                    {{ project.initiated_by }}
                    </p>
                </td>
                <td>
                    <p class="start-date-field" readonly="readonly">
                    {{ project.end_date_second }}
                    </p>
                </td>
                <td class="custom-icon-flex">
                    <span v-if="checkRole(project, ['COLLABORATOR']) && checkRole(project, ['HOST', 'SUPPORT_STAFF'])"
                    ><a href="javascript:void(0)"
                        ><img
                        src="../../../assets/fonts/add.png"
                        class="custom-view-icon"
                        alt=""/></a
                    ></span>
                    <span
                        ><a
                            ><img
                            src="../../../assets/fonts/delete.png"
                            @click="confirmDelete(project)"
                            class="custom-view-icon"
                            alt=""/></a
                    ></span>
                </td>
                </tr>
            </tbody>
            </table>
        </form>
    </div>

    <v-dialog v-model="dialogDelete" max-width="290">
      <v-card>
        <v-card-title dark text class="mb-2"> Delete </v-card-title>
        <v-card-text> Are you sure? You want to delete. </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="dialogDelete = false">
            No
          </v-btn>

          <v-btn color="green darken-1" text @click="deleteProject()">
            Yes
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  name: "ActiveProject",
  data() {
    return {
      dialogDelete: false,
      selectedProject: null,
      selected_id: "",
    };
  },
  computed: {
    ...mapGetters("publicProjects", ["activeProjects"]),
  },
  methods: {
    ...mapActions("publicProjects", ["getExternalActiveProjects"]),
    ...mapActions("snackbar", ["showSnack"]),

    confirmDelete(project) {
      this.selectedProject = project;
      this.dialogDelete = !this.dialogDelete;
    },

    deleteProject() {
      this.$store
        .dispatch("projectLists/deleteProject", this.selectedProject)
        .then(
          () => {
            this.showSnack({
              text: "Project succesfully deleted!",
              color: "success",
              timeout: 5000,
            });
            this.dialogDelete = false;
          },
          (error) => {
            this.showSnack({
              text: error.response.data.message,
              color: "error",
              timeout: 5000,
            });
            this.dialogDelete = false;
          }
        );
    },

    checkRole(project, accessRoles) {
      let hasRole = false;
      project.my_roles.forEach(role => {
        accessRoles.forEach(aRole => {
          if(aRole === role.user_type) {
            hasRole = true;
          }
        })  
      });
      return hasRole;
    },
    getUserType(myRoles) {
      let roleTxt = '';
      let userTypes = {HOST: 'Host', COLLABORATOR: 'Collaborator', SUPPORT_STAFF: 'Staff'}
      myRoles.forEach(role => {
        roleTxt += userTypes[role.user_type];
        roleTxt += role.scopes?': '+role.scopes+', ':', ';
      });
      return roleTxt;
    }
  },
  mounted() {
    this.getExternalActiveProjects();
  },
};
</script>

<style scoped>
@import "../../../assets/css/style.css";
@import "../../../assets/css/custom.css";
</style>
