<template>
    <div class="col-lg-9 col-md-9">
        <h4 class="pt-3 pb-3 dashboard-txt">External Public Project</h4>
        <div class="row custom-margin">
            <div class="col-lg-4 col-md-4">
                <div class="custom-card-new " @click="goToFindProjects()">
                    <img src="../../../assets/img/add-project.jpg" class="card-icon-new" alt="">
                    <p class="card-txt">Submit ID #</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="custom-card-new large-screen-card-two" @click="goToProjects()">
                    <img src="../../../assets/img/projects.jpg" class="card-icon-new" alt="">
                    <p class="card-txt">Status of Projects</p>
                </div>
            </div>
        </div>
        
    </div>
    
</template>

<script>
export default {
    name: "ExternalPublicProjectDashboard",
    methods: {
        goToFindProjects(){
            this.$router.push({ path: "/external-public-project/find-project" });
        },

        goToProjects(){
            this.$router.push({ path: "/external-project/active-projects" });
        }
    }
}
</script>

<style scoped>
@import "../../../assets/css/style.css";
@import "../../../assets/css/custom.css";

</style>