<template>
  <div class="col-lg-9 col-md-9">
    <h4
      class="pt-3 pb-3 personal-project-txt d-none d-md-block d-lg-block d-xl-block"
    >
      Active Projects
    </h4>

    <div class="custom-margin">
        <form>
            <table class="table table-hover">
            <thead>
                <tr>
                <th class="active-table-top-bottom" scope="col">Project Name</th>
                <th class="active-table-top-bottom" scope="col">Project Added</th>
                <th class="active-table-top-bottom" scope="col">Doc Required</th>
                <th class="active-table-top-bottom" scope="col">Doc Submitted</th>
                <th class="active-table-top-bottom" scope="col">Doc Approved</th>
                <th class="active-table-top-bottom" scope="col">Host</th>
                <th class="active-table-top-bottom" scope="col">Deadline</th>
                
                <th class="active-table-top-bottom" scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr
                class="active-table"
                v-for="project in activeProjects"
                :key="project.id"
                >
                <td >
                    <p class="projectname-filed" readonly="readonly">
                    {{ project.title }}
                    </p>
                </td>
                <td>
                    <p class="start-date-field" readonly="readonly">
                    {{ project.added_at}}
                    </p>
                </td>
                <td>
                    <p class="type-filed" readonly="readonly">
                    {{ project.total_required_document }}
                    </p>
                </td>
                <td>
                    <p class="type-filed" readonly="readonly">
                    {{ project.collected_documents }}
                    </p>
                </td>
                <td>
                    <p class="type-filed" readonly="readonly">
                    <!-- {{ project.my_roles[0].user_type }} -->
                        {{ project.approved_documents }}
                    </p>
                </td>
                <td>
                    <p class="start-date-field" readonly="readonly">
                    {{ project.initiated_by }}
                    </p>
                </td>
                <td>
                    <p class="start-date-field" readonly="readonly">
                    {{ project.end_date_second }}
                    </p>
                </td>
                <td class="custom-icon-flex">
                    <span
                        ><a
                            ><img
                            src="../../../assets/fonts/delete.png"
                            @click="confirmDelete(project.id)"
                            class="custom-view-icon"
                            alt=""/></a
                    ></span>
                </td>
                </tr>
            </tbody>
            </table>
        </form>
    </div>

    <v-dialog v-model="dialogForceDelete" max-width="400">
        <v-card>
            <v-card-title dark text class="mb-2"> Restore </v-card-title>
            <v-card-text>
            Are you sure? You want to Force delete the project?
            </v-card-text>
            <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="green darken-1" text @click="dialogForceDelete = false">
                No
            </v-btn>

            <v-btn color="green darken-1" text @click="deleteProject()">
                Yes
            </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
    name: "DeleteProject",
    data() {
        return {
        dialogStop: false,
        dialogForceDelete: false,
        copyProject: false,
        selected_id: "",
        };
    },
    computed: {
        ...mapGetters("publicProjects", ["deletedProjects"]),
    },
    methods: {
        ...mapActions("publicProjects", ["getExternalDeletedProjects"]),
        ...mapActions("snackbar", ["showSnack"]),

        confirmStop(project_id) {
            this.selected_id = project_id;
            this.dialogStop = !this.dialogStop;
        },

        confirmDelete(project_id) {
            this.selected_id = project_id;
            this.dialogForceDelete = !this.dialogForceDelete;
        },

        stopProject(){
            this.$store.dispatch("privateProjects/stopProject", this.selected_id);
            this.dialogStop = false;
            this.getActiveProjects();
        },

        deleteProject() {
            this.$store.dispatch("projectLists/forceDeleteProject", this.selected_id).then(
                () => {
                this.showSnack({
                    text: "Project succesfully deleted.",
                    color: "success",
                    timeout: 5000,
                });
                this.dialogForceDelete = false;
                this.getDeletedProjects();
                },
                (error) => {
                this.showSnack({
                    text: error.response.data.message,
                    color: "error",
                    timeout: 5000,
                });
                this.dialogForceDelete = false;
                }
            );
        },
    },
    mounted() {
        this.getExternalDeletedProjects();
    },
};
</script>

<style scoped>
@import "../../../assets/css/style.css";
@import "../../../assets/css/custom.css";
</style>
