<template>

        <div class="col-lg-9 col-md-9 ">
            <h4 class="pt-3 pb-3 personal-project-txt">External Public Project</h4>
            <div class="custom-margin">
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <label for="" class="deadline-txt">Project Name</label><br />
                            <input type="test" class="custom-input-field" :value="details.title">
                        </div>
                    </div> 
                    <div class="row mt-5">
                        <div class="col-lg-4 col-md-4">
                            <label for="" class="deadline-txt">Document Submission Deadline</label><br />
                            <input type="test" class="custom-input-field" :value="details.end_date_second">
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <label for="" class="deadline-txt">Project Owner</label><br />
                            <input type="test" class="custom-input-field"  :value="details.project_owner.first_name + ' ' + details.project_owner.last_name">
                        </div>
                    </div> 

                    <div class="row mt-5">
                        <div class="col-lg-12 col-md-12">
                            <label for="" class="deadline-txt">Project Details</label><br />
                            <textarea
                                class="form-control details-txtarea"
                                id="exampleFormControlTextarea1"
                                :value="details.project_summary"
                            ></textarea>
                        </div>
                    </div>

                    <div class="row mt-5">
                        
                        <div class="col-lg-12 col-md-12">
                            <p>Document Requested</p>
                            <table class="table table-hover">
                                <thead>
                                    <th class="table-header" scope="col">Document Name</th>
                                    <th class="table-header" scope="col">Template</th>
                                    <th class="table-header" scope="col">File size limit</th>
                                    <th class="table-header" scope="col">File type limit</th>
                                </thead>
                                <tbody>
              
                                    <tr v-for="(document, index) in details.documents" :key="index">
                                        <td><p class="projectname-filed" readonly="readonly">{{document.title}}</p></td>
                                        <td><p class="projectname-filed" readonly="readonly">{{document.template}}</p></td>
                                        <td><p class="projectname-filed" readonly="readonly">{{document.max_size}}{{document.size_unit}}</p></td>
                                        <td><p class="projectname-filed" readonly="readonly">{{document.formats}}</p></td>
                                    </tr>
    
                                    
                                </tbody>
                            </table>
                            
                        </div>
                    </div>

                    <div class="row mt-5 mb-5">
                        <div class="col-lg-6 col-md-6">
                        </div>
                        <div class="col-lg-6 col-md-6" style="text-align: right">
                            <button type="button" @click="addTheProject()" class="btn btn-primary next-btn">Add the project</button>
                            <button type="button" @click="goToExternalDashboard()"  class="btn btn-primary next-btn">Dashboard</button>
                        </div>
                    </div>
            </div>
        </div>
    
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
    name: "Details",
    data(){
        return {
            pid: null 
        }
    },
    computed: {
        ...mapGetters("privateProjects", ["details"]),
    },
    methods: {
        ...mapActions("privateProjects", ["getProjectDetailsByPid"]),
        ...mapActions("snackbar", ["showSnack"]),

        goToExternalDashboard(){
            this.$router.push({ path: `/external-public-project/dashboard` });
        },

        addTheProject(){
            console.log(this.details);
            this.$store.dispatch("snackbar/showOverlay", 1);
            this.$store
                .dispatch("privateProjects/addProject", {
                id: this.details.id,
                })
                .then(
                () => {
                    this.$store.dispatch('snackbar/showOverlay', 0);
                    //this.serverErrors = null;
                    this.showSnack({
                    text: "Add projects Successfully!",
                    color: "success",
                    timeout: 5000,
                    });
                    this.$store.dispatch("snackbar/showOverlay", 0);
                    
                    this.$router.push({ path: "/external-public-project/greetings" });
                    
                },
                (error) => {
                    console.log(error.response);
                    this.$store.dispatch("snackbar/showOverlay", 0);
                    this.showSnack({
                        text: error.response.data.message,
                        color: "error",
                        timeout: 5000,
                    });
                    // if (error.response.data.errors) {
                    // this.serverErrors = error.response.data.errors;
                    // }
                }
                );
            //this.$router.push({ path: "/external-public-project/greetings" });
        }
    },
    created() {
        this.pid = this.$route.params.pid;
    },
    mounted() {
        this.getProjectDetailsByPid(this.pid);
    }
}
</script>

<style scoped>
@import "../../../assets/css/style.css";
@import "../../../assets/css/custom.css";

.not_show{
    display: none;
}
.show{
    display: block;
}
.table{
    width: 50%;
}
.next-btn{
    border: 1px solid #8A1DFF;
    background: #FF5F1F;
    color: white;
    height: 48px;
    margin-left: 10px;
    font-family: 'Poppins';
}

</style>