<template>

        <div class="col-lg-9 col-md-9 ">
    
            <h4 style="margin-left: 32px" class="pt-3 pb-3 personal-project-txt">External Public Project</h4>
            <div class="custom-margin">
                    <v-alert
                        v-if="serverErrors"
                        outlined
                        type="error"
                        prominent
                        border="left"
                        dismissible
                        style="width: 1040px"
                        >
                        <ul>
                            <li
                            v-for="(field, index) of Object.keys(serverErrors)"
                            :key="index"
                            >
                            {{ serverErrors[field][0] }}
                            </li>
                        </ul>
                    </v-alert>
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <label class="deadline-txt">Enter the Project ID</label><br />
                            <input type="test" v-model="pid" class="custom-input-field" >
                            <p v-bind:class="{show: error.pid, not_show: !error.pid}" style="color:red">*pid is required</p>
                            <span
                                ><input
                                @click="LocateProject()"
                                class="submit-btn btn-text-issue-fix"
                                value="Locate"
                                readonly
                            /></span>
                        </div>

                        <div class="col-lg-12 col-md-12" v-bind:class="{show: bottom_part, not_show: !bottom_part}">
                            <hr class="hr-style" />
                            <p style="margin-bottom: 50px">The project exists. Would you like to see the details?</p>
                            <button type="button" @click="goToProjectDetails()" class="btn btn-primary next-btn mr-5">Yes, show me the details</button>
                            <button type="button" @click="goToExternalDashboard()"  class="btn btn-primary next-btn">No, go to dashboard</button>
                        </div>
                        
                    </div> 
                        
            </div>
        </div>
    
</template>

<script>
import { mapActions } from "vuex";

export default {
    name: "FindProject",
    data(){
        return {
            pid: null,
            validForm: true,
            bottom_part: false,
            error:{
                pid: false,
            },
            
            serverErrors: null,
        }
    },
    methods: {
        ...mapActions("snackbar", ["showSnack"]),

        goToProjectDetails(){
            this.$router.push({ path: `/external-public-project/${this.pid}/project-details` });
        },
        goToExternalDashboard(){
            this.$router.push({ path: `/external-public-project/dashboard` });
        },
        LocateProject(){
            this.validationTest()
            if(this.validForm){
                this.$store.dispatch("snackbar/showOverlay", 1);
                this.$store
                    .dispatch("privateProjects/verifyPid", {
                        pid: this.pid
                    })
                    .then(
                    (res) => {
                        console.log(res);
                        this.$store.dispatch('snackbar/showOverlay', 0);
                        this.serverErrors = null;
                        this.showSnack({
                        text: "Project verified Successfully!",
                        color: "success",
                        timeout: 5000,
                        });
                        this.$store.dispatch("snackbar/showOverlay", 0);
                        this.bottom_part = true
                    },
                    (error) => {
                        console.log(error.response);
                        this.$store.dispatch("snackbar/showOverlay", 0);
                        this.showSnack({
                        text: error.response.data.message,
                        color: "error",
                        timeout: 5000,
                        });
                        if (error.response.data.errors) {
                        this.serverErrors = error.response.data.errors;
                        }
                        this.bottom_part = false
                    }
                    );
            }
        },
        validationTest(){
            if(!this.pid){
                this.error.pid = true
                this.validForm = false
            }else{
                this.error.pid = false
                this.validForm = true
            }
        },
    }
    
}
</script>

<style scoped>
@import "../../../assets/css/style.css";
@import "../../../assets/css/custom.css";

.not_show{
    display: none;
}
.show{
    display: block;
}

.next-btn{
    border: 1px solid #8A1DFF;
    background: #FF5F1F;
    color: white;
    height: 48px;
    font-family: 'Poppins';
}

.hr-style{
    background: #8A1DFF !important;
    width:60%;
    height: 2px;
}
</style>