<template>

        <div class="col-lg-9 col-md-9 ">
            <h4 class="pt-3 pb-3 personal-project-txt">External Public Project</h4>
            <div class="custom-margin">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <p>Thanks for adding the project.</p>
                        </div>
                    </div> 

                    <div class="row mt-10 ">
                        <div class="col-lg-12 col-md-12">
                            <button type="button" @click="goToDashboard()" class="btn btn-primary next-btn">Dashboard</button>
                        </div>
                    </div> 
                        
            </div>
        </div>
    
</template>

<script>

export default {
    name: "FindProject",
    methods: {
        goToDashboard(){
            this.$router.push({ path: "/external-public-project/dashboard" });
        }
    }
    
}
</script>

<style scoped>
@import "../../../assets/css/style.css";
@import "../../../assets/css/custom.css";

.not_show{
    display: none;
}
.show{
    display: block;
}

.next-btn{
    border: 1px solid #8A1DFF;
    background: #FF5F1F;
    color: white;
    height: 48px;
    font-family: 'Poppins';
}

</style>