<template>
    <div class="col-lg-9 col-md-9">
        <h4
        class="pt-3 pb-3 mt-10 personal-project-txt mt-custom d-none d-md-block d-lg-block d-xl-block"
        >
            Change Pricing Plans - Personal
        </h4>

        <h6 class="ml-10 mt-5" v-if="!plan">No Pricing plan found</h6>

        <div class="custom-margin form-for-mob mt-8">
            <hr class="row-line" />

            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-2 mb-3 head-text">Personal Account</div>
            </div>
            
            <hr class="row-line" />

            <div class="row">
                <div class="col-md-2 mb-3">Pricing Plan</div>
                <div class="col-md-2">{{plan.plan_name}}</div>
            </div>

            <hr class="row-line" />

            <div class="row">
                <div class="col-md-2 mb-3">Credit Card</div>
                <div class="col-md-2">{{plan.nickname}}</div>
            </div>


            <hr class="row-line" />

            <div class="row">
                <div class="col-md-2 mb-3">Billing Period</div>
                <div class="col-md-2">{{plan.time_period}}</div>
            </div>


            <hr class="row-line" />

            <div class="row">
                <div class="col-md-2 mb-3">Active Projects</div>
                <div class="col-md-2">{{plan.active_projects > 0 ? 'Yes' : 'No'}}</div>
            </div>


            <hr class="row-line" />

            <div class="row">
                <div class="col-md-2 mb-3">Past Projects</div>
                <div class="col-md-2">{{plan.past_projects > 0 ? 'Yes' : 'No'}}</div>
            </div>


            <hr class="row-line" />
            <div class="row">
                <div class="col-md-2"></div>
                <button 
                    type="button" 
                    class="submit-btn-new" 
                    @click="goToUpgradeExecute()">Upgrade
                </button>
            </div>

        </div>

        <!-- <v-dialog v-model="dialogLogout" max-width="290">
            <v-card>
                <v-card-title dark text class="mb-2"> Upgrade Pricing Plan </v-card-title>
                <v-card-text> Are you sure? You want to upgrade your pricing. </v-card-text>
                <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="green darken-1" text @click="dialogLogout = false">
                    No
                </v-btn>

                <v-btn color="green darken-1" text @click="doLogout()">
                    Yes
                </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog> -->
    </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
    name: "ChangePlansPersonal",
    data() {
        return {
            plan: null
        }
    },
    computed: {
        ...mapGetters("pricingPlans", ["personalPlans"])
    },
    methods: {
        ...mapActions("pricingPlans", ["getPersonalPlans"]),

        goToUpgradeExecute(){
            this.$router.push({ path: "/pricing/change-plans/personal/execute" });
        }
    },
    created() {
        //console.log("uuuupdateddd")
        this.$store.dispatch("pricingPlans/getPersonalPlans").then(
            (res) => {  
                console.log(res.data.data)
                this.plan = res.data.data
            },
            (error) => {
                console.log(error.response);
            }
        );          
    }
};
</script>

<style scoped>
@import "../../../assets/css/style.css";
@import "../../../assets/css/custom.css";
</style>

<style scoped>
.payment-head{
    text-align: center;
    font-weight: bold;
}
.mar_zero{
    margin: 0;
}

.active_plan{
    color: #8A1DFF;
}

.row-line{
    border-bottom: 3px solid #8A1DFF;
    margin-top: 0 !important;
    width: 35%;
}

.head-text{
    color: #FF5F1F;
    font-weight: bold;
}

.delete-btn-custom{
    border: 2px solid black;
    background: #FF5F1F;
    color: white;
    width: 100px;
    height: 40px;
    line-height:15px;
    margin-left: 10px;
    font-family: 'Poppins';
}
</style>
