<template>
    <div class="col-lg-9 col-md-9">
        <h4
        class="pt-3 pb-3 personal-project-txt d-none d-md-block d-lg-block d-xl-block"
        >
        Change Pricing Plans : Personal
        </h4>

        <div class="custom-margin form-for-mob">
        
            <v-alert
            v-if="serverErrors"
            outlined
            type="error"
            prominent
            border="left"
            dismissible
            style="width: 1040px"
            >
            <ul>
                <li
                v-for="(field, index) of Object.keys(serverErrors)"
                :key="index"
                >
                {{ serverErrors[field][0] }}
                </li>
            </ul>
            </v-alert>
            <p>
            Do you want to change the pricing plan? If yes,please select one of
            the following plan. Your default pricing plan is highlighted, if any.
            </p>

            <div class="custom-margin form-for-mob">
                <p class="mt-5">
                <span 
                    style="cursor: pointer" 
                    v-bind:class="{active_plan: planAnnual}" 
                    @click="goToAnnual()">Annual Plans
                </span>
                    || 
                <span 
                    style="cursor: pointer" 
                    v-bind:class="{active_plan: planMonthly}" 
                    @click="goToMonthly()">Monthly Plans
                </span>
                </p>

                <div class="row price-card-hide-for-mob">
                <div class="col-lg-3 col-md-3">
                    <div class="card price-card-new">
                        <div class="card-body">
                            <p class="text-center">
                            <button type="button" class="btn btn-primary price-pkg-btn bronze-btn">
                                {{plans[0].plan_name}}
                            </button>
                            </p>
                            <h1 class="text-center">$ {{plans[0].plan_price}}*</h1>
                            <p class="text-center mar_zero">Active Projects</p>
                            <h4 class="text-center">{{plans[0].max_active_project}}</h4>

                            <p class="text-center mar_zero">Total Storage (GB)</p>
                            <h4 class="text-center">{{plans[0].storage}}</h4>

                            <p class="text-center mar_zero">Active Collaborators and Support Staffs</p> 
                            <h4 class="text-center">{{plans[0].max_staff}}</h4>
                        </div>
                    </div>
                    <div class="row mt-5 ml-10" v-if="plans[0].time_period === 'ANNUALLY' && planAnnual">
                        <p>
                        <span>Default - {{plans[0].time_period}}</span>
                        </p>
                    </div>
                    <div class="row mt-5" v-else>
                        <p class="update-btn-price">
                            <input 
                                type="submit" 
                                @click="confirmUpdatePlan(plans[0].id, 0)" 
                                class="submit-btn-new" 
                                :value="selected_plan === 0 ? 'Plan is selected' : 'Update'"
                                :class="{'selected_plan' : selected_plan === 0}"
                            />
                        </p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3">
                    <div class="card price-card-new price-card-mobile">
                        <div class="card-body">
                            <p class="text-center">
                            <button type="button" class="btn btn-primary price-pkg-btn silver-btn">
                                {{plans[1].plan_name}}
                            </button>
                            </p>
                            <h1 class="text-center">$ {{plans[1].plan_price}}*</h1>
                            <p class="text-center mar_zero">Active Projects</p>
                            <h4 class="text-center">{{plans[1].max_active_project}}</h4>

                            <p class="text-center mar_zero">Total Storage (GB)</p>
                            <h4 class="text-center">{{plans[1].storage}}</h4>

                            <p class="text-center mar_zero">Active Collaborators and Support Staffs</p> 
                            <h4 class="text-center">{{plans[1].max_staff}}</h4>
                        </div>
                    </div>             

                    <div class="row mt-5">
                        <p class="update-btn-price">
                            <input 
                                type="submit" 
                                @click="confirmUpdatePlan(plans[1].id, 1)" 
                                class="submit-btn-new" 
                                :value="selected_plan === 1 ? 'Plan is selected' : 'Update'"
                                :class="{'selected_plan' : selected_plan === 1}"
                            />
                        </p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3">
                    <div class="card price-card-new price-card-mobile">
                        <div class="card-body">
                            <p class="text-center">
                            <button type="button" class="btn btn-primary price-pkg-btn gold-btn">
                                {{plans[2].plan_name}}
                            </button>
                            </p>
                            <h1 class="text-center">$ {{plans[2].plan_price}}*</h1>
                            <p class="text-center mar_zero">Active Projects</p>
                            <h4 class="text-center">{{plans[2].max_active_project}}</h4>

                            <p class="text-center mar_zero">Total Storage (GB)</p>
                            <h4 class="text-center">{{plans[2].storage}}</h4>

                            <p class="text-center mar_zero">Active Collaborators and Support Staffs</p> 
                            <h4 class="text-center">{{plans[2].max_staff}}</h4>
                        </div>
                    </div>
                    
                    <div class="row mt-5">
                        <p class="update-btn-price">
                            <input 
                                type="submit" 
                                @click="confirmUpdatePlan(plans[2].id, 2)" 
                                class="submit-btn-new" 
                                :value="selected_plan === 2 ? 'Plan is selected' : 'Update'"
                                :class="{'selected_plan' : selected_plan === 2}"
                            />
                        </p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3">
                    <div class="card price-card-new price-card-mobile">
                        <div class="card-body">
                            <p class="text-center">
                            <button type="button" class="btn btn-primary price-pkg-btn platinum-btn">
                                PLATINUM
                            </button>
                            </p>
                            <h1 class="text-center">Contact Sales</h1>
                            <p class="text-center mar_zero" style="color: #FF7945">sales@hellodeadlines.com</p> 
                        </div>
                    </div>
                </div>
                </div>

            </div>

            

            <div class="row mt-3">
            <div class="col-lg-4 col-md-4">
                <table class="table">
                <thead>
                    <tr>
                    <td class="all-txt" scope="col">Selected Credit Card</td>
                    <!-- <td class="all-txt" scope="col">Selected Credit Card</td>
                    <td class="all-txt" scope="col">Selected Credit Card</td>
                    <td class="all-txt" scope="col">Selected Credit Card</td> -->
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td>
                        <select
                        class="form-select pricing-input-field"
                        aria-label="Default select example"
                        @change="payMetSelect($event)"
                        >
                        <option selected></option>
                        <option v-for="(method, index) in paymentMethods" :key="index" :value="method.id">{{method.brand + ' ' + method.last_four_digit}}</option>
                        </select>
                    </td>
                    
                    </tr>
                    <p
                        v-bind:class="{ show: cc_error, not_show: !cc_error }"
                        style="color:red"
                    >
                        *Credit card select is required
                    </p>
                </tbody>
                </table>
            </div>
            </div>
            <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="pt-3 save-area">
                <button type="button" class="btn btn-primary save-btn" @click="savePlan('next')">
                    Save & Next
                    </button>
                
                </div>
            </div>
            </div>
        
        </div>

        <v-dialog v-model="dialogUpdatePlan" max-width="290">
            <v-card>
                <v-card-title dark text class="mb-2"> Change Plan </v-card-title>
                <v-card-text> Are you sure, you want to select this plan? </v-card-text>
                <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="green darken-1" text @click="notSureUpdate()">
                    No
                </v-btn>

                <v-btn color="green darken-1" text @click="saveUpdatePlan()">
                    Yes
                </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
    name: "PricingPlan",
    data() {
        return {
            dialogUpdatePlan: false,
            serverErrors: null,
            defaultPlan: {},
            planAnnual: false,
            planMonthly: false,
            plans: [],
            plansToDisplayAnnual: [],
            plansToDisplayMonthly: [],
            selected_plan: null,
            payment_method_id: null,
            plan_id: null,
            cc_error: false,
            isValid: true,
        };
    },
    computed: {
        ...mapGetters("pricingPlans", ["defaultPlans", "personalAnnual", "personalMonthly", "paymentMethods"])
    },
    methods: {
        ...mapActions("snackbar", ["showSnack"]),
        ...mapActions("pricingPlans", ["getDefaultPlans", "getPaymentMethods"]),
        ...mapActions("pricingPlans", ["getPersonalAnnualplans", "getPersonalMonthlyplans"]),

        payMetSelect(event){
            this.payment_method_id = event.target.value
        },

        confirmUpdatePlan(id, index){
            //console.log(id , index)
            this.plan_id = id;
            this.selected_plan = index;
            this.dialogUpdatePlan = !this.dialogUpdatePlan;
        },

        notSureUpdate(){
            this.plan_id = this.defaultPlan.id
            this.selected_plan = null
            this.dialogUpdatePlan = !this.dialogUpdatePlan;
        },

        saveUpdatePlan(){
            this.dialogUpdatePlan = !this.dialogUpdatePlan;
        },

        savePlan(savingType){
            //console.log(savingType);
            //this.dialogUpdatePlan = !this.dialogUpdatePlan;

            //console.log(this.plan_id);
            this.validForm();

                if(this.isValid){
                let formData = new FormData();

                formData.append("plan_id", this.plan_id);
                formData.append("payment_method_id", this.payment_method_id);

                let dispatchUrl = "pricingPlans/subscribePersonalPlan";

                this.$store
                        .dispatch(dispatchUrl, formData).then(
                        () => {
                            this.serverErrors = null;
                            this.showSnack({
                            text: "Pricing plan Successfully updated!",
                            color: "success",
                            timeout: 5000,
                            });   
                            
                            if (savingType === "next") {
                                this.$router.push({
                                path: `/pricing/change-plans/personal`,
                                });
                            } else {
                                this.$router.push({ path: "/pricing/change-plans/personal" });
                            }
                        },
                        (error) => {
                            console.log(error.response);
                            this.plan_id = null;
                            this.selected_plan = null,
                            this.showSnack({
                            text: error.response.data.message,
                            color: "error",
                            timeout: 5000,
                            });
                            if (error.response.data.errors) {
                                this.serverErrors = error.response.data.errors;
                            }
                        }
                    );  
                }
        },

        validForm(){
            if(!this.payment_method_id){
            this.cc_error = true;
            this.isValid = false;
            }else{
                this.cc_error = false;
                this.isValid = true;
            }
        },

        goToAnnual(){
            if(this.defaultPlan.time_period === "ANNUALLY")
            {
            this.plans = []
            this.plans = this.plansToDisplayAnnual
            //this.plans.unshift(this.defaultPlan)
            this.planAnnual = true
            this.planMonthly = false
            console.log("pp",this.plans)

            }else{
            this.plans = []
            this.plans = this.plansToDisplayAnnual
            this.planAnnual = true
            this.planMonthly = false
            }
        },
        goToMonthly(){
            if(this.defaultPlan.time_period === "MONTHLY")
            {
            this.plans = []
            this.plans = this.plansToDisplayMonthly
            //this.plans.unshift(this.defaultPlan)
            this.planMonthly = true
            this.planAnnual = false
            }else{
            this.plans = []
            this.plans = this.plansToDisplayMonthly
            this.planMonthly = true
            this.planAnnual = false
            }
        },
        // savePlan(savingType) {
        //     this.serverErrors = null;
        //       this.showSnack({
        //       text: "Pricing is ok",
        //       color: "success",
        //       timeout: 5000,
        //     });
        //     if (savingType === "next") {
        //       this.$router.push({
        //         path: `/personal-project/${this.projectId}/summary`,
        //         query: {mode: this.$route.query.mode?this.$route.query.mode:'create'}
        //       });
        //     } else {
        //       this.$router.push({ path: "/personal-project/draft-projects" });
        //     }
        // }
        },
        created() {
            this.getDefaultPlans();

            this.getPersonalAnnualplans();

            this.getPersonalMonthlyplans();

            this.getPaymentMethods();
        },
        mounted() {
        this.defaultPlan = this.defaultPlans.personal_plan;
            this.plansToDisplayAnnual = this.personalAnnual;
            this.plansToDisplayMonthly = this.personalMonthly;
            console.log("aa",this.personalAnnual)
            this.plan_id = this.defaultPlan.id


        if(this.defaultPlan.time_period === "ANNUALLY")
        {
            this.planAnnual = true
            this.plansToDisplayAnnual = [];
            this.planAnnual = true
            var tempDefault = this.defaultPlan
            var tempAnn = []
            this.personalAnnual.forEach(function(plan) {
                console.log("bb",plan)
                if(plan.plan_name != tempDefault.plan_name){
                tempAnn.push(plan)
                }
            })
            this.plansToDisplayAnnual = tempAnn
        }else{
            this.planMonthly = true
            this.plansToDisplayMonthly = [];
            this.planMonthly = true
            var tempMon = []
            this.personalMonthly.forEach(function(plan) {
                console.log("bb",plan)
                if(plan.plan_name != tempDefault.plan_name){
                tempMon.push(plan)
                }
            })
            this.plansToDisplayMonthly = tempMon
        }

        if(this.planAnnual){
            this.plans = this.plansToDisplayAnnual
            this.plans.unshift(this.defaultPlan)
        }else{
            this.plans = this.plansToDisplayMonthly
            this.plans.unshift(this.defaultPlan)
        }

        console.log("uu",this.plans)
    }
};
</script>

<style scoped>
@import "../../../assets/css/style.css";
@import "../../../assets/css/custom.css";
.not_show {
   display: none;
}
.show {
   display: block;
}

.mar_zero{
    margin: 0;
}

.active_plan{
    color: #8A1DFF;
}

.selected_plan{
    background-color: rgb(213, 240, 173);
    color: black;
    font-weight: bold;
}

td{
  border: 1px solid black;
}

select{
  border: 1px solid black;
}
</style>
