<template>

        <div class="col-lg-9 col-md-9 ">
            <h4 class="pt-3 pb-3 personal-project-txt">Credit Card</h4>
            <div class="custom-margin">

                <v-alert
                    v-if="serverErrors"
                    outlined
                    type="error"
                    prominent
                    border="left"
                    dismissible
                    style="width: 1040px"
                    >
                    <ul>
                        <li
                        v-for="(field, index) of Object.keys(serverErrors)"
                        :key="index"
                        >
                        {{ serverErrors[field][0] }}
                        </li>
                    </ul>
                </v-alert>
                    
                <div class="row">
                    <div class="col-md-3">
                        <h6 class="mb-4">Credit Card Information</h6>

                        <label for="" class="deadline-txt">Credit Card Nick Name(for memory)</label>
                        <input type="text" v-model="card_info.nickname" class="custom-input-creditCard mb-3" >
                        <p v-bind:class="{ show: card_error.nickname, not_show: !card_error.nickname }" style="color:red">*Nickname is required</p>
                        
                        <label for="" class="deadline-txt">Credit Card Number</label>
                        <input type="text" v-model="card_info.number" class="custom-input-creditCard mb-3" >
                        <p v-bind:class="{ show: card_error.number, not_show: !card_error.number }" style="color:red">*Number is required</p>
                        
                        <label for="" class="deadline-txt">Expiry Date</label>
                        <input type="date" v-model="card_info.expire_date" class="custom-input-creditCard mb-3" >
                        <p v-bind:class="{ show: card_error.expire_date, not_show: !card_error.expire_date }" style="color:red">*Expire date is required</p>
                        
                        <label for="" class="deadline-txt">CVV</label>
                        <input type="text" v-model="card_info.cvv" class="custom-input-creditCard mb-3" >
                        <p v-bind:class="{ show: card_error.cvv, not_show: !card_error.cvv }" style="color:red">*CVV is required</p>

                        

                    </div>

                    <div class="col-md-3">
                        <h6 class="mb-4">Mailing Information</h6>
                        <label for="" class="deadline-txt">Name</label>
                        <input type="text" v-model="mailing_info.name" class="custom-input-creditCard mb-3" >
                        <p v-bind:class="{ show: mail_error.name, not_show: !mail_error.name }" style="color:red">*Name is required</p>

                        <label for="" class="deadline-txt">Address Line #1</label>
                        <input type="text" v-model="mailing_info.line1" class="custom-input-creditCard mb-3" >
                        <p v-bind:class="{ show: mail_error.line1, not_show: !mail_error.line1 }" style="color:red">*Address line # 1 is required</p>

                        <label for="" class="deadline-txt">Address Line #2</label>
                        <input type="text" v-model="mailing_info.line2" class="custom-input-creditCard mb-3" >
                        <!-- <p v-bind:class="{ show: mail_error.line2, not_show: !mail_error.line2 }" style="color:red">*Address line2 required</p> -->

                        <label for="" class="deadline-txt">City</label>
                        <input type="text" v-model="mailing_info.city" class="custom-input-creditCard mb-3" >
                        <p v-bind:class="{ show: mail_error.city, not_show: !mail_error.city }" style="color:red">*City is required</p>

                        <label for="" class="deadline-txt">State</label>
                        <input type="text" v-model="mailing_info.state" class="custom-input-creditCard mb-3" >
                        <p v-bind:class="{ show: mail_error.state, not_show: !mail_error.state }" style="color:red">*State is required</p>

                        <label for="" class="deadline-txt">Country</label>
                        <country-select v-model="mailing_info.country" :country="mailing_info.country" topCountry="US" class="pl-2 custom-input-creditCard mb-3" />
                        <!-- <input type="text" v-model="mailing_info.country" class="form-control custom-input-creditCard mb-3" > -->
                        <p v-bind:class="{ show: mail_error.country, not_show: !mail_error.country }" style="color:red">*Country is required</p>

                        <label for="" class="deadline-txt">Zip Code</label>
                        <input type="text" v-model="mailing_info.zip_code" class="custom-input-creditCard mb-3" >
                        <p v-bind:class="{ show: mail_error.zip_code, not_show: !mail_error.zip_code }" style="color:red">*Zip code is required</p>
                        
                    </div>
                    <div class="col-md-3">
                        <h6 class="mb-4">Billing Information</h6>

                        <label for="" class="deadline-txt">Name</label>
                        <input type="text" v-model="billing_info.name" class="custom-input-creditCard mb-3" >
                        <p v-bind:class="{ show: bill_error.name, not_show: !bill_error.name }" style="color:red">*Name is required</p>

                        <label for="" class="deadline-txt">Address Line #1</label>
                        <input type="text" v-model="billing_info.line1" class="custom-input-creditCard mb-3" >
                        <p v-bind:class="{ show: bill_error.line1, not_show: !bill_error.line1 }" style="color:red">*Address line # 1 is required</p>

                        <label for="" class="deadline-txt">Address Line #2</label>
                        <input type="text" v-model="billing_info.line2" class="custom-input-creditCard mb-3" >
                        <!-- <p v-bind:class="{ show: bill_error.line2, not_show: !bill_error.line2 }" style="color:red">*Address line2 required</p> -->

                        <label for="" class="deadline-txt">City</label>
                        <input type="text" v-model="billing_info.city" class="custom-input-creditCard mb-3" >
                        <p v-bind:class="{ show: bill_error.city, not_show: !bill_error.city }" style="color:red">*City is required</p>

                        <label for="" class="deadline-txt">State</label>
                        <input type="text" v-model="billing_info.state" class="custom-input-creditCard mb-3" >
                        <p v-bind:class="{ show: bill_error.state, not_show: !bill_error.state }" style="color:red">*State is required</p>

                        <label for="" class="deadline-txt">Country</label>
                        <country-select v-model="billing_info.country" :placeholder="billing_info.country" :country="billing_info.country" topCountry="US" class="pl-2 custom-input-creditCard mb-3" />
                        <!-- <input type="text" v-model="billing_info.country" class="form-control custom-input-creditCard mb-3" > -->
                        <p v-bind:class="{ show: bill_error.country, not_show: !bill_error.country }" style="color:red">*Country is required</p>
                        
                        <label for="" class="deadline-txt">Zip Code</label>
                        <input type="text" v-model="billing_info.zip_code" class="custom-input-creditCard mb-3" >
                        <p v-bind:class="{ show: bill_error.zip_code, not_show: !bill_error.zip_code }" style="color:red">*Zip code is required</p>

                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-3">
                        
                    </div>
                    <div class="col-md-4">
                        <h6 class="mt-3">Are Billing and Mailing Addresses same?</h6>
                        <input type="checkbox" class="form-check-input custom-checkbox" @change="isSame()" style="margin-left: 0px" :checked="is_same">
                    </div>
                </div>
                    <div class="row" style="height: 50px;">
                    </div>
                    <div class="pb-3 save-area">
                        <button type="button" class="save-btn-custom" @click="createNewCreditCard()">Save</button>
                    </div>
                
            </div>
        </div>
    
</template>

<script>
import { mapActions } from "vuex";

export default {
    name: "CreditCard",
    data(){
        return {
            serverErrors: null,
            is_same: false,
            mailing_info: {
                name: null,
                line1: null,
                line2: null,
                city: null,
                state: null,
                country: null,
                zip_code: null,
            },
            mail_error: {
                name: false,
                line1: false,
                // line2: false,
                city: false,
                state: false,
                country: false,
                zip_code: false,
            },
            billing_info: {
                name: null,
                line1: null,
                line2: null,
                city: null,
                state: null,
                country: null,
                zip_code: null,
            },
            bill_error: {
                name: false,
                line1: false,
                // line2: false,
                city: false,
                state: false,
                country: false,
                zip_code: false,
            },
            card_info: {
                nickname: null,
                number: null,
                expire_date: null,
                cvv: null,
            },
            card_error: {
                nickname: false,
                number: false,
                expire_date: false,
                cvv: false,
            },
            validForm: true,
        }
    },

    methods: {
        ...mapActions("snackbar", ["showSnack"]),

        isSame() {
            if(this.is_same === false){
                this.is_same = true;
                this.billing_info.name = this.mailing_info.name;
                this.billing_info.line1 = this.mailing_info.line1;
                this.billing_info.line2 = this.mailing_info.line2;
                this.billing_info.city = this.mailing_info.city;
                this.billing_info.state = this.mailing_info.state;
                this.billing_info.country = this.mailing_info.country;
                this.billing_info.zip_code = this.mailing_info.zip_code;
            }else{
                this.is_same = false;
                this.billing_info.name = null;
                this.billing_info.line1 = null;
                this.billing_info.line2 = null;
                this.billing_info.city = null;
                this.billing_info.state = null;
                this.billing_info.country = null;
                this.billing_info.zip_code = null;
            }
        },

        createNewCreditCard(){
            console.log(this.mailing_info.country);
            console.log(this.billing_info.country);
            this.validationCheck()

            if (this.validForm) 
            {
                let dispatchUrl = "pricingPlans/saveNewCreditCard";
                //this.$store.dispatch("snackbar/showOverlay", 1);

                this.card_info.expire_date = this.formatDate();

                this.$store
                    .dispatch(dispatchUrl, 
                    {
                        is_same: this.is_same,
                        billing_info: this.billing_info,
                        mailing_info: this.mailing_info,
                        card_info: this.card_info,
                    }
                    ).then(
                    (res) => {
                        console.log(res);
                        this.serverErrors = null;
                        this.showSnack({
                        text: "New Credit Card Information Successfully Saved!",
                        color: "success",
                        timeout: 5000,
                        });
                        //this.$store.dispatch("snackbar/showOverlay", 0);
                        //this.$router.push({ path: "/team/greetings" });
                        this.resetFields()
                    
                    },
                    (error) => {
                        console.log("ee",error.response);
                        this.$store.dispatch("snackbar/showOverlay", 0);
                        this.showSnack({
                            text: error.response.data.message,
                            color: "error",
                            timeout: 5000,
                        });
                        if (error.response.data.errors) {
                            this.serverErrors = error.response.data.errors;
                        }
                       
                        this.card_info.nickname = null
                        this.card_info.number = null
                        this.card_info.expire_date = null
                        this.card_info.cvv = null
                    }
                );  
            }
            
        },

        formatDate() {
            let aa = new Date(this.card_info.expire_date);
            //var dd = String(aa.getDate()).padStart(2, '0');
            var mm = String(aa.getMonth() + 1).padStart(2, '0'); //January is 0!
            var yyyy = aa.getFullYear();
            aa = mm + '/' + yyyy;

            return aa;
        },

        resetFields(){
            this.mailing_info.name = null
            this.mailing_info.line1 = null
            this.mailing_info.line2 = null
            this.mailing_info.city = null
            this.mailing_info.state = null
            this.mailing_info.country = null
            this.mailing_info.zip_code = null

            this.is_same = false;
            this.billing_info.name = null
            this.billing_info.line1 = null
            this.billing_info.line2 = null
            this.billing_info.city = null
            this.billing_info.state = null
            this.billing_info.country = null
            this.billing_info.zip_code = null

            this.card_info.nickname = null
            this.card_info.number = null
            this.card_info.expire_date = null
            this.card_info.cvv = null
        },

        validationCheck() {

            if (!this.mailing_info.name) {
                this.mail_error.name = true;
                this.validForm = false;
            } else {
                this.mail_error.name = false;
                this.validForm = true;
            }

            if (!this.mailing_info.line1) {
                this.mail_error.line1 = true;
                this.validForm = false;
            } else {
                this.mail_error.line1 = false;
                this.validForm = true;
            }

            // if (!this.mailing_info.line2) {
            //     this.mail_error.line2 = true;
            //     this.validForm = false;
            // } else {
            //     this.mail_error.line2 = false;
            //     this.validForm = true;
            // }

            if (!this.mailing_info.city) {
                this.mail_error.city = true;
                this.validForm = false;
            } else {
                this.mail_error.city = false;
                this.validForm = true;
            }

            if (!this.mailing_info.state) {
                this.mail_error.state = true;
                this.validForm = false;
            } else {
                this.mail_error.state = false;
                this.validForm = true;
            }

            if (!this.mailing_info.country) {
                this.mail_error.country = true;
                this.validForm = false;
            } else {
                this.mail_error.country = false;
                this.validForm = true;
            }

            if (!this.mailing_info.zip_code) {
                this.mail_error.zip_code = true;
                this.validForm = false;
            } else {
                this.mail_error.zip_code = false;
                this.validForm = true;
            }

            //billing
            if (!this.billing_info.name) {
                this.bill_error.name = true;
                this.validForm = false;
            } else {
                this.bill_error.name = false;
                this.validForm = true;
            }

            if (!this.billing_info.line1) {
                this.bill_error.line1 = true;
                this.validForm = false;
            } else {
                this.bill_error.line1 = false;
                this.validForm = true;
            }

            // if (!this.billing_info.line2) {
            //     this.bill_error.line2 = true;
            //     this.validForm = false;
            // } else {
            //     this.bill_error.line2 = false;
            //     this.validForm = true;
            // }

            if (!this.billing_info.city) {
                this.bill_error.city = true;
                this.validForm = false;
            } else {
                this.bill_error.city = false;
                this.validForm = true;
            }

            if (!this.billing_info.state) {
                this.bill_error.state = true;
                this.validForm = false;
            } else {
                this.bill_error.state = false;
                this.validForm = true;
            }

            if (!this.billing_info.country) {
                this.bill_error.country = true;
                this.validForm = false;
            } else {
                this.bill_error.country = false;
                this.validForm = true;
            }

            if (!this.billing_info.zip_code) {
                this.bill_error.zip_code = true;
                this.validForm = false;
            } else {
                this.bill_error.zip_code = false;
                this.validForm = true;
            }

            //card error
            if (!this.card_info.nickname) {
                this.card_error.nickname = true;
                this.validForm = false;
            } else {
                this.card_error.nickname = false;
                this.validForm = true;
            }

            if (!this.card_info.number) {
                this.card_error.number = true;
                this.validForm = false;
            } else {
                this.card_error.number = false;
                this.validForm = true;
            }

            if (!this.card_info.expire_date) {
                this.card_error.expire_date = true;
                this.validForm = false;
            } else {
                this.card_error.expire_date = false;
                this.validForm = true;
            }

            if (!this.card_info.cvv) {
                this.card_error.cvv = true;
                this.validForm = false;
            } else {
                this.card_error.cvv = false;
                this.validForm = true;
            }

            return;
        },

    }
    
}
</script>

<style scoped>
@import "../../../assets/css/style.css";
@import "../../../assets/css/custom.css";

.not_show{
    display: none;
}
.show{
    display: block;
}

.input:focus {
    border: 1px solid black !important;
}

</style>