<template>
    <div class="col-lg-9 col-md-9">
        <h4
        class="pt-3 pb-3 mt-10 personal-project-txt mt-custom d-none d-md-block d-lg-block d-xl-block"
        >
            Default Pricing Plans
        </h4>

        <div class="row price-card-hide-for-mob mt-10" style="margin-left: 10px">
            <div class="col-lg-3 col-md-3 p_col">
                <div class="card price-card-new-title">
                    <div class="card-body">
                        <h2 class="text-center">Price</h2>
                        <p class="text-center mt-12">Active Projects</p>

                        <p class="text-center">Total Storage (GB)</p>

                        <p class="text-center">Active Collaborators and Support Staffs</p> 
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-2 p_col">
                <div class="card price-card-new-info">
                    <div class="card-body">
                        <p class="text-center p_name">
                            {{defaultPlans.personal_plan.plan_name}}
                        </p>

                        <h1 class="text-center mt-8">${{defaultPlans.personal_plan.plan_price}}*</h1>
                        <p class="text-center mt-10">{{defaultPlans.personal_plan.max_active_project}}</p>

                        <p class="text-center">{{defaultPlans.personal_plan.storage}}</p>

                        <p class="text-center">{{defaultPlans.personal_plan.max_staff}}</p>
                    </div>
                </div>
                <h6 class="text-center">{{defaultPlans.personal_plan.time_period}}</h6>
            </div>

            <div class="col-lg-2 col-md-2 p_col">
                <div class="card price-card-new-info price-card-mobile">
                    <div class="card-body">
                        <p class="text-center p_name">
                            {{defaultPlans.team_plan.plan_name}}
                        </p>
                        <h1 class="text-center mt-8">$ {{defaultPlans.team_plan.plan_price}}*</h1>
                        <p class="text-center mt-10">{{defaultPlans.team_plan.max_active_project}}</p>

                        <p class="text-center">{{defaultPlans.team_plan.storage}}</p>

                        <p class="text-center">{{defaultPlans.team_plan.max_staff}}</p>
                    </div>
                </div>
                <h6 class="text-center">{{defaultPlans.team_plan.time_period}}</h6>
            </div>
        </div>
        
    </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
    name: "DefaultPricingPlans",
    data() {
        return {
            planType: null,
            planAnnual: false,
            planMonthly: false,
        }
    },
    computed: {
        ...mapGetters("pricingPlans", ["defaultPlans"])
    },
    methods: {
        ...mapActions("pricingPlans", ["getDefaultPlans"]),
    },
    mounted() {
        this.getDefaultPlans();
        console.log(this.defaultPlans);
    }
};
</script>

<style scoped>
@import "../../../assets/css/style.css";
@import "../../../assets/css/custom.css";
</style>

<style scoped>
.payment-head{
    text-align: center;
    font-weight: bold;
}
.mar_zero{
    margin: 0;
}

.active_plan{
    color: #8A1DFF;
}
</style>
