<template>

        <div class="col-lg-9 col-md-9 ">
            <h4 class="pt-3 pb-3 personal-project-txt">Pricing Plan</h4>
            <div class="custom-margin">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <h6>Thanks for selecting default pricing plans.</h6>
                        </div>
                        
                    </div>

                    <div class="row mt-10" style="height: 50px;">
                        <div class="pb-3 save-area">
                            <button type="button" @click="goToDashboard()" class="btn btn-primary save-btn">Dashboard</button>
                        </div>
                    </div>
                        
            </div>
        </div>
    
</template>

<script>

export default {
    name: "DefaultGreeting",
    
    methods: {
        goToDashboard(){
            this.$router.push({ path: `/main-dashboard` });
        },
    },
    
}
</script>

<style scoped>
@import "../../../assets/css/style.css";
@import "../../../assets/css/custom.css";

.not_show{
    display: none;
}
.show{
    display: block;
}
</style>