<template>
    <div class="col-lg-9 col-md-9">
        <h4
        class="pt-3 pb-3 mt-10 personal-project-txt mt-custom d-none d-md-block d-lg-block d-xl-block"
        >
            Default Pricing Plans
        </h4>

        <div class="custom-margin form-for-mob mt-8">

            <div class="row price-card-hide-for-mob">
                <div class="col-lg-3 col-md-3">
                    <h5 class="payment-head">Default Plan : Personal</h5>
                    <div class="card price-card-new">
                        <div class="card-body">
                            <p class="text-center">
                                {{defaultPlans.personal_plan.plan_name}}
                            </p>
                            <h1 class="text-center">$ {{defaultPlans.personal_plan.plan_price}}*</h1>
                            <p class="text-center mar_zero">Active Projects</p>
                            <h4 class="text-center">{{defaultPlans.personal_plan.max_active_project}}</h4>

                            <p class="text-center mar_zero">Total Storage (GB)</p>
                            <h4 class="text-center">{{defaultPlans.personal_plan.storage}}</h4>

                            <p class="text-center mar_zero">Active Collaborators and Support Staffs</p> 
                            <h4 class="text-center">{{defaultPlans.personal_plan.max_staff}}</h4>
                        </div>
                    </div>
                    <h6 class="text-center">{{defaultPlans.personal_plan.time_period}}</h6>
                </div>

                <div class="col-lg-3 col-md-3">
                    <h5 class="payment-head">Default Plan : Team</h5>
                    <div class="card price-card-new">
                        <div class="card-body">
                            <p class="text-center">
                                {{defaultPlans.team_plan.plan_name}}
                            </p>
                            <h1 class="text-center">$ {{defaultPlans.team_plan.plan_price}}*</h1>
                            <p class="text-center mar_zero">Active Projects</p>
                            <h4 class="text-center">{{defaultPlans.team_plan.max_active_project}}</h4>

                            <p class="text-center mar_zero">Total Storage (GB)</p>
                            <h4 class="text-center">{{defaultPlans.team_plan.storage}}</h4>

                            <p class="text-center mar_zero">Active Collaborators and Support Staffs</p> 
                            <h4 class="text-center">{{defaultPlans.team_plan.max_staff}}</h4>
                        </div>
                    </div>
                    <h6 class="text-center">{{defaultPlans.team_plan.time_period}}</h6>
                </div>

            </div>


        </div>
    </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
    name: "DefaultPricingPlans",
    data() {
        return {
            planType: null,
            planAnnual: false,
            planMonthly: false,
        }
    },
    computed: {
        ...mapGetters("pricingPlans", ["defaultPlans"])
    },
    methods: {
        ...mapActions("pricingPlans", ["getDefaultPlans"]),
    },
    mounted() {
        this.getDefaultPlans();
        console.log(this.defaultPlans);
    }
};
</script>

<style scoped>
@import "../../../assets/css/style.css";
@import "../../../assets/css/custom.css";
</style>

<style scoped>
.payment-head{
    text-align: center;
    font-weight: bold;
}
.mar_zero{
    margin: 0;
}

.active_plan{
    color: #8A1DFF;
}
</style>
