<template>
    <div class="col-lg-9 col-md-9">
        <h4
        class="pt-3 pb-3 mt-10 personal-project-txt mt-custom d-none d-md-block d-lg-block d-xl-block"
        >
            Payment Method
        </h4>

        <div class="custom-margin form-for-mob mt-8">

            <div class="row price-card-hide-for-mob">
                <div class="col-lg-3 col-md-3">
                    <h5 class="payment-head">Default Plan:Personal</h5>
                    <div class="card price-card-new">
                        <div class="card-body">
                            <p class="text-center">
                            <button type="button" class="btn btn-primary bronze-btn">
                                Bronze
                            </button>
                            </p>
                            <h1 class="text-center">$ 0*</h1>
                            <p class="text-center mar_zero">Active Projects</p>
                            <h4 class="text-center">1</h4>

                            <p class="text-center mar_zero">Total Storage (GB)</p>
                            <h4 class="text-center">0.5</h4>

                            <p class="text-center mar_zero">Active Collaborators and Support Staffs</p> 
                            <h4 class="text-center">10</h4>
                        </div>
                    </div>
                    <div class="mt-10">
                        <select
                            class="form-select custom-input-payment"
                            aria-label="Default select example"
                            >
                            <option selected></option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3">
                    <h5 class="payment-head">Default Plan:Team</h5>
                    <div class="card price-card-new">
                        <div class="card-body">
                            <p class="text-center">
                            <button type="button" class="btn btn-primary price-pkg-btn plus-bg">
                                Plus
                            </button>
                            </p>
                            <h1 class="text-center">$ 0*</h1>
                            <p class="text-center mar_zero">Active Projects</p>
                            <h4 class="text-center">1</h4>

                            <p class="text-center mar_zero">Total Storage (GB)</p>
                            <h4 class="text-center">0.5</h4>

                            <p class="text-center mar_zero">Active Collaborators and Support Staffs</p> 
                            <h4 class="text-center">10</h4>
                        </div>
                    </div>
                    <div class="mt-10">
                        <select
                            class="form-select custom-input-payment"
                            aria-label="Default select example"
                            >
                            <option selected></option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>

            </div><br/><br/>

            <div class="pb-3 save-area">
                        <button type="button" @click="saveAndNext()" class="btn btn-primary save-btn-custom">Save & Next</button>
                    </div>


        </div>
    </div>
</template>

<script>

export default {
    name: "PaymentMethod",
    data() {
        return {
            planType: null,
            planAnnual: false,
            planMonthly: false,
        }
    },
    methods: {
        saveAndNext(){
            this.$router.push({ 
                path: "/pricing/default-greeting",
            });
        }
    },
    mounted() {
        this.planType = this.$route.query.plan;
        if(this.planType === "annual"){
            this.planAnnual = true;
        }else{
            this.planMonthly = true;
        }
    }
};
</script>

<style scoped>
@import "../../../assets/css/style.css";
@import "../../../assets/css/custom.css";
</style>

<style scoped>
.payment-head{
    text-align: center;
    font-weight: bold;
}
.mar_zero{
    margin: 0;
}

.active_plan{
    color: #8A1DFF;
}
</style>
