<template>
    <div class="col-lg-9 col-md-9">
        <h4
        class="pt-3 pb-3 mt-10 personal-project-txt mt-custom d-none d-md-block d-lg-block d-xl-block"
        >
            Pricing Plans & Payments
        </h4>

        <v-alert
            v-if="serverErrors"
            outlined
            type="error"
            prominent
            border="left"
            dismissible
            style="width: 1040px"
            >
            <ul>
                <li
                v-for="(field, index) of Object.keys(serverErrors)"
                :key="index"
                >
                {{ serverErrors[field][0] }}
                </li>
            </ul>
        </v-alert>

        <div class="custom-margin form-for-mob">
            <p class="mt-5">
            <span style="cursor: pointer" v-bind:class="{active_plan: planAnnual}" @click="goToAnnual()">Annual Plans</span>
                || <span style="cursor: pointer" v-bind:class="{active_plan: planMonthly}" @click="goToMonthly()">Monthly Plans</span>
            </p>

            <div class="row price-card-hide-for-mob">
                <div class="col-lg-3 col-md-3 p_col">
                    <div class="card price-card-new-title">
                        <div class="card-body">
                            <h2 class="text-center">Price</h2>
                            <p class="text-center mt-12">Active Projects</p>

                            <p class="text-center">Total Storage (GB)</p>

                            <p class="text-center">Active Collaborators and Support Staffs</p> 
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-2 p_col">
                    <div class="card price-card-new-info">
                        <div class="card-body">
                            <p class="text-center p_name">
                                {{plans[0].plan_name}}
                            </p>

                            <h1 class="text-center mt-8">${{plans[0].plan_price}}*</h1>
                            <p class="text-center mt-10">{{plans[0].max_active_project}}</p>

                            <p class="text-center">{{plans[0].storage}}</p>

                            <p class="text-center">{{plans[0].max_staff}}</p>
                        </div>
                    </div>
                    <div class="row mt-10">
                        <p class="update-btn-price">
                            <input 
                                type="submit" 
                                @click="confirmDefaultPlan(plans[0].id, 0)"
                                class="submit-btn-new" 
                                :value="selected_plan === 0 ? 'Plan is selected' : 'Save as Default'"
                                :class="{'selected_plan' : selected_plan === 0}"  
                            />
                        </p>
                    </div>
                </div>

                <div class="col-lg-2 col-md-2 p_col">
                    <div class="card price-card-new-info price-card-mobile">
                        <div class="card-body">
                            <p class="text-center p_name">
                                {{plans[1].plan_name}}
                            </p>
                            <h1 class="text-center mt-8">$ {{plans[1].plan_price}}*</h1>
                            <p class="text-center mt-10">{{plans[1].max_active_project}}</p>

                            <p class="text-center">{{plans[1].storage}}</p>

                            <p class="text-center">{{plans[1].max_staff}}</p>
                        </div>
                    </div>
                    <div class="row mt-10">
                        <p class="update-btn-price">
                            <input 
                                type="submit" 
                                @click="confirmDefaultPlan(plans[1].id, 1)"
                                class="submit-btn-new" 
                                :value="selected_plan === 1 ? 'Plan is selected' : 'Save as Default'"
                                :class="{'selected_plan' : selected_plan === 1}" 
                            />
                        </p>
                    </div>
                </div>

            <div class="col-lg-2 col-md-2 p_col">
                <div class="card price-card-new-info price-card-mobile">
                    <div class="card-body">
                        <p class="text-center p_name">
                            {{plans[2].plan_name}}
                        </p>
                        <h1 class="text-center mt-8">$ {{plans[2].plan_price}}*</h1>
                        <p class="text-center mt-10">{{plans[2].max_active_project}}</p>

                        <p class="text-center">{{plans[2].storage}}</p>

                        <p class="text-center">{{plans[2].max_staff}}</p>
                    </div>
                </div>
                <div class="row mt-10">
                    <p class="update-btn-price">
                        <input 
                            type="submit" 
                            @click="confirmDefaultPlan(plans[2].id, 2)"
                            class="submit-btn-new" 
                            :value="selected_plan === 2 ? 'Plan is selected' : 'Save as Default'"
                            :class="{'selected_plan' : selected_plan === 2}"
                        />
                    </p>
                </div>
            </div>

            <div class="col-lg-2 col-md-2 p_col">
                <div class="card price-card-new-info price-card-mobile">
                    <div class="card-body" style="text-align: center !important;">
                            <p class="text-center p_name">
                                BUSINESS
                            </p>
                            <h2 class="text-center mt-7  p_mail">Contact Sales</h2>

                            <p class="mt-6"><a href="mailto:sales@hellodeadlines.com" style="color: #FF7945">Send email</a></p>
 
                        </div>
                </div>
            </div>
            </div>

            <div class="row mt-15">
                <p>Please note that the total charge will be annual for a selected annual plan.</p>
            </div>
            <div class="row">
                <p>*Please note that there are a minimum of three members in each team. Charges are shown on per month/member/team basis.</p>
            </div>

        </div>

        <v-dialog v-model="dialogDefaultPlan" max-width="330">
            <v-card>
                <v-card-title dark text class="mb-2 txt-color"> Select Default Plan </v-card-title>
                <v-card-text> Are you sure, you want to select this plan as default? </v-card-text>
                <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn class="d-btn" color="white darken-1" text @click="notSureDefalut()">
                    No
                </v-btn>

                <v-btn class="d-btn" color="white darken-1" text @click="saveDefaultPlan()">
                    Yes
                </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
    name: "PricingPlansTeam",
    data() {
        return {
            dialogDefaultPlan: false,
            planType: null,
            planAnnual: false,
            planMonthly: false,
            plans: [],
            plan_id: null,
            selected_plan: null,
            serverErrors: null,
        }
    },
    computed: {
        ...mapGetters("pricingPlans", ["teamAnnual", "teamMonthly"])
    },
    methods: {
        ...mapActions("snackbar", ["showSnack"]),
        ...mapActions("pricingPlans", ["getTeamAnnualplans", "getTeamMonthlyplans"]),

        confirmDefaultPlan(id, index) {
            this.plan_id = id;
            this.selected_plan = index,
            this.dialogDefaultPlan = !this.dialogDefaultPlan;
        },

        notSureDefalut(){
            this.plan_id = null;
            this.selected_plan = null,
            this.dialogDefaultPlan = !this.dialogDefaultPlan;
        },

        saveDefaultPlan(){
            console.log(this.plan_id);
            this.dialogDefaultPlan = !this.dialogDefaultPlan;

            let formData = new FormData();

            formData.append("team_plan_id", this.plan_id);

            let dispatchUrl = "pricingPlans/saveDefaultPlan";

            this.$store
                    .dispatch(dispatchUrl, formData).then(
                    () => {
                        this.serverErrors = null;
                        this.showSnack({
                        text: "Default Plan Successfully Selected.",
                        color: "success",
                        timeout: 5000,
                        });                        
                    },
                    (error) => {
                        console.log(error.response);
                        this.plan_id = null;
                        this.selected_plan = null,
                        this.showSnack({
                        text: error.response.data.message,
                        color: "error",
                        timeout: 5000,
                        });
                        if (error.response.data.errors) {
                            this.serverErrors = error.response.data.errors;
                        }
                    }
                );
        },

        goToAnnual(){
            this.$router.push({ 
                path: "/pricing/plans/team",
                query: {
                    plan: "annual"
                }
            });
            this.planAnnual = true;
            this.planMonthly = false;
            this.plans = this.teamAnnual;
        },

        goToMonthly(){
            this.$router.push({ 
                path: "/pricing/plans/team",
                query: {
                    plan: "monthly"
                }
            });
            this.planAnnual = false;
            this.planMonthly = true;
            this.plans = this.teamMonthly;
        },

        locateMonthlyData(){
            this.$store
                .dispatch("pricingPlans/getTeamMonthlyplans")
                .then(
                (res) => {
                    this.plans = res.data
                },
                (error) => {
                    console.log(error.response);
                }
                );
        },

        locateAnnualData(){
            this.$store
                .dispatch("pricingPlans/getTeamAnnualplans")
                .then(
                (res) => {
                    this.plans = res.data
                },
                (error) => {
                    console.log(error.response);
                }
                );
        },
        
    },
    created() {
        this.planType = this.$route.query.plan;
        if(this.planType === "annual"){
            this.planAnnual = true;
            this.locateMonthlyData();
            this.locateAnnualData();
        }else{
            this.planMonthly = true;
            this.locateAnnualData();
            this.locateMonthlyData();
        }
    },
    // mounted() {
    //     this.planType = this.$route.query.plan;
    //     if(this.planType === "annual"){
    //         this.planAnnual = true;
    //         this.getTeamAnnualplans();
    //         this.plans = this.teamAnnual;
    //     }else{
    //         this.planMonthly = true;
    //     }
    // }
  
};
</script>

<style lang="scss" scoped>
.price-card-new-info{
    p{ 
        color: #FF5F1F;
        font-size: 18px !important;
    }
}
</style>

<style scoped>
@import "../../../assets/css/style.css";
@import "../../../assets/css/custom.css";
</style>

<style scoped>

.contact_info{
    font-size: 12px;
}

.active_plan{
    color: #8A1DFF;
}

.selected_plan{
    background-color: rgb(213, 240, 173);
    color: black;
    font-weight: bold;
}
</style>
