<template>

        <div class="col-lg-9 col-md-9 ">
            <h4 class="pt-3 pb-3 personal-project-txt">Credit Cards</h4>
            <div class="custom-margin">
                    
                <div class="row custom-width mb-5" v-for="(method, index) in allMethods" :key="index">
                    <div class="col-md-2">
                        <label for="" class="deadline-txt">Nickname</label>
                        <input type="text" class="form-control custom-input-creditCard mb-3" :value="method.nickname">
                        
                    </div>
                    <div class="col-md-2">
                        <label for="" class="deadline-txt">Last Four Digits</label>
                        <input type="text" class="form-control custom-input-creditCard mb-3" :value="method.last_four_digit">
                        
                    </div>
                    <div class="col-md-2">
                        <label for="" class="deadline-txt">Cardholder Name</label>
                        <input type="text" class="form-control custom-input-creditCard mb-3" :value="method.card_holder_name">
                    </div>
                    <div class="col-md-2">
                        <h6>Used for a Team?</h6>
                        <input type="checkbox" class="form-check-input custom-checkbox al" :checked="method.is_for_team" style="margin-left: 0px" >
                    </div>
                    <div class="col-md-3">
                        <h6>Used for Personal Account?</h6>
                        <input type="checkbox" class="form-check-input custom-checkbox" :checked="method.is_for_personal" style="margin-left: 0px" >
                    </div>
                    <div class="col-md-1">
                        <br />
                        <button type="button" @click="confirmDelete(method.id)" class="save-btn-custom">Delete</button>
                    </div>
                </div>
                
            </div>

            <v-dialog v-model="dialogDelete" max-width="330">
                <v-card>
                    <v-card-title dark text class="mb-2 txt-color"> Delete </v-card-title>
                    <v-card-text> Are you sure? You want to delete. </v-card-text>
                    <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn class="d-btn" color="white darken-1" text @click="dialogDelete = false">
                        No
                    </v-btn>

                    <v-btn class="d-btn" color="white darken-1" text @click="deleteProject()">
                        Yes
                    </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </div>

        
    
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
    name: "SavedCreditCard",
    data(){
        return {
            dialogDelete: false,
            selected_id: null,
            allMethods: []
        }
    },
    computed: {
        ...mapGetters("pricingPlans", ["paymentMethods"])
    },
    methods: {
        ...mapActions("snackbar", ["showSnack"]),
        ...mapActions("pricingPlans", ["getPaymentMethods"]),

        confirmDelete(id) {
            this.selected_id = id;
            this.dialogDelete = !this.dialogDelete;
        },

        deleteProject() {
            this.$store
                .dispatch("pricingPlans/deleteSavedPlan", this.selected_id)
                .then(
                () => {
                    this.showSnack({
                    text: "Payment method succesfully deleted!",
                    color: "success",
                    timeout: 5000,
                    });
                    this.dialogDelete = false;
                    this.getAllPaymentMethods();
                },
                (error) => {
                    this.showSnack({
                    text: error.response.data.message,
                    color: "error",
                    timeout: 5000,
                    });
                    this.dialogDelete = false;
                }
                );
        },

        getAllPaymentMethods(){
            this.$store
                .dispatch("pricingPlans/getPaymentMethods")
                .then(
                (res) => {
                    this.allMethods = res.data.data
                },
                (error) => {
                    this.showSnack({
                    text: error.response.data.message,
                    color: "error",
                    timeout: 5000,
                    });
                }
                );
        }
    },
    mounted() {
        this.getAllPaymentMethods();
    }
    
}
</script>

<style scoped>
@import "../../../assets/css/style.css";
@import "../../../assets/css/custom.css";
.al{
    align: center;
}
.not_show{
    display: none;
}
.show{
    display: block;
}

.custom-width{
    width: 90%;
    border-bottom: 3px solid #8A1DFF;
}

.row-line{
    border-bottom: 2px solid #8A1DFF;
    margin-top: 0 !important;
}
</style>