<template>
    <div class="col-lg-9 col-md-9">
        <h4
        class="pt-3 pb-3 mt-10 personal-project-txt mt-custom d-none d-md-block d-lg-block d-xl-block"
        >
            Stop Payments
        </h4>
        <h6 class="ml-10 mt-5" v-if="plan === null">No Payment method found</h6>


        <table v-else class="scrollmenu">
            <tr>
                <th></th>   
                <td class="head-text">Personal plan</td>
            </tr>

            <tr>
                <th>Pricing Plan</th>    
                <td>{{plan.plan_name}}</td>   
            </tr>

            <tr>
                <th>Credit Card</th>    
                <td>{{plan.card_nickname}}</td>   
            </tr>

            <tr>
                <th>Billing Period</th>    
                <td>{{plan.time_period}}</td>      
            </tr>

            <tr>
                <th>Active Projects</th>    
                <td>{{plan.active_projects > 0 ? 'YES' : 'NO'}}</td>  
            </tr>

            <tr>
                <th>Past Projects</th>    
                <td>{{plan.past_projects > 0 ? 'YES' : 'NO'}}</td>    
            </tr>

            <tr>
                <th style="border: none"></th>    
                <td style="border: none">
                    <button 
                        type="button" 
                        @click="stopPayment()" 
                        class="submit-btn-new ml-0"
                        >Stop Payment
                    </button>
                </td>    
            </tr>

        </table>

    </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
    name: "StopPaymentPersonal",
    data() {
        return {
            plan: null,
        }
    },
    computed: {
        ...mapGetters("pricingPlans", ["personalPlans"])
    },
    methods: {
        ...mapActions("pricingPlans", ["getPersonalPlans"]),

        stopPayment()
        {
            this.$router.push({ path: `/pricing/stop-payment/personal/confirm` });
        }
    },
    // created() {
    //     this.getPersonalPlans();
    // },
    mounted(){
        this.$store
                .dispatch("pricingPlans/getPersonalPlans")
                .then(
                (res) => {
                    this.plan = res.data.data
                },
                (error) => {
                    if(error.response.status == 404) {
                        this.plan = null
                    }
                }
                );

    }
};
</script>

<style scoped>
@import "../../../assets/css/style.css";
@import "../../../assets/css/custom.css";
</style>

<style scoped>
.payment-head{
    text-align: center;
    font-weight: bold;
}
.mar_zero{
    margin: 0;
}

.active_plan{
    color: #8A1DFF;
}

.row-line{
    border-bottom: 3px solid #8A1DFF;
    margin-top: 0 !important;
    width: 35%;
}

.head-text{
    color: #FF5F1F;
    font-weight: bold;
}

.delete-btn-custom{
    border: 1px solid #8A1DFF;
    background: #FF5F1F;
    color: white;
    height: 40px;
    margin-left: 10px;
    font-family: 'Poppins';
}

table.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}

table.scrollmenu {
    display: inline-block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

table{ 
    margin-left: 35px;
    border-spacing: 10px 20px;
    border-collapse: collapse;
}


th, td {
    border-bottom: 3px solid #8A1DFF;
    padding: 15px;
}

th{ 
    color: black;
}

.cus-table-head{
    color:black;
    border: 1px solid black;
    width: 200px;
}
</style>
