<template>
    <div class="col-lg-9 col-md-9 ">
        <h4
        class="pt-3 pb-3 mt-10 personal-project-txt mt-custom d-none d-md-block d-lg-block d-xl-block"
        >
        Stop Payments
        </h4>
        
        <div class="custom-margin form-for-mob">
        <div class="pb-3 pt-3">
            <h5 style="font-weight:bold">Personal</h5>
            <p>Are you sure to stop the payment? This will lead to the following:</p>
            <p>a) All active projects will stop.</p>
            <p>b) You cannot access the past projects.</p>
            <p>c) You cannot start a new project (public or private)</p>
            <p>d) Most importantly, you will miss working for your favourite projects.</p>
        </div>

        <div class="row mt-3">
            <div class="col-md-3">
            <button @click="confirmDecision()" type="button" class="submit-btn-new">
                Yes, I am sure about my decision
            </button>
            </div>
            <div class="col-md-3">
            <button @click="goToDashboard()" type="button" class="submit-btn-new">
                No, go to dashboard
            </button>
            </div>
        </div>
        </div>
    </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
    name: "StopPaymentPersonalConfirm",
    data() {
        return {
        };
    },
    methods: {
        ...mapActions("snackbar", ["showSnack"]),

        confirmDecision(){
            this.$store
                .dispatch("pricingPlans/cancelPersonalSubscription")
                .then(
                () => {
                    this.showSnack({
                    text: "Personal subscription succesfully cancelled!",
                    color: "success",
                    timeout: 5000,
                    });
                },
                (error) => {
                    this.showSnack({
                    text: error.response.data.message,
                    color: "error",
                    timeout: 5000,
                    });
                }
                );
        },
    }
};
</script>

<style scoped>
@import "../../../assets/css/style.css";
@import "../../../assets/css/custom.css";

.submit-btn-new{
    height: 100%;
    padding: 10px;
    margin-left: 0;
}

p{ 
    margin-bottom: 5px;
}
</style>
