<template>

        <div class="col-lg-9 col-md-9">
            <h4 class="pt-3 pb-3 dashboard-txt">Personal Project</h4>
            <div class="row custom-margin">
                <div class="col-lg-4 col-md-4" >
                    <div class="custom-card-new" @click="goToProjects()">
                    <img src="../../../assets/img/projects.jpg" class="card-icon-new" alt="">
                    <p class="card-txt">Projects</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4" >
                    <div class="custom-card-new large-screen-card-two" @click="goToNewPrivateProject()">
                        <img src="../../../assets/img/add-project.jpg" class="card-icon-new" alt="">
                        <p class="card-txt">New Private Project</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="custom-card-new large-screen-card-three" @click="goToNewPublicProject()">
                        <img src="../../../assets/img/add-project-public.jpg" class="card-icon-new" alt="">
                        <p class="card-txt">New Public Project</p>
                    </div>
                </div>
            </div>
            <div class="row custom-margin">
                <div class="col-lg-4 col-md-4" >
                    <div class="custom-card-new mg-top" @click="goToExternalProjects()">
                    <img src="../../../assets/img/external.jpg" class="card-icon-new" alt="">
                    <p class="card-txt">Join External Public Projects</p>
                    </div>
                </div>
            </div>
            
        </div>
    
</template>

<script>
export default {
    name: "PersonalDashboard",
    methods: {
        goToProjects(){
            this.$router.push({ path: "/personal-project/active-projects" });
        },
        goToNewPrivateProject(){
            this.$router.push({ path: "/personal-project/create" });
        },
        goToNewPublicProject(){
            this.$router.push({ path: "/personal-project/public/create" });
        },
        goToExternalProjects() {
            this.$router.push({ path: "/external-public-project/dashboard" });
        },
    }
}
</script>

<style scoped>
@import "../../../assets/css/style.css";
@import "../../../assets/css/custom.css";

</style>