<template>
  <div class="col-lg-9 col-md-9">
    <h4
      class="pt-3 pb-3 personal-project-txt d-none d-md-block d-lg-block d-xl-block"
    >
      Deleted Projects
    </h4>

    <div class="custom-margin">
      <form>
        <table class="table table-hover">
          <thead>
            <tr>
              <th class="active-table-top-bottom" scope="col">Project Name</th>
              <th class="active-table-top-bottom" scope="col">Deleted On</th>
              <th class="active-table-top-bottom" scope="col">Deleted From</th>
              <th class="active-table-top-bottom" scope="col">Days Left</th>
              <th class="active-table-top-bottom" scope="col">Deleted By</th>
              <th class="active-table-top-bottom" scope="col">Type</th>
              <th class="active-table-top-bottom" scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr
              class="active-table"
              v-for="project in deletedProjects"
              :key="project.id"
            >
              <td>
                <p class="projectname-filed" readonly="readonly">
                  {{ project.title }}
                </p>
              </td>
              <td>
                <p class="start-date-field" readonly="readonly">
                  {{ project.deleted_at }}
                </p>
              </td>
              <td>
                <p class="start-date-field" readonly="readonly">
                  {{ project.deleted_from }}
                </p>
              </td>
              <td>
                <p class="start-date-field" readonly="readonly">
                  {{ project.days_left }}
                </p>
              </td>
              <td>
                <p class="initiated-field" readonly="readonly">
                  {{
                    project.deleted_by_user.first_name +
                      " " +
                      project.deleted_by_user.last_name
                  }}
                </p>
              </td>
              <td>
                <p class="type-filed" readonly="readonly">
                  {{ project.project_type }}
                </p>
              </td>
              <td class="custom-icon-flex">
                <span v-if="checkRole(project, ['HOST'])"
                  ><a
                    ><img
                      src="../../../assets/fonts/restore.png"
                      @click="confirmRestore(project.id)"
                      class="custom-view-icon"
                      alt=""/></a
                ></span>

                <span v-if="checkRole(project, ['HOST'])"
                  ><a
                    ><img
                      src="../../../assets/fonts/delete.png"
                      @click="confirmDelete(project.id)"
                      class="custom-view-icon"
                      alt=""/></a
                ></span>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>

    <v-dialog v-model="dialogRestore" max-width="400">
      <v-card>
        <v-card-title dark text class="mb-2"> Restore </v-card-title>
        <v-card-text>
          Are you sure? You want to restore the project?
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="dialogRestore = false">
            No
          </v-btn>

          <v-btn color="green darken-1" text @click="restoreProject()">
            Yes
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialogForceDelete" max-width="400">
      <v-card>
        <v-card-title dark text class="mb-2"> Restore </v-card-title>
        <v-card-text>
          Are you sure? You want to Force delete the project?
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="dialogForceDelete = false">
            No
          </v-btn>

          <v-btn color="green darken-1" text @click="deleteProject()">
            Yes
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  name: "DeletedProject",
  data() {
    return {
      dialogRestore: false,
      dialogForceDelete: false,
      selected_id: null,
    };
  },
  computed: {
    ...mapGetters("projectLists", ["deletedProjects"]),
  },
  methods: {
    ...mapActions("projectLists", ["getDeletedProjects"]),
    ...mapActions("snackbar", ["showSnack"]),

    checkRole(project, accessRoles) {
      let hasRole = false;
      project.my_roles.forEach((role) => {
        accessRoles.forEach((aRole) => {
          if (aRole === role.user_type) {
            hasRole = true;
          }
        });
      });
      return hasRole;
    },

    confirmRestore(project_id) {
      this.selected_id = project_id;
      this.dialogRestore = !this.dialogRestore;
    },

    confirmDelete(project_id) {
      this.selected_id = project_id;
      this.dialogForceDelete = !this.dialogForceDelete;
    },

    restoreProject() {
      this.$store.dispatch("projectLists/restoreProject", this.selected_id).then(
        (res) => {
          this.showSnack({
            text: "Project succesfully restored to " + res.data.data.status,
            color: "success",
            timeout: 5000,
          });
          this.dialogRestore = false;
        },
        (error) => {
          this.showSnack({
            text: error.response.data.message,
            color: "error",
            timeout: 5000,
          });
          this.dialogRestore = false;
        }
      );
      
    },

    deleteProject() {
      this.$store.dispatch("projectLists/forceDeleteProject", this.selected_id).then(
        () => {
          this.showSnack({
            text: "Project succesfully deleted.",
            color: "success",
            timeout: 5000,
          });
          this.dialogForceDelete = false;
          this.getDeletedProjects();
        },
        (error) => {
          this.showSnack({
            text: error.response.data.message,
            color: "error",
            timeout: 5000,
          });
          this.dialogForceDelete = false;
        }
      );
      
    },
  },
  mounted() {
    this.getDeletedProjects();
  },
};
</script>

<style scoped>
@import "../../../assets/css/style.css";
@import "../../../assets/css/custom.css";
</style>
