<template>
  <div class="col-lg-9 col-md-9">
    <h4
      class="pt-3 pb-3 personal-project-txt d-none d-md-block d-lg-block d-xl-block"
    >
      Draft Projects
    </h4>

    <div class="custom-margin">
      <form>
        <table class="table table-hover">
          <thead>
            <tr>
              <th class="active-table-top-bottom" scope="col">Project Name</th>
              <th class="active-table-top-bottom" scope="col">Initial Date</th>
              <th class="active-table-top-bottom" scope="col">Initiated By</th>
              <th class="active-table-top-bottom" scope="col">Role</th>
              <th class="active-table-top-bottom" scope="col">Type</th>
              <th class="active-table-top-bottom" scope="col">Collaborators</th>
              <th class="active-table-top-bottom" scope="col">Docs Needed</th>
              <th class="active-table-top-bottom" scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr
              class="active-table"
              v-for="project in draftProjects"
              :key="project.id"
            >
              <td>
                <p class="projectname-filed" readonly="readonly">
                  {{ project.title }}
                </p>
              </td>
              <td>
                <p class="start-date-field" readonly="readonly">
                  {{ project.initial_date }}
                </p>
              </td>
              <td>
                <p class="start-date-field" readonly="readonly">
                  {{ project.initiated_by }}
                </p>
              </td>
              <td>
                <p class="initiated-field" readonly="readonly">
                  {{ project.my_roles[0].user_type }}
                </p>
              </td>
              <td>
                <p class="type-filed" readonly="readonly">
                  {{ project.project_type }}
                </p>
              </td>
              <td>
                <p class="active-colloraborator-filed" readonly="readonly">
                  {{ project.total_collaborators }}
                </p>
              </td>
              <td><p class="type-filed" readonly="readonly">{{ project.total_required_document }}</p></td>
              <td class="custom-icon-flex">                
                <span v-if="checkRole(project, ['HOST'])"
                  ><a href="javascript:void(0)" @click="goToEditPage(project.id, project.project_type)"
                    ><img
                      src="../../../assets/fonts/edit.png"
                      class="custom-svg-icon"
                      alt=""/></a
                ></span>
                <span v-if="checkRole(project, ['HOST'])"
                  ><a
                    href="javascript:void(0)"
                    @click="confirmDuplicate(project.id)"
                    ><img
                      src="../../../assets/fonts/copy.png"
                      class="custom-svg-icon"
                      alt=""/></a
                ></span>            
               
                <span v-if="checkRole(project, ['HOST'])"
                  ><a
                    ><img
                      src="../../../assets/fonts/delete.png"
                      @click="confirmDelete(project)"
                      class="custom-view-icon"
                      alt=""/></a
                ></span>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>

    <v-dialog v-model="dialogDelete" max-width="400">
      <v-card>
        <v-card-title dark text class="mb-2"> Delete </v-card-title>
        <v-card-text> Are you sure? You want to delete. </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="dialogDelete = false">
            No
          </v-btn>

          <v-btn color="green darken-1" text @click="deleteProject()">
            Yes
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="copyProject" max-width="400">
      <v-card>
        <v-card-title dark text class="mb-2"> Copy Project </v-card-title>
        <v-card-text> Are you sure? You want to copy the project. </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="copyProject = false">
            No
          </v-btn>

          <v-btn color="green darken-1" text @click="duplicate()">
            Yes
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  name: "DraftProject",
  data() {
    return {
      dialogDelete: false,
      selected_id: null,
      selectedProject: null,
      copyProject: false,
    };
  },
  computed: {
    ...mapGetters("projectLists", ["draftProjects"]),
  },
  methods: {
    ...mapActions("projectLists", ["getDraftProjects"]),
    ...mapActions("snackbar", ["showSnack"]),

    confirmDelete(project) {
      this.selectedProject = project;
      this.dialogDelete = !this.dialogDelete;
    },

    deleteProject() {     

      this.$store.dispatch("projectLists/deleteProject", this.selectedProject).then(
        () => {
          this.showSnack({
            text: "Project succesfully deleted!",
            color: "success",
            timeout: 5000,
          });
          this.dialogDelete = false;
        },
        (error) => {
          this.showSnack({
            text: error.response.data.message,
            color: "error",
            timeout: 5000,
          });
          this.dialogDelete = false;
        }
      );
    },

    confirmDuplicate(projectId) {
      this.selected_id = projectId;
      this.copyProject = !this.copyProject;
    },
    duplicate() {
      this.$store.dispatch("projectLists/copyProject", this.selected_id).then(
        () => {
          this.showSnack({
            text: "Project succesfully copied and saved to draft projects",
            color: "success",
            timeout: 5000,
          });
          this.copyProject = false;
        },
        (error) => {
          this.showSnack({
            text: error.response.data.message,
            color: "error",
            timeout: 5000,
          });
          this.copyProject = false;
        }
      );
    },

    goToEditPage(project_id, type){
      if(type === 'PRIVATE'){
        this.$router.push({ path: `/personal-project/${project_id}/edit?mode=edit`, });
      }else{
        this.$router.push({ path: `/personal-project/public/${project_id}/edit?mode=edit`, });
      }
      
    },

    checkRole(project, accessRoles) {
      let hasRole = false;
      project.my_roles.forEach(role => {
        accessRoles.forEach(aRole => {
          if(aRole === role.user_type) {
            hasRole = true;
          }
        })  
      });
      return hasRole;
    }
  },
  mounted() {
    this.getDraftProjects();
    console.log("sdsdsd",this.draftProjects)
  },
};
</script>

<style scoped>
@import "../../../assets/css/style.css";
@import "../../../assets/css/custom.css";
</style>
