<template>
  <div class="col-lg-9 col-md-9">
    <h4
      class="pt-3 pb-3 personal-project-txt d-none d-md-block d-lg-block d-xl-block"
    >
      Past Projects
    </h4>

    <div class="custom-margin">
      <form>
        <table class="table table-hover">
          <thead>
            <tr>
              <th class="active-table-top-bottom" scope="col">Project Name</th>
              <th class="active-table-top-bottom" scope="col">Start Date</th>
              <th class="active-table-top-bottom" scope="col">
                First Deadline
              </th>
              <th class="active-table-top-bottom" scope="col">
                Second Deadline
              </th>
              <th class="active-table-top-bottom" scope="col">Initiated By</th>
              <th class="active-table-top-bottom" scope="col">Role</th>
              <th class="active-table-top-bottom" scope="col">Type</th>
              <th class="active-table-top-bottom" scope="col">Collaborators</th>
              <th class="active-table-top-bottom" scope="col">
                Docs Collected
              </th>
              <th class="active-table-top-bottom" scope="col">Docs Approved</th>
              <th class="active-table-top-bottom" scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr
              class="active-table"
              v-for="project in pastProjects"
              :key="project.id"
            >
              <td>
                <p class="projectname-filed" readonly="readonly">
                  {{ project.title }}
                </p>
              </td>
              <td>
                <p class="start-date-field" readonly="readonly">
                  {{ project.start_date }}
                </p>
              </td>
              <td>
                <p class="start-date-field" readonly="readonly">
                  {{ project.end_date_first }}
                </p>
              </td>
              <td>
                <p class="start-date-field" readonly="readonly">
                  {{ project.end_date_second }}
                </p>
              </td>
              <td>
                <p class="initiated-field" readonly="readonly">
                  {{ project.initiated_by }}
                </p>
              </td>
              <td>
                <p class="start-date-field" readonly="readonly">
                  <!-- {{ project.my_roles[0].user_type }} -->
                  {{ getUserType(project.my_roles) }}
                </p>
              </td>
              <td>
                <p class="type-filed" readonly="readonly">
                  {{ project.project_type }}
                </p>
              </td>
              <td>
                <p class="active-colloraborator-filed" readonly="readonly">
                  {{ project.total_collaborators }}
                </p>
              </td>
              <td><p class="initiated-field" readonly="readonly">{{ project.collected_documents }}</p></td>
              <td><p class="type-filed" readonly="readonly">{{ project.approved_documents }}</p></td>
              <td class="custom-icon-flex">
                <span
                  ><a href="javascript:void(0)" @click="goToDetailPage(project)"
                    ><img
                      src="../../../assets/fonts/eye.png"
                      class="custom-view-icon"
                      alt=""/></a
                ></span>
                <span
                  ><a
                    href="javascript:void(0)"
                    @click="confirmDuplicate(project.id)"
                    ><img
                      src="../../../assets/fonts/copy.png"
                      class="custom-svg-icon"
                      alt=""/></a
                ></span>
                <span
                  ><a
                    ><img
                      src="../../../assets/fonts/delete.png"
                      @click="confirmDelete(project)"
                      class="custom-view-icon"
                      alt=""/></a
                ></span>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>

    <v-dialog v-model="dialogDelete" max-width="290">
      <v-card>
        <v-card-title dark text class="mb-2"> Delete </v-card-title>
        <v-card-text> Are you sure? You want to delete. </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="dialogDelete = false">
            No
          </v-btn>

          <v-btn color="green darken-1" text @click="deleteProject()">
            Yes
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="copyProject" max-width="400">
      <v-card>
        <v-card-title dark text class="mb-2"> Copy Project </v-card-title>
        <v-card-text> Are you sure? You want to copy the project. </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="copyProject = false">
            No
          </v-btn>

          <v-btn color="green darken-1" text @click="duplicate()">
            Yes
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  name: "PastProject",
  data() {
    return {
      dialogDelete: false,
      selected_id: null,
      selectedProject: null,
      copyProject: false,
    };
  },
  computed: {
    ...mapGetters("projectLists", ["pastProjects"]),
  },
  methods: {
    ...mapActions("projectLists", ["getPastProjects"]),
    ...mapActions("snackbar", ["showSnack"]),

    goToDetailPage(project) {
      if (
        project.my_roles.some(
          (role) =>
            role.user_type === "HOST" || role.user_type === "SUPPORT_STAFF"
        )
      ) {
        this.$router.push({ path: `/personal-project/${project.id}/details` });
      } else if (
        project.my_roles.some((role) => role.user_type === "COLLABORATOR")
      ) {
        this.$router.push({
          path: `/personal-project/${project.id}/upload-documents`,
        });
      }
    },

    confirmDelete(project) {
      this.selectedProject = project;
      this.dialogDelete = !this.dialogDelete;
    },

    deleteProject() {
      this.$store
        .dispatch("projectLists/deleteProject", this.selectedProject)
        .then(
          () => {
            this.showSnack({
              text: "Project succesfully deleted!",
              color: "success",
              timeout: 5000,
            });
            this.dialogDelete = false;
          },
          (error) => {
            this.showSnack({
              text: error.response.data.message,
              color: "error",
              timeout: 5000,
            });
            this.dialogDelete = false;
          }
        );
    },

    confirmDuplicate(projectId) {
      this.selected_id = projectId;
      this.copyProject = !this.copyProject;
    },
    duplicate() {
      this.$store.dispatch("projectLists/copyProject", this.selected_id).then(
        () => {
          this.showSnack({
            text: "Project succesfully copied and saved to draft projects",
            color: "success",
            timeout: 5000,
          });
          this.copyProject = false;
        },
        (error) => {
          this.showSnack({
            text: error.response.data.message,
            color: "error",
            timeout: 5000,
          });
          this.copyProject = false;
        }
      );
    },
    getUserType(myRoles) {
      let roleTxt = '';
      let userTypes = {HOST: 'Host', COLLABORATOR: 'Collaborator', SUPPORT_STAFF: 'Staff'}
      myRoles.forEach(role => {
        roleTxt += userTypes[role.user_type];
        roleTxt += role.scopes?': '+role.scopes+', ':', ';
      });
      return roleTxt;
    }
  },
  mounted() {
    this.getPastProjects();
  },
};
</script>

<style scoped>
@import "../../../assets/css/style.css";
@import "../../../assets/css/custom.css";
</style>
