<template>
  <div class="col-lg-9 col-md-9 ">
    <h4
      class="pt-3 pb-3 personal-project-txt  d-none d-md-block d-lg-block d-xl-block"
    >
      Personal Project : Private
    </h4>
    <div class="custom-margin">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <label for="pass" class="all-txt"
            >Total Number of Unique Documents Needed from Collaborators</label
          >
          <br />
          <input
            type="number"
            class="custom-support-input-filed"
            name="rows"
            @keyup.enter="addRows"
            v-model="rows"
          />
          <span
            ><input
              type="button"
              @click="addRows"
              class="add-btn add-btn-mobile"
              value="Add rows"
          /></span>
        </div>
      </div>

      <div class="row" style="height: 10px;"></div>
      
        <v-alert
          v-if="serverErrors"
          outlined
          type="error"
          prominent
          border="left"
          dismissible
          style="width: 1040px"
        >
          <ul>
            <li
              v-for="(field, index) of Object.keys(serverErrors)"
              :key="index"
            >
              {{ serverErrors[field][0] }}
            </li>
          </ul>
        </v-alert>
        <div class="row">
          <div class="col-lg-12 col-md-12 ">
            <table class="table2">
              <thead>
                <tr>
                  <td class="all-txt" scope="col">Document Name</td>
                  <td class="all-txt" colspan="2" scope="col">File Size Limit(if any)</td>
                  <td class="all-txt" scope="col">&nbsp; &nbsp; &nbsp;</td>
                  <td class="all-txt" scope="col">File Type Limit(if any)</td>
                  <!-- <td class="all-txt" scope="col">&nbsp; &nbsp; &nbsp;</td> -->
                  <td class="all-txt" scope="col">Template(if any)</td>
                  <td class="all-txt text-left" scope="col">
                    &nbsp; &nbsp; &nbsp;
                  </td>
                  <td class="all-txt" scope="col">&nbsp; &nbsp; &nbsp;</td>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(document, index) in documents" :key="index">
                  <td>
                    <input
                      type="text"
                      class="doccument-field"
                      v-model="document.title"
                    />
                  </td>

                  <td style="width: 120px">
                    <input
                      type="number"
                      class="file-size-field"
                      v-model="document.max_size"
                    />
                  </td>

                  <!-- <td style="position: relative"> -->
                  <td class="mb-td">
                    <v-menu offset-y style="padding-top:10px">
                      <template v-slot:activator="{ on, attrs }">
                        <!-- <a v-bind="attrs" v-on="on" class="size-dropdown"> -->
                        <a v-bind="attrs" v-on="on">
                          <span class="mb-txt">{{ document.size_unit }}</span
                          >&nbsp;
                          <span
                            ><img
                              src="../../../assets/fonts/down-arrow-new.png"
                              class=""
                              alt=""/></span
                          >&nbsp;&nbsp;&nbsp;
                        </a>
                      </template>
                      <v-list>
                        <v-list-item-group v-model="document.size_unit">
                          <v-list-item
                            v-for="(item, i) in sizeUnits"
                            :key="i"
                            :value="item.title"
                          >
                            <v-list-item-content>
                              <v-list-item-title
                                v-text="item.title"
                              ></v-list-item-title>
                            </v-list-item-content>
                          </v-list-item>
                        </v-list-item-group>
                      </v-list>
                    </v-menu>
                  </td>

                  <td>
                    <input
                      type="text"
                      class="file-type-limit"
                      v-model="document.formats"
                    />
                  </td>
                  <!-- <td>
                    <span
                      ><img
                        src="../../../assets/fonts/down-arrow-new.png"
                        class="arrow-down-icon"
                        alt=""
                    /></span>
                  </td> -->

                  <td>
                    <input
                      type="text"
                      class="template-field"
                      v-model="document.template_name"
                      readonly
                    />
                  </td>

                  <td class="text-left va-bottom">
                    <input
                      :id="`templateUpload-${index}`"
                      type="file"
                      @change="onFileChange($event, index, document)"
                      hidden
                    />
                    <a
                      href="javascript:void(0)"
                      @click="chooseFiles(index)"
                      v-if="!document.template_name"
                      ><img src="../../../assets/fonts/file.png" alt="file"
                    /></a>
                    <a
                      @click="removeFile(index, document)"
                      href="javascript:void(0)"
                      v-else
                      ><img
                        src="../../../assets/fonts/close.png"
                        class="close-btn"
                        alt=""
                    /></a>
                  </td>

                  <td class="download-and-del-icon pl-5 va-bottom">
                    <a
                      href="javascript:void(0)"
                      @click="movePosition(document.position, 'down')"
                      v-if="document.position === 0"
                      title="click to move down"
                      ><img src="../../../assets/fonts/down-arrow.png" alt=""
                    /></a>
                    <a
                      href="javascript:void(0)"
                      @click="movePosition(document.position, 'up')"
                      title="click to move up"
                      v-else
                    >
                      <img src="../../../assets/fonts/up-arrow.png" alt="" />
                    </a>
                    <!-- <a href="javascript:void(0)"
                      ><img src="../../../assets/fonts/down-arrow.png" alt=""
                    /></a> -->

                    <a
                      class="ml-2"
                      href="javascript:void(0)"
                      @click="removeItem(index, document)"
                      ><img src="../../../assets/fonts/delete.png" alt=""
                    /></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="pt-3 save-area">
              <button
                type="button"
                @click="saveDocument('next')"
                class="btn btn-primary save-btn"
              >
                Save & Next
              </button>
              <span
                ><button
                  type="button"
                  @click="saveDocument('draft')"
                  class="btn btn-primary save-btn"
                >
                  Save as Draft
                </button></span
              >
            </div>
          </div>
        </div>
      
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "AddDocuments",
  data() {
    return {
      projectId: null,
      documents: [
        {
          id: "",
          title: "",
          max_size: "",
          size_unit: "MB",
          template: "",
          template_name: "",
          formats: "",
          position: 0,
        },
      ],
      sizeUnits: [{ title: "KB" }, { title: "MB" }, { title: "GB" }],
      rows: 1,
      serverErrors: null,
    };
  },
  // computed: {
  //   ...mapGetters("privateProjects", ["privateProject"]),
  // },
  methods: {
    ...mapActions("snackbar", ["showSnack"]),
    ...mapActions("privateProjects", [
      "getDocuments",
      "removeDocument",
      "removeDocumentTemplate",
    ]),

    addRows() {
      if (this.rows < this.documents.length) {
        this.showSnack({
          text: `You already added ${this.documents.length} rows, If want to reduce the number of rows then you've to delete the row manually`,
          color: "warning",
          timeout: 6000,
        });
        return false;
      } else if (this.rows == this.documents.length) {
        return false;
      }
      for (var i = this.documents.length; i < this.rows; i++) {
        this.documents.push({
          id: "",
          title: "",
          max_size: "",
          size_unit: "MB",
          template: "",
          template_name: "",
          formats: "",
          position: this.documents.length,
        });
      }      
    },
    chooseFiles(index) {
      document.getElementById("templateUpload-" + index).click();
    },
    onFileChange(e, index, document) {
      if (document.id) {
        this.documents = this.documents.map((item) => {
          if (item.id === document.id) {
            item.template = e.target.files[0];
            item.template_name = e.target.files[0].name;
          }
          return item;
        });
      } else {
        this.documents[index].template = e.target.files[0];
        this.documents[index].template_name = e.target.files[0].name;
      }
    },
    saveDocument(savingType) {
      const config = {
        headers: { "content-type": "multipart/form-data" },
      };
      let formData = new FormData();

      this.documents.forEach((item, key) => {
        formData.append(`documents[${key}][id]`, item.id);
        formData.append(`documents[${key}][title]`, item.title);
        formData.append(`documents[${key}][max_size]`, item.max_size);
        formData.append(`documents[${key}][size_unit]`, item.size_unit);
        formData.append(`documents[${key}][template]`, item.template);
        formData.append(`documents[${key}][formats]`, item.formats);
        formData.append(`documents[${key}][position]`, item.position);
      });

      this.$store.dispatch("snackbar/showOverlay", 1);

      this.$store
        .dispatch(
          "privateProjects/storeDocuments",
          {
            formData: formData,
            projectId: this.projectId,
          },
          config
        )
        .then(
          () => {
            this.serverErrors = null;
            this.showSnack({
              text: "Documents Successfully Saved!",
              color: "success",
              timeout: 5000,
            });
            this.$store.dispatch("snackbar/showOverlay", 0);
            if (savingType === "next") {
              this.$router.push({
                path: `/personal-project/${this.projectId}/assign-documents`,
                query: {
                  mode: this.$route.query.mode
                    ? this.$route.query.mode
                    : "create",
                },
              });
            } else {
              this.$router.push({ path: "/personal-project/draft-projects" });
            }
          },
          (error) => {
            console.log(error.response);
            this.$store.dispatch("snackbar/showOverlay", 0);
            this.showSnack({
              text: error.response.data.message,
              color: "error",
              timeout: 5000,
            });
            if (error.response.data.errors) {
              this.serverErrors = error.response.data.errors;
              let uniqueErrors = [];
              for (const property in this.serverErrors) {                
                if(uniqueErrors.includes(this.serverErrors[property][0])) {
                  delete this.serverErrors[property];
                } else {
                  uniqueErrors.push(this.serverErrors[property][0])  
                }                
              }
            }
          }
        );
    },
    removeItem(index, document) {
      if (document.id) {
        this.removeDocument({
          projectId: this.projectId,
          documentId: document.id,
        }).then(() => {
          this.documents = this.documents.filter((item) => {
            return item.id != document.id;
          });
          this.resetPosition();
        });
      } else {
        this.documents.splice(index, 1);
        this.resetPosition();
      }
    },
    resetPosition() {
      let position = 0;
      this.documents.map((item) => {
        item.position = position++;
        return item;
      });
    },
    removeFile(index, document) {
      if (document.id) {
        this.removeDocumentTemplate({
          projectId: this.projectId,
          documentId: document.id,
        }).then(() => {
          this.documents = this.documents.map((item) => {
            if (item.id === document.id) {
              item.template = "";
              item.template_name = "";
            }
            return item;
          });
        });
      } else {
        this.documents[index].template = "";
        this.documents[index].template_name = "";
      }
    },
    fetchDocuments(projectId) {
      this.getDocuments(projectId).then((res) => {
        if (res.data.data.length) {
          this.documents = res.data.data;
          this.documents.map((item) => {
            item.template_name = item.template;
            item.template = "";
            return item;
          });
        }
      });
    },
    movePosition(currentPosition, optType) {
      if (optType === "up") {
        this.documents.map((item) => {
          if (currentPosition === item.position) {
            item.position -= 1;
          } else if (currentPosition - 1 === item.position) {
            item.position = currentPosition;
          }
          return item;
        });
      } else {
        this.documents.map((item) => {
          if (currentPosition === item.position) {
            item.position += 1;
          } else if (currentPosition + 1 === item.position) {
            item.position = currentPosition;
          }
          return item;
        });
      }
      this.documents = this.documents.slice().sort((a, b) => {
        return a.position - b.position;
      });
    },
  },
  created() {
    this.projectId = this.$route.params.id;
  },
  mounted() {
    this.fetchDocuments(this.projectId);
  },
};
</script>

<style scoped>
@import "../../../assets/css/style.css";
@import "../../../assets/css/custom.css";

.not_show {
  display: none;
}
.show {
  display: block;
}
</style>
<style lang="scss" scoped>
.size-dropdown {
  position: absolute;
  left: -38px;
  color: inherit;
  bottom: -9px;
  text-decoration: none;
}
.va-bottom {
  vertical-align: center;
}
.mb-txt {
  font-size: 15px;
  background: none;
}

.mb-td{
  width: 80px;
}

</style>
