<template>
  <div class="col-lg-9 col-md-9 ">
    <h4
      class="pt-3 pb-3 personal-project-txt d-none d-md-block d-lg-block d-xl-block"
    >
      Personal Project : Private
    </h4>
    <div class="custom-margin">
      
        <v-alert
          v-if="serverErrors"
          outlined
          type="error"
          prominent
          border="left"
          dismissible
          style="width: 1040px"
        >
          <ul>
            <li
              v-for="(field, index) of Object.keys(serverErrors)"
              :key="index"
            >
              {{ serverErrors[field][0] }}
            </li>
          </ul>
        </v-alert>
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <label for="pass" class="custom-label"
              >Total number of Support Staff</label
            >
            <br />
            <input
              type="number"
              class="custom-support-input-filed"
              @keyup.enter="addRows"
              v-model="rows"
            />
            <span>
              <input
                @click="addRows"
                type="button"
                class="add-btn add-btn-mobile"
                value="Add rows"
            /></span>
          </div>
        </div>
        <div class="row" style="height: 10px;"></div>
        <div class="row">
          <div class="col-lg-12 col-md-12 ">
            <table class="table2">
              <thead>
                <tr>
                  <td class="all-txt" scope="col">Email</td>
                  <td class="all-txt" scope="col">First Name</td>
                  <td class="all-txt" scope="col">Last Name</td>
                  <td class="all-txt" scope="col">Organization</td>
                  <td class="all-txt" scope="col">Partial Access?</td>
                  <td class="all-txt" scope="col">Full Access?</td>
                  <td
                    class="all-txt d-none d-md-block d-lg-block d-xl-block"
                    scope="col"
                  >
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr
                  class="active-table"
                  v-for="(supportStaff, index) in supportStaffs"
                  :key="index"
                >
                  <td>
                    <input
                      type="email"
                      class="form-control email-field"
                      v-model="supportStaff.email"
                      required
                    />
                  </td>
                  <td>
                    <input
                      type="text"
                      class="form-control rest-field"
                      v-model="supportStaff.first_name"
                      required
                    />
                  </td>
                  <td>
                    <input
                      type="text"
                      class="form-control rest-field"
                      v-model="supportStaff.last_name"
                    />
                  </td>
                  <td>
                    <input
                      type="text"
                      class="form-control rest-field"
                      v-model="supportStaff.organization"
                    />
                  </td>
                  <td>
                    <input
                      type="radio"
                      class="form-check-input custom-checkbox checkbox-for-support"
                      value="partial"
                      v-model="supportStaff.scopes"                      
                    />
                  </td>
                  <td>
                    <input
                      type="radio"
                      class="form-check-input custom-checkbox checkbox-for-support"
                      value="full"
                      v-model="supportStaff.scopes"                      
                    />
                  </td>
                  <td class="download-and-del-icon">
                    <a
                      href="javascript:void(0)"
                      @click="movePosition(supportStaff.position, 'down')"
                      v-if="supportStaff.position === 0"
                      title="click to move down"
                      ><img
                        style="padding-top: 10px"
                        src="../../../assets/fonts/down-arrow.png"                        
                        alt=""
                    /></a>
                    <a 
                      href="javascript:void(0)"
                      @click="movePosition(supportStaff.position, 'up')"
                      title="click to move up"
                      v-else
                    >
                      <img
                        style="padding-top: 10px"
                        src="../../../assets/fonts/up-arrow.png"                       
                        alt=""
                      />
                    </a>

                    <span>
                      <a 
                        class="ml-3"
                        href="javascript:void(0)"
                        @click="removeItem(index, supportStaff)"
                        ><img
                          style="padding-top: 10px"
                          src="../../../assets/fonts/delete.png" alt="" />
                      </a>
                    </span>
                    <br /><br />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="pt-3 save-area">
              <a
                ><button
                  type="button"
                  @click="saveSupportStaff('next')"
                  class="btn btn-primary save-btn"
                >
                  Save & Next
                </button></a
              >
              <span
                ><button
                  type="button"
                  @click="saveSupportStaff('draft')"
                  class="btn btn-primary save-btn"
                >
                  Save as Draft
                </button></span
              >
            </div>
          </div>
        </div>
      
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "AddSupportStaffs",
  data() {
    return {
      projectId: null,
      scope: null,
      supportStaffs: [
        {
          email: "",
          first_name: "",
          last_name: "",
          organization: "",
          scopes: "",
          position: 0,
        },
      ],
      rows: 1,
      serverErrors: null,
    };
  },
  // computed: {
  //   ...mapGetters("privateProjects", ["privateProject"]),
  // },
  methods: {
    ...mapActions("snackbar", ["showSnack"]),
    ...mapActions("privateProjects", ["getSupportStaffs", "removeUser"]),

    addRows() {
      // this.supportStaffs = [];
      if(this.rows < this.supportStaffs.length) {
         this.showSnack({
              text: `You already added ${this.supportStaffs.length} rows, If want to reduce the number of rows then you've to delete the row manually`,
              color: "warning",
              timeout: 6000,
            });
        return false;
      } else if(this.rows == this.supportStaffs.length) {
        return false;
      }
      for (var i = this.supportStaffs.length; i < this.rows; i++) {
        this.supportStaffs.push({
          email: "",
          first_name: "",
          last_name: "",
          organization: "",
          scopes: "",
          position: this.supportStaffs.length,
        });
      }
    },

    saveSupportStaff(savingType) {
      //console.log(savingType)
      //console.log(this.supportStaffs)
      this.$store.dispatch("snackbar/showOverlay", 1);

      this.$store
        .dispatch("privateProjects/storeSupportStaffs", {
          supportStaffs: this.supportStaffs,
          projectId: this.projectId,
        })
        .then(
          (res) => {
            //this.$store.dispatch('snackbar/showOverlay', 0);
            this.serverErrors = null;
            this.showSnack({
              text: "Support Staffs Successfully Saved!",
              color: "success",
              timeout: 5000,
            });
            this.$store.dispatch("snackbar/showOverlay", 0);
            if (savingType === "next") {
              this.$router.push({
                path: `/personal-project/${res.data.data.id}/plans`,
                query: {mode: this.$route.query.mode?this.$route.query.mode:'create'}
              });
            } else {
              this.$router.push({ path: "/personal-project/draft-projects" });
            }
          },
          (error) => {
            console.log(error.response);
            this.$store.dispatch("snackbar/showOverlay", 0);
            this.showSnack({
              text: error.response.data.message,
              color: "error",
              timeout: 5000,
            });
            if (error.response.data.errors) {
              this.serverErrors = error.response.data.errors;
              let uniqueErrors = [];
              for (const property in this.serverErrors) {                
                if(uniqueErrors.includes(this.serverErrors[property][0])) {
                  delete this.serverErrors[property];
                } else {
                  uniqueErrors.push(this.serverErrors[property][0])  
                }                
              }
            }
          }
        );
    },
    removeItem(index, staff) {
      if (staff.id) {
        this.removeUser({
          projectId: this.projectId,
          userId: staff.id,
          userType: "SUPPORT_STAFF",
        }).then(() => {
          this.supportStaffs = this.supportStaffs.filter((item) => {
            return item.id != staff.id;
          });
          this.positionReset();
        });
      } else {
        this.supportStaffs.splice(index, 1);
        this.positionReset();
      }
    },
    positionReset() {
      let position = 0;
      this.supportStaffs.map((item) => {
        item.position = position++;
        return item;
      });
    },
    fetchSupportStaffs(projectId) {
      this.getSupportStaffs(projectId).then((res) => {
        if (res.data.data.length) {
          this.supportStaffs = res.data.data;
          this.positionReset();
        }
      });
    },
    movePosition(currentPosition, optType) {
      if (optType === "up") {
        this.supportStaffs.map((item) => {
          if (currentPosition === item.position) {
            item.position -= 1;
          } else if (currentPosition - 1 === item.position) {
            item.position = currentPosition;
          }
          return item;
        });
      } else {
        this.supportStaffs.map((item) => {
          if (currentPosition === item.position) {
            item.position += 1;
          } else if (currentPosition + 1 === item.position) {
            item.position = currentPosition;
          }
          return item;
        });
      }
      this.supportStaffs = this.supportStaffs.slice().sort((a, b) => {
        return a.position - b.position;
      });
    },
  },
  created() {
    this.projectId = this.$route.params.id;
  },
  mounted() {
    this.fetchSupportStaffs(this.projectId);
  },
};
</script>

<style scoped>
@import "../../../assets/css/style.css";
@import "../../../assets/css/custom.css";

.table2 td{
  vertical-align: top;
}

</style>
