<template>
  <div class="col-lg-9 col-md-9 ">
    <h4
      class="pt-3 pb-3 personal-project-txt d-none d-md-block d-lg-block d-xl-block"
    >
      Personal Project : Private
    </h4>
    <div class="custom-margin">
      
        <v-alert
          v-if="serverErrors"
          outlined
          type="error"
          prominent
          border="left"
          dismissible
          style="width: 1040px"
        >
          <ul>
            <li
              v-for="(field, index) of Object.keys(serverErrors)"
              :key="index"
            >
              {{ serverErrors[field][0] }}
            </li>
          </ul>
        </v-alert>
        <div class="row">
          <div class="col-lg-12 col-md-12 ">
            <table class="table2">
              <thead>
                <tr>
                  <td class="all-txt" scope="col">Document Name</td>
                  <td class="all-txt" scope="col">Assigned to Collaborators</td>
                </tr>
              </thead>
              <tbody>
                <tr v-for="document in documents" :key="document.id">
                  <td>
                    <input
                      type="text"
                      :value="document.title"
                      disabled 
                      class="display-field"
                    />
                    <div class="extra-border"></div>
                  </td>

                  <td
                    v-for="collaborator in collaborators"
                    :key="collaborator.id"
                  >
                    <input
                      type="text"
                      :value="
                        collaborator.first_name + ' ' + collaborator.last_name
                      "
                      readonly
                      class="form-control display-field"
                      style="width:80% !important; display: inline-block;"
                    />
                    <input
                      v-model="document.collaborators_ids"
                      type="checkbox"
                      class="form-check-input csutom-checkbox-assign"
                      style="display: inline-block;"
                      :value="collaborator.id"
                    />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="pt-3 save-area">
              <button
                type="button"
                @click="assignDocument('next')"
                class="btn btn-primary save-btn"
              >
                Save & Next
              </button>
              <span
                ><button
                  @click="assignDocument('draft')"
                  type="button"
                  class="btn btn-primary save-btn"
                >
                  Save as Draft
                </button></span
              >
            </div>
          </div>
        </div>
      
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  name: "AssignDocuments",
  data() {
    return {
      projectId: "",
      serverErrors: null,
    };
  },
  computed: {
    ...mapGetters("privateProjects", ["documents", "collaborators"]),
  },
  methods: {
    ...mapActions("privateProjects", ["getDocuments", "getCollaborators"]),
    ...mapActions("snackbar", ["showSnack"]),

    assignDocument(savingType) {
      let newData = [];
      this.documents.forEach((item) => {
        newData.push({
          document_id: item.id,
          collaborators_ids: item.collaborators_ids,
        });
      });
      this.$store.dispatch("snackbar/showOverlay", 1);
      this.$store
        .dispatch("privateProjects/assignDocuments", {
          data: newData,
          projectId: this.projectId,
        })
        .then(
          () => {
            this.serverErrors = null;
            this.showSnack({
              text: "Primary info Successfully Saved!",
              color: "success",
              timeout: 5000,
            });
            this.$store.dispatch("snackbar/showOverlay", 0);
            if (savingType === "next") {
              this.$router.push({
                path: `/personal-project/${this.projectId}/add-support-staff`,
                query: {mode: this.$route.query.mode?this.$route.query.mode:'create'}
              });
            } else {
              this.$router.push({ path: "/personal-project/draft-projects" });
            }
          },
          (error) => {
            console.log(error.response);
            this.$store.dispatch("snackbar/showOverlay", 0);
            this.showSnack({
              text: error.response.data.message,
              color: "error",
              timeout: 5000,
            });
            if (error.response.data.errors) {
              this.serverErrors = error.response.data.errors;
              let uniqueErrors = [];
              for (const property in this.serverErrors) {                
                if(uniqueErrors.includes(this.serverErrors[property][0])) {
                  delete this.serverErrors[property];
                } else {
                  uniqueErrors.push(this.serverErrors[property][0])  
                }                
              }
            }
          }
        );
    },
  },
  created() {
    this.projectId = this.$route.params.id;
  },
  mounted() {
    this.getDocuments(this.projectId);
    this.getCollaborators(this.projectId);
  },
};
</script>

<style scoped>
@import "../../../assets/css/style.css";
@import "../../../assets/css/custom.css";

.not_show {
  display: none;
}
.show {
  display: block;
}
</style>
