<template>
  <div class="col-lg-9 col-md-9">
    <h4 class="pt-3 pb-3 personal-project-txt custom-mobile-hidden">
      Personal Project : Private
    </h4>
    <div class="custom-margin">
      <div class="row mb-3">
        <div class="col-lg-6 col-md-6">
          <label for="pass" class="custom-label"
            >Total number of collaborators</label
          >
          <br />
          <input
            type="number"
            class="custom-support-input-filed"
            @keyup.enter="addRows"
            v-model="rows"
          />
          <span
            ><input
              @click="addRows"
              type="button"
              class="add-btn add-btn-mobile"
              value="Add rows"
          /></span>
        </div>
        <div class="col-lg-6 col-md-6 text-center">
          <input
            id="uploadCsv"
            type="file"
            accept=".csv"
            @change="onFileChange"
            hidden
          />
          <input
            @click="chooseFiles"
            type="button"
            class="csv-btn csv-for-mobile"
            value="Upload CSV"
          />
          <br />
          <a
            href="/templates/collaborators.csv"
            download
            class="csv-download-link"
            ><small>Download CSV Template </small></a
          >
        </div>
      </div>
      <form>
        <v-alert
          v-if="serverErrors"
          outlined
          type="error"
          prominent
          border="left"
          dismissible
          style="width: 1040px"
        >
          <ul>
            <li
              v-for="(field, index) of Object.keys(serverErrors)"
              :key="index"
            >
              {{ serverErrors[field][0] }}
            </li>
          </ul>
        </v-alert>
        <table class="table table-hover table-for-collaborator">
          <thead>
            <tr>
              <th class="active-table-top-bottom" scope="col">Email</th>
              <th class="active-table-top-bottom" scope="col">First Name</th>
              <th class="active-table-top-bottom" scope="col">Last Name</th>
              <th class="active-table-top-bottom" scope="col">Organization</th>
              <th class="active-table-top-bottom" scope="col">&nbsp; &nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr
              class="active-table"
              v-for="(collaborator, index) in collaborators"
              :key="index"
            >
              <td>
                <input
                  type="email"
                  class="form-control email-field input-margin-top"
                  v-model="collaborator.email"
                  required
                />
              </td>
              <td>
                <input
                  type="text"
                  class="form-control rest-field input-margin-top"
                  v-model="collaborator.first_name"
                  required
                />
              </td>
              <td>
                <input
                  type="text"
                  class="form-control rest-field input-margin-top"
                  v-model="collaborator.last_name"
                  required
                />
              </td>
              <td>
                <input
                  type="text"
                  class="form-control rest-field input-margin-top"
                  v-model="collaborator.organization"
                  required
                />
              </td>
              <td class="cus-td">
                <a
                  href="javascript:void(0)"
                  @click="movePosition(collaborator.position, 'down')"
                  v-if="collaborator.position === 0"
                  title="click to move down"
                  ><img
                    src="../../../assets/fonts/down-arrow.png"
                    class="input-margin-top"
                    alt=""
                /></a>
                <a
                  href="javascript:void(0)"
                  @click="movePosition(collaborator.position, 'up')"
                  title="click to move up"
                  v-else
                >
                  <img
                    src="../../../assets/fonts/up-arrow.png"
                    class="input-margin-top"
                    alt=""
                  />
                </a>
                <span
                  ><a
                    href="javascript:void(0)"
                    @click="removeItem(index, collaborator)"
                    class="ml-3"
                    ><img
                      src="../../../assets/fonts/delete.png"
                      class="input-margin-top"
                      alt=""/></a
                ></span>
                <br /><br />
              </td>
            </tr>
          </tbody>
        </table>
        <div class="pt-3 save-area">
          <button
              type="button"
              @click="saveCollaborator('next')"
              class="btn btn-primary save-btn"
            >
              Save & Next
            </button>
          <span
            ><button
              type="button"
              @click="saveCollaborator('draft')"
              class="btn btn-primary save-btn"
            >
              Save as Draft
            </button></span
          >
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "Collaborator",
  data() {
    return {
      projectId: null,
      collaborators: [
        {
          id: "",
          email: "",
          first_name: "",
          last_name: "",
          organization: "",
          position: 0,
        },
      ],
      rows: 1,
      serverErrors: null,
    };
  },
  // computed: {
  //   ...mapGetters("privateProjects", ["privateProject"]),
  // },
  methods: {
    ...mapActions("snackbar", ["showSnack"]),
    ...mapActions("privateProjects", ["getCollaborators", "removeUser"]),

    addRows() {
      // this.collaborators = [];
      if(this.rows < this.collaborators.length) {
         this.showSnack({
              text: `You already added ${this.collaborators.length} rows, If want to reduce the number of rows then you've to delete the row manually`,
              color: "warning",
              timeout: 6000,
            });
        return false;
      } else if(this.rows == this.collaborators.length) {
        return false;
      }
      for (var i = this.collaborators.length; i < this.rows; i++) {
        this.collaborators.push({
          id: "",
          email: "",
          first_name: "",
          last_name: "",
          organization: "",
          position: this.collaborators.length,
        });
      }
    },
    chooseFiles() {
      document.getElementById("uploadCsv").click();
    },
    onFileChange(e) {
      const config = {
        headers: { "content-type": "multipart/form-data" },
      };
      let formData = new FormData();
      formData.append(`file`, e.target.files[0]);

      this.$store.dispatch("snackbar/showOverlay", 1);

      this.$store
        .dispatch("privateProjects/importCollaborators", formData, config)
        .then(
          (res) => {
            this.serverErrors = null;
            this.showSnack({
              text: "Collaborators Successfully imported!",
              color: "success",
              timeout: 5000,
            });
            this.$store.dispatch("snackbar/showOverlay", 0);
            console.log(res.data);
            this.collaborators.push(...res.data);
            this.rows = this.collaborators.length;

            let position = 0;
            this.collaborators.map((item) => {
              item.position = position++;
              return item;
            });
          },
          (error) => {
            this.$store.dispatch("snackbar/showOverlay", 0);
            this.showSnack({
              text: error.response.data.message,
              color: "error",
              timeout: 5000,
            });
            if (error.response.data.errors) {
              this.serverErrors = error.response.data.errors;
            }
          }
        );
    },
    saveCollaborator(savingType) {
      this.$store.dispatch("snackbar/showOverlay", 1);
      this.$store
        .dispatch("privateProjects/storeCollaborators", {
          collaborators: this.collaborators,
          projectId: this.projectId,
        })
        .then(
          (res) => {
            //this.$store.dispatch('snackbar/showOverlay', 0);
            this.serverErrors = null;
            this.showSnack({
              text: "Collaborators Successfully Saved!",
              color: "success",
              timeout: 5000,
            });
            this.$store.dispatch("snackbar/showOverlay", 0);
            if (savingType === "next") {
              this.$router.push({
                path: `/personal-project/${res.data.data.id}/add-documents`,
                query: {mode: this.$route.query.mode?this.$route.query.mode:'create'}
              });
            } else {
              this.$router.push({ path: "/personal-project/draft-projects" });
            }
          },
          (error) => {
            console.log(error.response);
            this.$store.dispatch("snackbar/showOverlay", 0);
            this.showSnack({
              text: error.response.data.message,
              color: "error",
              timeout: 5000,
            });
            if (error.response.data.errors) {
              this.serverErrors = error.response.data.errors;
              let uniqueErrors = [];
              for (const property in this.serverErrors) {                
                if(uniqueErrors.includes(this.serverErrors[property][0])) {
                  delete this.serverErrors[property];
                } else {
                  uniqueErrors.push(this.serverErrors[property][0])  
                }                
              }
              
            }
          }
        );
    },
    removeItem(index, collaborator) {
      if (collaborator.id) {
        this.removeUser({
          projectId: this.projectId,
          userId: collaborator.id,
          userType: "COLLABORATOR",
        }).then(() => {
          this.collaborators = this.collaborators.filter((item) => {
            return item.id != collaborator.id;
          });
          this.positionReset();
        });
      } else {
        this.collaborators.splice(index, 1);
        this.positionReset();
      }
    },
    positionReset() {
      let position = 0;
      this.collaborators.map((item) => {
        item.position = position++;
        return item;
      });
    },
    fetchCollaborators(projectId) {
      this.getCollaborators(projectId).then((res) => {
        if (res.data.data.length) {
          this.collaborators = res.data.data;
        }
      });
    },
    movePosition(currentPosition, optType) {
      if (optType === "up") {
        this.collaborators.map((item) => {
          if (currentPosition === item.position) {
            item.position -= 1;
          } else if (currentPosition - 1 === item.position) {
            item.position = currentPosition;
          }
          return item;
        });
      } else {
        this.collaborators.map((item) => {
          if (currentPosition === item.position) {
            item.position += 1;
          } else if (currentPosition + 1 === item.position) {
            item.position = currentPosition;
          }
          return item;
        });
      }
      this.collaborators = this.collaborators.slice().sort((a, b) => {
        return a.position - b.position;
      });
    },
  },
  created() {
    this.projectId = this.$route.params.id;
  },
  mounted() {
    this.fetchCollaborators(this.projectId);
  },
};
</script>

<style scoped>
@import "../../../assets/css/style.css";
@import "../../../assets/css/custom.css";
</style>
<style lang="scss" scoped>
.csv-download-link {
  color: inherit;
}
.cus-td{
  width: 10%;
  padding-top: 25px;
}
</style>
