<template>
  <div class="col-lg-9 col-md-9">
    <h4
      class="pt-3 pb-3 personal-project-txt d-none d-md-block d-lg-block d-xl-block"
    >
      Personal Project : Private
    </h4>
    <div class="custom-margin form-for-mob">
      
        <v-alert
          v-if="serverErrors"
          outlined
          type="error"
          prominent
          border="left"
          dismissible
          style="width: 1040px"
        >
          <ul>
            <li
              v-for="(field, index) of Object.keys(serverErrors)"
              :key="index"
            >
              {{ serverErrors[field][0] }}
            </li>
          </ul>
        </v-alert>

        <div class="pb-3 pt-3">
          <label for="" class="project-label-txt">Project Name</label>
          <input
            type="text"
            class="form-control project-input-filed"
            id="exampleInputEmail1"
            v-model="name"
            aria-describedby="emailHelp"
          />
          <p
            v-bind:class="{ show: error.name, not_show: !error.name }"
            style="color:red"
          >
            *Project name is required
          </p>
        </div>
        <div class="form-group">
          <div class="pb-3 pt-3">
            <label for="exampleFormControlTextarea1" class="project-label-txt"
              >Project Summary</label
            >
            <textarea
              class="form-control custom-txtarea"
              id="exampleFormControlTextarea1"
              v-model="summary"
              rows="3"
            ></textarea>
            <p
              v-bind:class="{ show: error.summary, not_show: !error.summary }"
              style="color:red"
            >
              *Project summary is required
            </p>
          </div>
          <p class="project-label-txt">
            Project-related Files(e.g, Call for proposal, Public
            Annoucement,etc.)
          </p>
          <input
            type="text"
            class="custom-input-field-two"
            :placeholder="related_files.length + ' files selected'"
          />
          <span class="fileUpload ml-2">
              <input multiple=true type="file" id="rel_files" class="upload" @change="onFileChange"/>
              <span>Upload</span>
          </span>
        </div>
        <div class="pdf-file-area" v-if="related_files.length">
          <div v-for="(file, index) in related_files" :key="index">
            <img src="../../../assets/fonts/pdf.png" class="pdf-font" alt="" />
            <span class="project-file-txt">{{ file.name.substring(0,50) }}</span>
            <img
              src="../../../assets/fonts/close.png"
              class="close-btn"
              @click="removeFile(index)"
              alt=""
            />
            <br />
          </div>
        </div>
        <div class="pb-3 save-area">
          <a @click="handleSubmit()"
            ><button type="button" class="save-btn">
              Save & Next
            </button></a
          >
          <span
            ><button
              type="button"
              @click="handleSetAsDraft()"
              class="save-btn"
            >
              Save as Draft
            </button></span
          >
        </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "PrimaryInfo",
  data() {
    return {
      name: null,
      summary: null,
      related_files: [],
      temp_related_files: [],
      related_files_name: [],
      is_draft: 0,
      validForm: true,
      error: {
        name: false,
        summary: false,
      },
      serverErrors: null,
    };
  },
  computed: {
    ...mapGetters("privateProjects", ["project"]),
  },
  created() {
      this.getDefaultPlans();

      this.getPersonalAnnualplans();

      this.getPersonalMonthlyplans();

      this.getPaymentMethods();

      this.getProfileData();
  },
  methods: {
    ...mapActions("snackbar", ["showSnack"]),
    ...mapActions("pricingPlans", ["getDefaultPlans", "getPaymentMethods"]),
    ...mapActions("pricingPlans", ["getPersonalAnnualplans", "getPersonalMonthlyplans"]),
    ...mapActions("profiles", ["getProfileData"]),

    onFileChange(e) {
      this.temp_related_files = Array.from(e.target.files);
      // this.temp_related_files.unshift(e.target.files);
      this.related_files = this.related_files.concat(this.temp_related_files);
      document.querySelector('#rel_files').value = ''
      // console.log("qq", this.related_files)
    },
    removeFile(index) {
      this.related_files.splice(index, 1);
      //console.log(this.related_files)
    },
    handleSubmit() {
      this.validationCheck();

      if (this.validForm) {
        const config = {
          headers: { "content-type": "multipart/form-data" },
        };

        let formData = new FormData();

        formData.append("name", this.name);
        formData.append("summary", this.summary);
        formData.append("is_draft", 1); //always 1 until project start

        this.related_files.forEach((file, key) => {
          formData.append("related_files[" + key + "]", file);
        });

        let dispatchUrl = "privateProjects/storePrimaryInfo";
        this.$store.dispatch("snackbar/showOverlay", 1);
        this.$store.dispatch(dispatchUrl, formData, config).then(
          (res) => {
            this.serverErrors = null;
            this.showSnack({
              text: "Primary info Successfully Saved!",
              color: "success",
              timeout: 5000,
            });
            this.$store.dispatch("snackbar/showOverlay", 0);
            this.$router.push({
              path: `/personal-project/${res.data.data.id}/set-deadlines`,
              query: {mode: this.$route.query.mode?this.$route.query.mode:'create'} });
          },
          (error) => {            
            this.$store.dispatch("snackbar/showOverlay", 0);
            this.showSnack({
              text: error.response.data.message,
              color: "error",
              timeout: 5000,
            });
            if (error.response.data.errors) {
              this.serverErrors = error.response.data.errors;
            }
          }
        );
      }
    },
    handleSetAsDraft() {
      this.validationCheck();

      if (this.validForm) {
        const config = {
          headers: { "content-type": "multipart/form-data" },
        };

        let formData = new FormData();

        formData.append("name", this.name);
        formData.append("summary", this.summary);
        formData.append("is_draft", 1);

        this.related_files.forEach((file, key) => {
          formData.append("related_files[" + key + "]", file);
        });

        let dispatchUrl = "privateProjects/storePrimaryInfo";
        this.$store.dispatch("snackbar/showOverlay", 1);

        this.$store.dispatch(dispatchUrl, formData, config).then(
          () => {
            this.serverErrors = null;
            this.showSnack({
              text: "Primary info Successfully Saved!",
              color: "success",
              timeout: 5000,
            });
            this.$store.dispatch("snackbar/showOverlay", 0);
            this.$router.push({ path: "/personal-project/draft-projects" });
          },
          (error) => {            
            this.$store.dispatch("snackbar/showOverlay", 0);
            this.showSnack({
              text: error.response.data.message,
              color: "error",
              timeout: 5000,
            });
            if (error.response.data.errors) {
              this.serverErrors = error.response.data.errors;
            }
          }
        );
      }
    },
    validationCheck() {
      if (!this.name) {
        this.error.name = true;
        this.validForm = false;
      } else {
        this.error.name = false;
        this.validForm = true;
      }
      if (!this.summary) {
        this.error.summary = true;
        this.validForm = false;
      } else {
        this.error.summary = false;
        this.validForm = true;
      }
    },
  },
};
</script>

<style scoped>
@import "../../../assets/css/style.css";
@import "../../../assets/css/custom.css";

.not_show {
  display: none;
}
.show {
  display: block;
}
</style>
