<template>
  <div class="col-lg-9 col-md-9 ">
    <h4
      class="pt-3 pb-3 personal-project-txt d-none d-md-block d-lg-block d-xl-block"
    >
      Personal Project : Private
    </h4>
    <v-alert
      v-if="serverErrors"
      outlined
      type="error"
      prominent
      border="left"
      dismissible
      style="width: 1040px"
    >
      <ul>
        <li
          v-for="(field, index) of Object.keys(serverErrors)"
          :key="index"
        >
          {{ serverErrors[field][0] }}
        </li>
      </ul>
    </v-alert>
    <div class="custom-margin form-for-mob">
      <div class="pb-3 pt-3">
        <h5>Do you want to start the project and send emails?</h5>
      </div>

      <div class="row">
        <div class="col-md-3">
          <button type="button" class="btn start-btn" @click="startProject()">
            Yes, start the project
          </button>
        </div>
        <div class="col-md-3">
          <button type="button" class="btn start-btn" @click="goToDraft()">
            No, save it as a Draft
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "StartProject",
  data() {
    return {
      projectId: "",
      serverErrors: null,
    };
  },
  methods: {
    ...mapActions("snackbar", ["showSnack"]),

    startProject() {
      this.$store.dispatch("snackbar/showOverlay", 1);

      this.$store.dispatch("privateProjects/startProject", this.projectId).then(
        () => {
          this.serverErrors = null;
          this.showSnack({
            text: "Project starts Successfully!",
            color: "success",
            timeout: 5000,
          });
          this.$store.dispatch("snackbar/showOverlay", 0);
          this.$router.push({ path: "/personal-project/active-projects" });
        },
        (error) => {
          console.log(error.response);
          this.$store.dispatch("snackbar/showOverlay", 0);
          this.showSnack({
            text: error.response.data.message,
            color: "error",
            timeout: 5000,
          });
          if (error.response.data.errors) {
            this.serverErrors = error.response.data.errors;
          }
        }
      );
    },
    goToDraft() {
      this.serverErrors = null;
      this.showSnack({
        text: "Project saved as draft Successfully!",
        color: "success",
        timeout: 5000,
      });
      this.$store.dispatch("snackbar/showOverlay", 0);
      this.$router.push({ path: "/personal-project/draft-projects" });
    },
  },
  created() {
    this.projectId = this.$route.params.id;
  },
};
</script>

<style scoped>
@import "../../../assets/css/style.css";
@import "../../../assets/css/custom.css";


</style>
