.row-custom{
    display: flex;
}

.row-custom > div {
    width: 230px;
}

.custom-logo{
    margin-top: -6px;
    /* width: 230px; */
    /* width: 52%; */
    /* height: 75px; */
}

.logo-float{
    /* margin-left: 108px; */
    float: right;
    margin-top: 2px;
}

.demo{
    padding: 0px !important;
    /* max-width: 378px !important;  */
}

/* @media screen and (min-device-width: 1280px) { 
    .logo-ml{
        margin-left: 40px;
    }
}

@media screen and (min-device-width: 1366px) { 
    .logo-ml{
        margin-left: 76px;
    }
}

@media screen and (min-device-width: 1920px) { 
    .logo-ml{
        margin-left: 100px;
    }
}

@media screen and (min-device-width: 2000px) { 
    .logo-ml{
        margin-left: 180px;
    }
} */

.submit-btn:hover{
    cursor: pointer;
}

.custom-card:hover{
    cursor: pointer;
}

.create-account{
    border: 2px solid black;
    background: #FF5F1F;
    color: white;
    height: 48px;
    width: 177px;
    font-family: 'Poppins';
    padding: 0 10px;
}
        
.create-account:hover{
    cursor: pointer;
    background: #8A1DFF;
}

.create-account:focus{
    background: #8A1DFF;
}

.name-input-field{
    width: 220px;
    height: 48px;
    background: #F8F8F8;
    border: none;
    padding: 10px 15px;
}

.resend-btn{
    padding-left: 10px;
}

.resend-btn:hover{
    cursor: pointer;
}

  
.add-btn:hover{
        cursor: pointer;
    }

.custom-nav-link:hover{
    color: #9D1DFF !important;
}

.sidebar-issue-fix{
    margin-top: 12px;
}

.btn-text-issue-fix{
    padding-left: 10px;
}

.details-txtarea{
    width: 68%;
    height: 200px !important;
    border: none;
    background: #F8F8F8; 
}

.card-icon-new{
    width: 288px;
}

.custom-card-new{
    width: 288px;
    height: 288px;
    border-radius: 0 0 20px 20px;
    background: rgb(255,249,246);
    background: radial-gradient(circle, rgba(255,249,246,1) 0%, rgba(255,116,60,1) 100%);
    cursor: pointer;
}



.mg-top{
    margin-top: 70px;
}

.team-input-field{
    width: 100%;
    height: 48px;
    background: #F8F8F8; 
    border: none;
    padding-left: 5px;
}

.team-input-file{
    width: 100%;
    height: 48px;
    background: #F8F8F8; 
    border: none;
    padding-left: 5px;
}

.price-card-new{
    border-radius: 33px;
    border: 4px solid #871AFF;
    min-height: 365px;
    /* height: 350px; */
}

.price-card-new-title{
    border: none;
    /* height: 350px; */
    margin-top: 60px;
}

.price-card-new-info{
    border: 1px solid #FF5F1F;
    min-height: 315px;
    /* height: 350px; */
    width: 100%;
    border-radius: 0px !important;
}

.price-card-new-team{
    border-radius: 33px;
    border: 4px solid #871AFF;
    min-height: 410px;
    /* height: 350px; */
}

.platinum{
    height: 365px;
}

.submit-btn-new{
    border: 2px solid black;
    background: #FF5F1F;
    color: white;
    height: 48px;
    margin-left: 10px;
    font-family: 'Poppins';
    padding: 0 10px;
}

.submit-btn-new:hover, .submit-btn-new:focus, .fileUpload:focus{
    background: #871AFF;
}

.start-btn {
    border: 2px solid black;
    width: 100%;
    padding: 12px;
    background-color: #ff5f1f;
    color: white;
}

.start-btn:hover, .start-btn:focus{
    background: #871AFF;
    color:white;
}

.next-btn{
    border: 2px solid black;
    background: #FF5F1F;
    color: white;
    height: 48px;
    margin-left: 10px;
    font-family: 'Poppins';
    padding: 10px;
}

.next-btn:hover, .next-btn:focus{
    background: #871AFF;
    color:white;
}

.price-pkg-btn{
    width: 155px;
    padding: 7px 18px;
    border-color: #871AFF;
    border-radius: 20px;
    border: 2px solid #871AFF;
    font-size: 16px;
    font-weight: 800;
}

.plus-bg{
    background: #00F5D4;
}

.professional-bg{
    background: #00BAF9;
}

.executive-bg{
    background: #FEE340;
}

.business-bg{
    background: #F15BB4;
}

.fileUpload {
    border: 2px solid black;
	background: #FF5F1F;
	color: #fff;
    border-radius: 4px;;
	font-size: 1em;
	margin: 1.25em auto;/*20px/16px 0*/
	overflow: hidden;
	padding: 10px 8px;/*14px/16px*/
	position: relative;
	text-align: center;
	width: 120px;
    cursor: pointer;
    border-radius: 0px !important;
}

.fileUpload-two {
	background: #FF5F1F;
    /* border: 1px solid #871AFF; */
	color: #fff;
    border-radius: 4px;
	font-size: 1em;
	font-weight: bold;
	margin: 1.25em auto;/*20px/16px 0*/
	overflow: hidden;
	padding: 10px 8px;/*14px/16px*/
	position: relative;
	text-align: center;
	width: 40%;
    cursor: pointer;
}

.fileUpload:hover, .fileUpload:active, .fileUpload:focus {
	background: #8A1DFF;
  cursor: pointer;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    width: 148px;
    height: 46px;
    cursor: pointer;
}

input[type="file"] {
    position: fixed;
    right: 100%;
    bottom: 100%;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.save-btn-custom{
    border: 2px solid black;
    background: #FF5F1F;
    color: white;
    height: 48px;
    margin-left: 10px;
    font-family: 'Poppins';
    min-width: 80px;
    border-radius: 0px !important;
}

.save-btn-custom:hover{
    background: #8A1DFF;
}

.save-btn-custom:focus{
    background: #8A1DFF;
}

.custom-input-field-three{
    width: 235px;
    height: 48px;
    background: #F8F8F8; 
    border: none;
    padding-left: 5px;
}

.custom-input-field-four{
    width: 50%;
    height: 48px;
    background: #F8F8F8; 
    border: none;
    padding-left: 5px;
}

.cus-in-fie{
    width: 100%;
    height: 48px;
    background: #F8F8F8; 
    border: none;
    padding-left: 5px;
}

input:focus {
    border: 1px solid black;
}

.doc-filed{
    max-width: 98%;
    min-height: 48px;
    background: #F8F8F8;
    border: none;
    padding-top: 12px;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.form-control:focus{
    border: 2px solid black !important;
    box-shadow: none !important;
    background: #F8F8F8;
}

.p_col{
    padding: 5px;
}

.p_name{
    font-size: 16px !important;
}

.card-body{
    padding: 2px;
}

.p_mail{
    font-size: 28px;
}

.mar-b{
    margin-bottom: 40px;
}

.d-btn{
    border: 2px solid black;
    background: #FF5F1F;
    color: white; 
    border-radius: 0px !important;
}

.d-btn:hover{
    background: #8A1DFF;
}

.txt-color{
    color: #8A1DFF;
}