<template>
  <div>
    <section class="sticky-header sticky-not-visible">
      <div id="mySidebar" class="sidebar" style="width: 0px;">
        <a href="javascript:void(0)" class="closebtn" @click="closeNav()">×</a>
        <img src="img/logo.png" class="pb-3 logo-for-mob" alt="" />
        <a href="#">Dashboard</a>
        <a href="#">Teams</a>
        <a href="#">Personal</a>
        <a href="#">External</a>
        <a href="#">Notifications</a>
        <a href="#">Alerts</a>
        <a href=""
          ><input
            class="form-control custom-search"
            type="search"
            placeholder="Search"
            aria-label="Search"
        /></a>
      </div>

      <div class="row">
        <div class="col">
          <button class="openbtn" @click="openNav()">☰</button>
        </div>

        <div class="col">
          <div class="row">
            <div class="col-lg-10 col-md-10  mt-2">
              <p class="profile-name-txt">Arshi Shayesta</p>
              <p class="profile-email-txt">puneetdwivedi@gmail.com</p>
            </div>

            <div class="col-lg-2 col-md-2">
              <img src="img/face.png" class="profile-img-mob" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <header class="custom-nav custom-nav custom-mobile-hidden">
      <!-- As a heading -->
      <nav class="navbar navbar-light">
        <div class="container-fluid custom">
          <div class="row">
            <div class="col-lg-3 col-md-3">
              <img src="../../assets/img/logo.png" class="custom-logo logo-ml" alt="" />
            </div>
            <div class="col-lg-9 col-md-9">
              <nav class="navbar navbar-expand-lg navbar-light custom-nav-bar">
                <div
                  class="collapse navbar-collapse"
                  id="navbarSupportedContent"
                >
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                      <a 
                        class="custom-nav-link" 
                        @click="goToMainDashboard()"
                        :class="{'active-nav' : $route.name==='MainDashboard'}"
                        >Dashboard</a
                      >
                    </li>
                    <li class="nav-item">
                      <a 
                        class="custom-nav-link" 
                        @click="goToTeams()"
                        :class="{'active-nav' : $route.name.includes('Team') }"
                        >Teams</a>
                    </li>
                    <li class="nav-item">
                      <a
                        class="custom-nav-link"
                        @click="goToPersonalDashboard()"
                        :class="{'active-nav' : $route.name.includes('Personal') || $route.name.includes('PP')  }"
                        >Personal</a
                      >
                    </li>
                    <li class="nav-item">
                      <a 
                        class="custom-nav-link" 
                        @click="goToExternal()"
                        :class="{'active-nav' : $route.name.includes('External') }"
                        >External</a>
                    </li>
                    <li class="nav-item">
                      <a 
                        class="custom-nav-link" 
                        @click="goToNotifications()"
                        :class="{'active-nav' : $route.name.includes('Notification') }"
                        >Notifications<span class="custom-badge">{{notifications.length}}</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="custom-nav-link" href="#">Alerts</a>
                    </li>

                    <li>
                      <input
                        class="form-control custom-search"
                        type="search"
                        v-model="search"
                        placeholder="Enter project title"
                        aria-label="Search"
                        v-on:keyup.enter="getSearchedData"
                      />
                    </li>
                  </ul>
                </div>

                <!-- <div class="search-result">
                        <div class="list-group">
                            <button 
                            type="button" 
                            class="list-group-item list-group-item-action"
                            v-for="(data, index) in searchedData" 
                            :key="index"
                            v-on:click="gotoDetails(data.id, data.team_id, data.pid)"
                            >
                              {{data.title}}
                            </button>
                        </div>
                      </div> -->
              </nav>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6">
              
            </div>
            <div class="col-lg-6 col-md-6">
              
            </div>
          </div>
        </div>
      </nav>
    </header>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  name: "Navbar",
  data(){
    return{
      search: '',
      searchedData: []
    }
  },
  watch: {
    search(newValue, oldValue){
      console.log(oldValue);
      this.$emit('data-changed', newValue)
      // this.$store
      //           .dispatch("notifications/getSearchedData", this.search)
      //           .then(
      //           (res) => {
      //               console.log("pp", res.data.data)
      //               // this.plan = res.data.data
      //               this.searchedData = res.data.data
      //           },
      //           (error) => {
      //               if(error.response.status == 404) {
      //                   // this.plan = null
      //               }
      //           }
      //           );
      // if(newValue == ''){
      //   this.searchedData = []
      // }
    }
  },

  computed: {
        ...mapGetters("notifications", ["notifications"])
  },

  methods: {
    ...mapActions("notifications", ["getNotifications"]),

    // getSearchedData(){
    //   this.$store
    //             .dispatch("notifications/getSearchedData", this.search)
    //             .then(
    //             (res) => {
    //                 console.log("pp", res.data.data)
    //                 // this.plan = res.data.data
    //                 this.searchedData = res.data.data
    //             },
    //             (error) => {
    //                 if(error.response.status == 404) {
    //                     // this.plan = null
    //                 }
    //             }
    //             );
    // },

    // gotoDetails(id, team_id, pid){
    //   console.log(id);
    //   console.log(team_id);
    //   console.log(pid);
    // },

    goToMainDashboard() {
      //if(this.$route.name==='PersonalActiveProjects') return false;

          this.$router.push({ path: "/main-dashboard" });
      },
    
    goToExternal(){
          this.$router.push({ path: "/external-public-project/dashboard" });
    },

    goToTeams(){
          this.$router.push({ path: "/team/dashboard" });
    },

    goToNotifications(){
          this.$router.push({ path: "/notification" });
    },

    goToPersonalDashboard() {
      //if(this.$route.name==='PersonalActiveProjects') return false;

          this.$router.push({ path: "/personal-project/dashboard" });
    },
    openNav() {
      document.getElementById("mySidebar").style.width = "250px";
    },

    closeNav() {
      document.getElementById("mySidebar").style.width = "0";
    },
  },

  mounted() {
      this.getNotifications();
      console.log(this.notifications)
  }
};
</script>

<style scoped>
@import "../../assets/css/style.css";
.v-application a {
  color: black;
}

.custom-badge{
  background-color:#FF8D5F;
  border-radius: 50%;
  padding: 0px 8px; 
  margin-left: 2px;
}

.search-result{
  width: 240px;
  margin-left: 80px !important;
}
</style>
