<template>
    <div class="col-lg-3 col-md-3 sidebar-bg">
        <div class="list-group list-group-flush item-margin-top item-margin-top-mob">
            <a class="custom-sidebar-menu" href="javascript:void(0)" :class="{'active-custom-menu': $route.name==='PersonalDraftProjects'}" @click="goToDraftProjects()">Draft Projects</a>
            <a class="custom-sidebar-menu" href="javascript:void(0)" :class="{'active-custom-menu': $route.name==='PersonalActiveProjects'}" @click="goToActiveProjects()">Active Projects</a>
            <a class="custom-sidebar-menu" href="javascript:void(0)" :class="{'active-custom-menu': $route.name==='PersonalPastProjects'}" @click="goToPastProjects()">Past Projects</a>
            <a class="custom-sidebar-menu" href="javascript:void(0)" :class="{'active-custom-menu': $route.name==='PersonalDeletedProjects'}" @click="goToDeletedProjects()">Deleted Projects</a>
        </div>

        <Profile />
    </div>
</template>

<script>
const Profile = () => import("@/components/common/Profile");

export default {
    name: "Sidebar",
    components: {
        Profile,
    },
    methods: {
        goToActiveProjects(){
            if(this.$route.name==='PersonalActiveProjects') return false;

            this.$router.push({ path: "/personal-project/active-projects" });
        },
        goToDraftProjects(){
            if(this.$route.name==='PersonalDraftProjects') return false;
            this.$router.push({ path: "/personal-project/draft-projects" });
        },
        goToPastProjects(){
            if(this.$route.name==='PersonalPastProjects') return false;
            this.$router.push({ path: "/personal-project/past-projects" });
        },
        goToDeletedProjects(){
            if(this.$route.name==='PersonalDeletedProjects') return false;
            this.$router.push({ path: "/personal-project/deleted-projects" });
        }
    },
    
}
</script>

<style scoped>
@import "../../assets/css/style.css";
@import "../../assets/css/custom.css";

.custom-margin{
    margin-bottom: 100px !important;
}
</style>