<template>

        <div class="col-lg-9 col-md-9 ">
            <h4 class="pt-3 pb-3 personal-project-txt">Profile</h4>
            <div class="custom-margin">
                    
                <div class="row">
                    <div class="col-md-4">
                        <label for="" class="deadline-txt">Document Name</label>
                        <input type="text" v-model="name" class="custom-input-creditCard" @change="docNameChange()">
                        <p v-bind:class="{ show: error.name, not_show: !error.name }" style="color:red">*Document name is required</p>
                    </div>

                    <div class="col-md-3">
                        <label for="" class="deadline-txt">File</label><br />
                        <input 
                            type="text" 
                            class="custom-input-field-four"
                            :placeholder="file.name"
                        />
                        <p v-bind:class="{ show: error.file.name, not_show: !error.file.name }" style="color:red">*File is required</p>
                        
                        <span class="fileUpload ml-2">
                            <input multiple=false type="file" class="upload" id="rel_files" @change="onFileChange($event)"/>
                            <!-- <span><img src="../../../assets/fonts/upload.png" class="custom-view-icon" alt="" /></span> -->
                            <span>Upload</span>
                        </span>
                        <div class="pdf-file-area" v-if="file.name != null">
                            <img src="../../../assets/fonts/file.png" class="pdf-font" alt="" />
                            <span  class="project-file-txt">{{ file.name }}</span>
                            <img
                                src="../../../assets/fonts/close.png"
                                class="close-btn"
                                @click="removeFile()"
                                alt=""
                            />
                            <br />
                        </div>
                    </div>                
                    
                </div>
                
                <div class="row pb-3 mt-5">
                    <button type="button" class="save-btn-custom" @click="saveDocument()">Save Document</button>
                </div>

                <div v-if="documents.length > 0" class="col-md-8 col-lg-6 pl-0 ml-cus">
                    <h4 class="ml-0 pt-3 pb-3 personal-project-txt">Added Documents</h4>
                    <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">Document name</th>
                        <!-- <th scope="col">File name</th> -->
                        <th scope="col"></th>
                        <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(doc, index) in documents" :key="index">
                            <td>
                                <p class="doc-filed" readonly="readonly">{{ doc.name }}</p>
                            </td>
                            <!--
                            <td >
                                <p class="doc-filed" readonly="readonly">{{ doc.attachment }}</p>
                            </td> -->
                            <td class="pt-2" style="width: 40px">
                                <a
                                    href="javascript:void(0)"
                                    @click="downloadDocument(doc.id, doc.attachment)"
                                    ><img src="../../../assets/fonts/download.png" alt="" />
                                </a>
                            </td>
                            <td class="pt-2" style="width: 40px">
                                <a
                                    href="javascript:void(0)"
                                    @click="confirmDeleteDocument(doc.id)"
                                    ><img src="../../../assets/fonts/delete.png" alt="" />
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    </table>
                </div>
                
                
            </div>

            <v-dialog v-model="deleteDocumentDialog" max-width="400">
            <v-card>
                <v-card-title dark text class="mb-2 txt-color"> Delete Document </v-card-title>
                <v-card-text> Are you sure you want to delete the document? </v-card-text>
                <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn class="d-btn" color="white darken-1" text @click="deleteDocumentDialog = false">
                    No
                </v-btn>

                <v-btn class="d-btn" color="white darken-1" text @click="removeDocument()">
                    Yes
                </v-btn>
                </v-card-actions>
            </v-card>
            </v-dialog>
        </div>
    
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
    name: "DocumentsCreate",
    data(){
        return {
            max_size: 5242880,
            name: null,
            file: {name: null},
            selected_id: null,
            deleteDocumentDialog: false,
            error: {
                name: false,
                file: {name: false},
            },
            position: 0,
            validForm: true,
            documents: []
        }
    },
    computed: {
        ...mapGetters("profiles", ["profileDocuments"])
    },
    methods: {
        ...mapActions("snackbar", ["showSnack"]),
        ...mapActions("profiles", ["getProfileDocuments"]),

        confirmDeleteDocument(id){
            this.selected_id = id
            this.deleteDocumentDialog = !this.deleteDocumentDialog
        },

        docNameChange(){
            console.log("a")
            if(this.error.name === true){
                this.error.name = false;
            }
        },
        onFileChange(e) {
            if(this.error.file.name === true){
                this.error.file.name = false;
            }
            if(this.max_size < e.target.files[0].size)
            {
                this.showSnack({
                text: "File size must be 5MB or less",
                color: "error",
                timeout: 5000,
                });
                this.validForm = false;
            }else{
                this.validForm = true;
                this.file = e.target.files[0];
                document.querySelector('#rel_files').value = ''
            }
            
        },
        removeFile() {
            this.file = {name: null}
        },
        downloadDocument(id, attachment){
            console.log(id)
            this.$store
                .dispatch("profiles/downloadDocument", id )
                .then(
                (res) => {
                    let blob = new Blob([res.data], { type: 'application/pdf' })
                    let link = document.createElement('a')
                    link.href = window.URL.createObjectURL(blob)
                    link.download = attachment
                    link.click()
                    this.serverErrors = null;
                    this.showSnack({
                    text: "Documents downloaded successfully.",
                    color: "success",
                    timeout: 5000,
                    });
                    //this.getDocs()
                },
                (error) => {
                    console.log(error.response);
                }
                );
        },
        removeDocument(){
            this.$store
                .dispatch("profiles/deleteDocument", this.selected_id)
                .then(
                () => {
                    this.serverErrors = null;
                    this.showSnack({
                    text: "Documents deleted successfully.",
                    color: "success",
                    timeout: 5000,
                    });
                    this.$store.dispatch("snackbar/showOverlay", 0);
                    this.deleteDocumentDialog = false
                    this.getDocs()
                },
                (error) => {
                    console.log(error.response);
                    this.deleteDocumentDialog = false
                }
                );
        },
        getDocs(){
            this.$store
                .dispatch("profiles/getProfileDocuments")
                .then(
                (res) => {
                    this.documents = res.data.data
                },
                (error) => {
                    console.log(error.response);
                }
                );
        },
        saveDocument(){

            this.validationCheck()

            if(this.validForm){
                const config = {
                    headers: { "content-type": "multipart/form-data" },
                };

                let formData = new FormData();

                
                formData.append(`name`, this.name);
                formData.append(`file`, this.file);
                formData.append(`position`, this.position);
                

                this.$store
                .dispatch("profiles/storeDocuments", formData, config )
                .then(
                () => {
                    this.serverErrors = null;
                    this.showSnack({
                    text: "Documents Successfully Saved!",
                    color: "success",
                    timeout: 5000,
                    });
                    // this.$store.dispatch("snackbar/showOverlay", 0);
                    //this.$router.push({ path: "/profile/greeting" });
                    this.name = null
                    this.file = {name: null}

                    this.locateData()

                },
                (error) => {
                    console.log(error.response);
                    this.$store.dispatch("snackbar/showOverlay", 0);
                    this.showSnack({
                    text: error.response.data.message,
                    color: "error",
                    timeout: 5000,
                    });
                    if (error.response.data.errors) {
                    this.serverErrors = error.response.data.errors;
                    }
                }
                );
            }

        },

        locateData(){
            this.$store
                .dispatch("profiles/getProfileDocuments")
                .then(
                (res) => {
                    this.documents = res.data.data
                },
                (error) => {
                    console.log(error.response);
                }
                );
        },

        validationCheck() {
            var errorCount = 0;
            if (!this.name) {
                this.error.name = true;
                errorCount += 1;
            } else {
                this.error.name = false;
            }

            if (!this.file.name) {
                this.error.file.name = true;
                errorCount += 1;
            } else {
                this.error.file.name = false;
            }

            if(errorCount > 0){
                this.validForm = false;
            }else{
                this.validForm = true;
            }
        }
    },
    mounted() {
        this.locateData()
    }
    
}
</script>

<style scoped>
@import "../../../assets/css/style.css";
@import "../../../assets/css/custom.css";

.not_show{
    display: none;
}
.show{
    display: block;
}

table td{
    border: none;
    /* background-color: #F8F8F8; */
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.table thead th{
    border: none;
    padding-left: 0px;
}

.save-btn-custom{
    margin-left: 13px;
    padding: 0px 10px;
}

.ml-cus{
    margin-left: 5px;
}
</style>