<template>

        <div class="col-lg-9 col-md-9 ">
            <h4 class="pt-3 pb-3 personal-project-txt">Profile</h4>
            <div class="custom-margin">
                    
                <div class="row" v-for="(doc, index) in documents" :key="index">
                    <div class="col-md-4">
                        <label for="" class="deadline-txt">Document Name</label>
                        <input type="text" v-model="doc.name" class="form-control custom-input-creditCard mb-3" >
                    </div>

                    <div class="col-md-3">
                        <label for="" class="deadline-txt">File</label><br />
                        <input 
                            type="text" 
                            accept="image/*"
                            class="custom-input-field-four"
                            :placeholder="doc.file.name"
                        />
                        
                        <span class="fileUpload ml-2">
                            <input type="file" class="upload" @change="onFileChange($event, index)"/>
                            <!-- <span><img src="../../../assets/fonts/upload.png" class="custom-view-icon" alt="" /></span> -->
                            <span>upload</span>
                        </span>
                        <div class="pdf-file-area" v-if="doc.file.name != null">
                            <img src="../../../assets/fonts/file.png" class="pdf-font" alt="" />
                            <span  class="project-file-txt">{{ doc.file.name }}</span>
                            <img
                                src="../../../assets/fonts/close.png"
                                class="close-btn"
                                @click="removeFile(index)"
                                alt=""
                            />
                            <br />
                        </div>
                    </div>
                    
                    <div class="col-md-2 pl-0">
                        <br /><br />
                        <a
                        href="javascript:void(0)"
                        @click="movePosition(doc.position, 'down')"
                        v-if="doc.position === 0"
                        title="click to move down"
                        ><img
                            src="../../../assets/fonts/down-arrow.png"
                            alt=""
                        /></a>

                        <a
                            href="javascript:void(0)"
                            @click="movePosition(doc.position, 'up')"
                            title="click to move up"
                            v-else
                            >
                            <img
                                src="../../../assets/fonts/up-arrow.png"                       
                                alt=""
                            />
                        </a>
                        

                        <span v-if="index > 0">
                        <a
                            href="javascript:void(0)"
                            @click="removeItem(index)"
                            ><img src="../../../assets/fonts/delete.png" alt="" />
                        </a>
                        </span>

                    </div>

                    
                    
                </div>
                
                
                <div class="row" style="height: 50px;">
            
                    <div style="margin-left: 15px" @click="addDocumentRow()">
                        <img class="add-icon" src="../../../assets/fonts/add-ano.png" alt="" />
                    </div>

                </div>
                <div class="pb-3 save-area">
                    <button type="button" class="btn btn-primary save-btn-custom" @click="saveDocument()">Save & Next</button>
                </div>

                <div v-if="profileDocuments.length > 0" class="col-md-6 mt-10">
                    <h4 class="ml-0 pt-3 pb-3 personal-project-txt">Documents</h4>
                    <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">attachment</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(doc, index) in profileDocuments" :key="index">
                            <th scope="row">{{index + 1}}</th>
                            <td>{{doc.name}}</td>
                            <td>{{doc.attachment}}</td>
                        </tr>
                    </tbody>
                    </table>
                </div>
                
                
            </div>
        </div>
    
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
    name: "DocumentsCreate",
    data(){
        return {
            max_size: 5242880,
            documents: [
                {
                    name: null,
                    file: {name: null},
                    position: 0
                },
            ],
            validForm: true,
        }
    },
    computed: {
        ...mapGetters("profiles", ["profileDocuments"])
    },
    methods: {
        ...mapActions("snackbar", ["showSnack"]),
        ...mapActions("profiles", ["getProfileDocuments"]),

        onFileChange(e, index) {
            if(this.max_size < e.target.files[0].size)
            {
                this.showSnack({
                text: "File size must be 5MB or less",
                color: "error",
                timeout: 5000,
                });
                this.validForm = false;
            }else{
                this.validForm = true;
                this.documents[index].file = e.target.files[0];
            }
            
        },
        removeFile(index) {
            this.documents[index].file = {name: null}
        },
        addDocumentRow(){
            this.documents.push(
                {
                name: null,
                file: {name: null},
                position: this.documents.length
                }
            )
        },

        saveDocument(){

            if(this.validForm){
                const config = {
                    headers: { "content-type": "multipart/form-data" },
                };

                let formData = new FormData();

                this.documents.forEach((item, key) => {
                    formData.append(`documents[${key}][name]`, item.name);
                    formData.append(`documents[${key}][file]`, item.file);
                    formData.append(`documents[${key}][position]`, item.position);
                });

                this.$store
                .dispatch("profiles/storeDocuments", formData, config )
                .then(
                () => {
                    this.serverErrors = null;
                    this.showSnack({
                    text: "Documents Successfully Saved!",
                    color: "success",
                    timeout: 5000,
                    });
                    this.$store.dispatch("snackbar/showOverlay", 0);
                    this.$router.push({ path: "/profile/greeting" });

                },
                (error) => {
                    console.log(error.response);
                    this.$store.dispatch("snackbar/showOverlay", 0);
                    this.showSnack({
                    text: error.response.data.message,
                    color: "error",
                    timeout: 5000,
                    });
                    if (error.response.data.errors) {
                    this.serverErrors = error.response.data.errors;
                    }
                }
                );
            }

        },
        movePosition(currentPosition, optType) {
            if (optType === "up") {
                this.documents.map((item) => {
                if (currentPosition === item.position) {
                    item.position -= 1;
                } else if (currentPosition - 1 === item.position) {
                    item.position = currentPosition;
                }
                return item;
                });
            } else {
                this.documents.map((item) => {
                if (currentPosition === item.position) {
                    item.position += 1;
                } else if (currentPosition + 1 === item.position) {
                    item.position = currentPosition;
                }
                return item;
                });
            }
            this.documents = this.documents.slice().sort((a, b) => {
                return a.position - b.position;
            });
        },
        positionReset() {
            let position = 0;
            this.documents.map((item) => {
                item.position = position++;
                return item;
            });
        },
        removeItem(index) {
            this.documents.splice(index, 1);
            this.positionReset();
        },
    },
    created() {
        this.getProfileDocuments()
    }
    
}
</script>

<style scoped>
@import "../../../assets/css/style.css";
@import "../../../assets/css/custom.css";

.not_show{
    display: none;
}
.show{
    display: block;
}
</style>