<template>

        <div class="col-lg-9 col-md-9 ">
            <h4 class="pt-3 pb-3 personal-project-txt">Profile</h4>
            <div class="custom-margin">
                    
                <div class="row">
                    <div class="col-md-4">
                        <label for="" class="deadline-txt">Enter your current password</label>
                        <input type="password" v-model="current_password" class="custom-input-creditCard mb-3" >
                        <p v-bind:class="{ show: error_current_password, not_show: !error_current_password }" style="color:red">*current password is required</p>

                        <label for="" class="deadline-txt">Enter your new password</label>
                        <input type="password" v-model="new_password" class="custom-input-creditCard mb-3" >
                        <p v-bind:class="{ show: error_new_password, not_show: !error_new_password }" style="color:red">*new pasword is required</p>

                        <div class="pb-3" style="margin-top: 50px;">
                            <button 
                            type="button"
                            class="submit-btn-new ml-0"
                            @click="sendConfirmation()"
                            >Send a Confirmation Email</button>
                        </div>
                    </div>
                    
                </div>
                
                    <!-- <div class="row" style="height: 50px;">
                    </div>
                    <div class="pb-3 save-area">
                        <button type="button" class="btn btn-primary save-btn-custom" @click="createNewCreditCard()">Save & Next</button>
                    </div> -->
                
            </div>
        </div>
    
</template>

<script>
import { mapActions } from "vuex";

export default {
    name: "PasswordCreate",
    data(){
        return {
            is_same: false,
            current_password: null,
            new_password: null,
            error_current_password: false,
            error_new_password: null,
            validForm: true,
        }
    },

    methods: {
        ...mapActions("snackbar", ["showSnack"]),

        sendConfirmation(){
            this.validationCheck()

            if (this.validForm) 
            {
                let dispatchUrl = "profiles/sendPasscodePassword";
                //this.$store.dispatch("snackbar/showOverlay", 1);

                this.$store
                    .dispatch(dispatchUrl, 
                    {
                        old_password: this.current_password,
                        new_password: this.new_password,
                    }
                    ).then(
                    () => {
                        this.serverErrors = null;
                        this.showSnack({
                        text: "Passcode Sent Successfully!",
                        color: "success",
                        timeout: 5000,
                        });
                        //this.$store.dispatch("snackbar/showOverlay", 0);
                        this.$router.push({ 
                            path: "/profile/password/create/confirm",
                            query: {password: this.new_password}
                        });
                        
                    },
                    (error) => {
                        console.log(error.response);
                        this.$store.dispatch("snackbar/showOverlay", 0);
                        this.showSnack({
                        text: error.response.data.error,
                        color: "error",
                        timeout: 5000,
                        });
                        if (error.response.data.errors) {
                        this.serverErrors = error.response.data.errors;
                        }
                    }
                );  
            }
            
        },

        validationCheck() {
            var errorCount = 0;

            if (!this.current_password) {
                this.error_current_password = true;
                errorCount += 1;
            } else {
                this.error_current_password = false;
            }

            if (!this.new_password) {
                this.error_new_password = true;
                errorCount += 1;
            } else {
                this.error_new_password = false;
            }

            if(errorCount > 0){
                this.validForm = false;
            }else{
                this.validForm = true;
            }

            return;
        },

    }
    
}
</script>

<style scoped>
@import "../../../assets/css/style.css";
@import "../../../assets/css/custom.css";

.not_show{
    display: none;
}
.show{
    display: block;
}
</style>