<template>

        <div class="col-lg-9 col-md-9 ">
            <h4 class="pt-3 pb-3 personal-project-txt">Profile</h4>
            <v-alert
                v-if="serverErrors"
                outlined
                type="error"
                prominent
                border="left"
                dismissible
                style="width: 1040px"
                >
                <ul>
                    <li
                    v-for="(field, index) of Object.keys(serverErrors)"
                    :key="index"
                    >
                    {{ serverErrors[field][0] }}
                    </li>
                </ul>
            </v-alert>
            <div class="custom-margin">
                    
                <div class="row">
                    <div class="col-md-3">
                        <label for="" class="deadline-txt">First Name</label>
                        <input type="text" v-model="first_name" class="custom-input-creditCard mb-3" >
                        <p v-bind:class="{ show: error.first_name, not_show: !error.first_name }" style="color:red">*First Name is required</p>

                        <label for="" class="deadline-txt">Last Name</label>
                        <input type="text" v-model="last_name" class="custom-input-creditCard mb-3" >
                        <p v-bind:class="{ show: error.last_name, not_show: !error.last_name }" style="color:red">*Last Name is required</p>

                        <!-- <label for="" class="deadline-txt">Email</label>
                        <input type="email" v-model="email" class="form-control custom-input-creditCard mb-3" >
                        <p v-bind:class="{ show: error.email, not_show: !error.email }" style="color:red">*email is required</p> -->

                        <label for="" class="deadline-txt">Address Line #1</label>
                        <input type="text" v-model="line1" class="custom-input-creditCard mb-3" >
                        <p v-bind:class="{ show: error.line1, not_show: !error.line1 }" style="color:red">*line # 1 is required</p>


                        <label for="" class="deadline-txt">Address Line #2</label>
                        <input type="text" v-model="line2" class="custom-input-creditCard mb-3" >


                        <label for="" class="deadline-txt">City</label>
                        <input type="text" v-model="city" class="custom-input-creditCard mb-3" >
                        <p v-bind:class="{ show: error.city, not_show: !error.city }" style="color:red">*city is required</p>


                        <label for="" class="deadline-txt">State</label>
                        <input type="text" v-model="state" class="custom-input-creditCard mb-3" >
                        <p v-bind:class="{ show: error.state, not_show: !error.state }" style="color:red">*state is required</p>


                        <label for="" class="deadline-txt">Country</label>
                        <input type="text" v-model="country" class="custom-input-creditCard mb-3" >
                        <p v-bind:class="{ show: error.country, not_show: !error.country }" style="color:red">*country is required</p>


                        <label for="" class="deadline-txt">Zip Code</label>
                        <input type="text" v-model="zip_code" class="custom-input-creditCard mb-3" >
                        <p v-bind:class="{ show: error.zip_code, not_show: !error.zip_code }" style="color:red">*Zip code is required</p>

                        
                    </div>

                    <div class="col-md-5">
                        <label for="" class="deadline-txt">Profile Picture (limit is 1 MB, format is square)</label><br />
                        <input 
                            type="text" 
                            accept="image/*"
                            class="custom-input-field-three"
                            :placeholder="profile_picture.name"
                        />
                        <span class="fileUpload ml-2">
                            <input multiple type="file" class="upload" accept="image/x-png,image/gif,image/jpeg" @change="onFileChange"/>
                            <!-- <span><img src="../../../assets/fonts/up-arrow.png" class="custom-view-icon" alt="" /></span> -->
                            <span>Upload</span>
                        </span>
                        <p v-bind:class="{ show: error.image_size, not_show: !error.image_size }" style="color:red">*image must be 1 MB or less</p>


                        <!-- <div class="pdf-file-area ml-4" v-if="profile_picture.name != null">
                            <img src="../../../assets/fonts/file.png" class="pdf-font" alt="" />
                            <span  class="project-file-txt">{{ profile_picture.name }}</span>
                            <img
                                src="../../../assets/fonts/close.png"
                                class="close-btn"
                                @click="removeFile()"
                                alt=""
                            />
                            <br />
                        </div> -->

                        <div class="col-lg-2 col-md-2 mb-10">
                            <!-- <img src="../../assets/img/face.png" alt=""> -->
                            <img class="custom-img" :src="imgSrc" alt="">
                        </div>
                    </div>

                    
                    
                </div>
                
                    <div class="row" style="height: 50px;">
                    </div>
                    <div class="pb-3 save-area">
                        <button type="button" class="save-btn-custom" @click="createNewCreditCard()">Save</button>
                    </div>
                
            </div>
        </div>
    
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
    name: "CreditCard",
    data(){
        return {
            imgSrc: null,
            first_name: null,
            last_name: null,
            // email: null,
            line1: null,
            line2: null,
            city: null,
            state: null,
            country: null,
            zip_code: null,
            profile_picture: {name: null},
            serverErrors: null,
            error: {
                first_name: false,
                last_name: false,
                // email: false,
                line1: false,
                city: false,
                state: false,
                country: false,
                zip_code: false,
                profile_picture: {name: false},
                image_size: false
            },
            validForm: true
        }
    },
    computed: {
        ...mapGetters("profiles", ["profileData"])
    },
    created() {
        console.log("profile created")
    },
    mounted() {
        //console.log(this.profileData)
        this.locateData();
    },
    methods: {
        ...mapActions("snackbar", ["showSnack"]),

        locateData(){
            this.$store
                .dispatch("profiles/getProfileData").then(
                (res) => {
                    //console.log("ppppp", res.data.data)

                    this.first_name = res.data.data.first_name
                    this.last_name = res.data.data.last_name
                    // this.email = res.data.data.email
                    this.city = res.data.data.city
                    this.state = res.data.data.state
                    this.country = res.data.data.country
                    this.zip_code = res.data.data.zip_code
                    //this.profile_picture.name = res.data.data.profile_picture
                    if(res.data.data.address.includes(",")){
                        let result = res.data.data.address.split(', ');
                        this.line1 = result[0]
                        this.line2 = result[1]
                    }else{
                        this.line1 = res.data.data.address
                    }
                    
                },
                (error) => {
                    console.log(error.response);
                }
            ); 
        },

        onFileChange(e) {
            var temp = e.target.files[0].size
            if((temp/1024) > 1024){
                //console.log(e.target.files[0].size)
                this.error.image_size = true
                this.validForm = false
            }else{
                this.profile_picture = e.target.files[0];
                this.error.image_size = false
                this.validForm = true

                var input = e.target;
                var reader = new FileReader();
                reader.onload = (ev) => {
                    this.imgSrc = ev.target.result;
                }
                reader.readAsDataURL(input.files[0]);
            }
        },

        removeFile() {
            this.profile_picture = {name: null}
        },

        createNewCreditCard(){
            this.validationCheck()

            if(this.validForm){
                const config = {
                    headers: { "content-type": "multipart/form-data" },
                };
                let dispatchUrl = "profiles/storeProfile";
                //this.$store.dispatch("snackbar/showOverlay", 1);

                let formData = new FormData();
                var address = ''
                if(this.line2){
                    address = this.line1 + ', ' + this.line2
                }else{
                    address = this.line1
                }

                formData.append("first_name", this.first_name);
                formData.append("last_name", this.last_name);
                formData.append("email", this.email);
                formData.append("address", address);
                formData.append("city", this.city);
                formData.append("state", this.state);
                formData.append("country", this.country);
                formData.append("zip_code", this.zip_code);
                formData.append("profile_picture", this.profile_picture);

                this.$store
                    .dispatch(dispatchUrl, formData , config).then(
                    () => {
                        this.serverErrors = null;
                        this.showSnack({
                        text: "Profile Information is Successfully Saved.",
                        color: "success",
                        timeout: 5000,
                        });
                        //this.$store.dispatch("snackbar/showOverlay", 0);
                        // this.$router.push({ path: "/profile/username/create" });
                        this.locateData();
                        this.$router.go()
                    },
                    (error) => {
                        console.log(error.response);
                        this.$store.dispatch("snackbar/showOverlay", 0);
                        this.showSnack({
                        text: error.response.data.message,
                        color: "error",
                        timeout: 5000,
                        });
                        if (error.response.data.errors) {
                        this.serverErrors = error.response.data.errors;
                        }
                    }
                );  
            }
        },

        validationCheck() {
            var errorCount = 0;

            if (!this.first_name) {
                this.error.first_name = true;
                errorCount += 1;
            } else {
                this.error.first_name = false;
            }

            if (!this.last_name) {
                this.error.last_name = true;
                errorCount += 1;
            } else {
                this.error.last_name = false;
            }

            // if (!this.email) {
            //     this.error.email = true;
            //     this.validForm = false;
            // } else {
            //     this.error.email = false;
            //     this.validForm = true;
            // }

            if (!this.line1) {
                this.error.line1 = true;
                errorCount += 1;
            } else {
                this.error.line1 = false;
            }

            if (!this.city) {
                this.error.city = true;
                errorCount += 1;
            } else {
                this.error.city = false;
            }

            if (!this.state) {
                this.error.state = true;
                errorCount += 1;
            } else {
                this.error.state = false;
            }

            if (!this.country) {
                this.error.country = true;
                errorCount += 1;
            } else {
                this.error.country = false;
            }

            if (!this.zip_code) {
                this.error.zip_code = true;
                errorCount += 1;
            } else {
                this.error.zip_code = false;
            }

            if(errorCount > 0){
                this.validForm = false;
            }else{
                this.validForm = true;
            }

            // if (!this.profile_picture.name) {
            //     this.error.profile_picture.name = true;
            //     this.validForm = false;
            // } else {
            //     this.error.profile_picture.name = false;
            //     this.validForm = true;
            // }
        }

    }
    
}
</script>

<style scoped>
@import "../../../assets/css/style.css";
@import "../../../assets/css/custom.css";

.not_show{
    display: none;
}
.show{
    display: block;
}

.custom-img{
    height: 235px;
    width: 234px;
    position: relative;
    top: 10px;
    left: -14px;
    border: 1px solid black;
}

.save-btn-custom{
    width: 130px;
}
</style>