<template>
  <div class="col-lg-9 col-md-9 ">
    <h4
      class="pt-3 pb-3 personal-project-txt d-none d-md-block d-lg-block d-xl-block"
    >
      Profile
    </h4>
    <div class="custom-margin form-for-mob">
      <div class="pb-3 pt-3">
        <h5>Thanks for completing your profile.</h5>
      </div>

      <div class="row mt-10">
        <div class="col-md-3">
          <button type="button" class="btn start-btn" @click="goToDashboard()">
            Dashboard
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
    name: "ProfileGreeting",
    
    methods: {

        goToDashboard() {
            this.$router.push({ path: "/main-dashboard" });
        },
    }
};
</script>

<style scoped>
@import "../../../assets/css/style.css";
@import "../../../assets/css/custom.css";

.start-btn {
  width: 50%;
  padding: 12px;
  background-color: #ff5f1f;
  color: white;
}
</style>
