<template>

        <div class="col-lg-9 col-md-9 ">
            <h4 class="pt-3 pb-3 personal-project-txt">Profile</h4>
            <v-alert
                v-if="serverErrors"
                outlined
                type="error"
                prominent
                border="left"
                dismissible
                style="width: 1040px"
                >
                <ul>
                    <li
                    v-for="(field, index) of Object.keys(serverErrors)"
                    :key="index"
                    >
                    {{ serverErrors[field][0] }}
                    </li>
                </ul>
            </v-alert>
            <div class="custom-margin">
                    
                <div class="row">
                    <div class="col-md-4">
                        <label for="" class="deadline-txt">Enter your current username (email)</label>
                        <input type="text" v-model="current_username" class="custom-input-creditCard mb-3" >
                        <p v-bind:class="{ show: error_current_username, not_show: !error_current_username }" style="color:red">*current username is required</p>

                        <label for="" class="deadline-txt">Enter your new username (email)</label>
                        <input type="text" v-model="new_username" class="custom-input-creditCard mb-3" >
                        <p v-bind:class="{ show: error_new_username, not_show: !error_new_username }" style="color:red">*new username is required</p>

                        <div class="pb-3" style="margin-top: 50px;">
                            <button type="button" class="submit-btn-new ml-0" @click="sendConfirmation()">Send a Confirmation Email</button>
                        </div>
                    </div>
                    
                </div>
                
                    <!-- <div class="row" style="height: 50px;">
                    </div>
                    <div class="pb-3 save-area">
                        <button type="button" class="btn btn-primary save-btn-custom" >Save & Next</button>
                    </div> -->
                
            </div>
        </div>
    
</template>

<script>
import { mapActions } from "vuex";

export default {
    name: "UsernameCreate",
    data(){
        return {
            is_same: false,
            current_username: null,
            new_username: null,
            error_current_username: false,
            error_new_username: false,
            validForm: true,
            serverErrors: null,
        }
    },

    methods: {
        ...mapActions("snackbar", ["showSnack"]),

        sendConfirmation(){
            this.validationCheck()
            var temp_email = this.new_username;

            if (this.validForm) 
            {
                let dispatchUrl = "profiles/sendPasscodeUsername";
                //this.$store.dispatch("snackbar/showOverlay", 1);

                //this.card_info.expire_date = this.formatDate();

                this.$store
                    .dispatch(dispatchUrl, 
                    {
                        current_username: this.current_username,
                        new_username: this.new_username,
                    }
                    ).then(
                    () => {
                        this.serverErrors = null;
                        this.showSnack({
                        text: "Passcode Sent Successfully!",
                        color: "success",
                        timeout: 5000,
                        });
                        //this.$store.dispatch("snackbar/showOverlay", 0);
                        this.$router.push({ path: `/profile/username/create/confirm/${temp_email}` });
                        
                    },
                    (error) => {
                        console.log(error.response);
                        this.$store.dispatch("snackbar/showOverlay", 0);
                        if(error.response.data.error){
                            this.showSnack({
                                text: error.response.data.error,
                                color: "error",
                                timeout: 5000,
                            });
                        }else{
                            this.showSnack({
                                text: error.response.data.new_error,
                                color: "error",
                                timeout: 5000,
                            });
                        }
                        
                        if (error.response.data.errors) {
                            this.serverErrors = error.response.data.errors;
                        }
                    }
                );  
            }
            
        },

        validationCheck() {
            var errorCount = 0;

            if (!this.current_username) {
                this.error_current_username = true;
                errorCount += 1;
            } else {
                this.error_current_username = false;
            }

            if (!this.new_username) {
                this.error_new_username = true;
                errorCount += 1;
            } else {
                this.error_new_username = false;
            }

            if(errorCount > 0){
                this.validForm = false;
            }else{
                this.validForm = true;
            }
            
            return;
        },

    }
    
}
</script>

<style scoped>
@import "../../../assets/css/style.css";
@import "../../../assets/css/custom.css";

.not_show{
    display: none;
}
.show{
    display: block;
}
</style>