<template>

    
    <div class="col-lg-9 col-md-9 ">
        <h4 class="pt-3 pb-3 personal-project-txt">Profile</h4>
                        
        <div class="custom-margin">
                    
                <div class="row ml-1">
                    <div class="c-form-group">
                    <label for="pass" class="custom-label">Please enter the passcode sent on the new username for confirming the new username.</label> <br>
                    <input type="text" class="custom-input-field" v-model="passcode" id="pass" name="pass"> 
                    <input type="button" @click="handleSubmit()" class="submit-btn btn-text-issue-fix" value="Submit" readonly />
                    <input type="button" @click="resendPasscode()" class="resend-btn" value="Resend Passcode" readonly />
                    <p v-bind:class="{show: res_noti_show, not_show:!res_noti_show}" class="noti">*New passcode sent. Please check the inbox.</p>
                    <p v-bind:class="{show: error.passcode, not_show: !error.passcode}" style="color:red">*Passcode is required</p>
                    <p v-bind:class="{show: error.first_pass_mismatch, not_show: !error.first_pass_mismatch}" style="color:red">*Passcode not match, type again</p>    
                    </div>
                        
                </div>
                <div class="row noti" v-bind:class="{show: noti_show, not_show:!noti_show}">
                    <p class="mb-0">Your username has been successfully updated.</p>
                </div>
        </div>
    </div>

</template>

<script>
import { mapActions } from "vuex";

export default {
    name: "SignupSecond",
    data() {
        return{
            res_noti_show: true,
            user_email: null,
            passcode: null,
            error:{
                passcode:false,
                first_pass_mismatch: false,
            },
            noti_show: false,
            validForm: true,
            validConfirmPassword: true
        }
    },
    created(){
        this.user_email = this.$route.params.email;
    },
    methods: {
        ...mapActions("snackbar", ["showSnack"]),

        handleSubmit(){
            if(!this.passcode){
                this.error.passcode = true
                this.validForm = false
            }else{
                this.error.passcode = false
                this.validForm = true
            }

            if(this.validForm){
                const vim = this
                this.$store.dispatch("profiles/updateUsername", {
                    passcode: this.passcode,
                    new_username: this.user_email
                }).then(() => 
                    {
                        //this.$store.dispatch('snackbar/showOverlay', 0);
                        //this.$router.push({ path: "/profile-update" });
                        //console.log("password v successful" + res)
                        this.serverErrors = null;
                        // this.showSnack({
                        // text: "username updated Successfully!",
                        // color: "success",
                        // timeout: 5000,
                        // });
                        vim.error.first_pass_mismatch = false;
                        vim.noti_show = true;
                        this.$router.go()
                    },
                    (error) => {
                        console.log(error.response.data);
                        vim.res_noti_show = false;
                        if(error.response.data){
                            vim.error.first_pass_mismatch = true;
                        }else{
                            vim.error.first_pass_mismatch = false;
                        }
                        //this.$store.dispatch('snackbar/showOverlay', 0);
                    }
                    );
            }
            
        },
        resendPasscode(){
            this.error.passcode = false;
            this.error.first_pass_mismatch = false;
            const temp = this
            this.$store.dispatch("profiles/resendPasscode", {
                new_username: this.user_email
            }).then(() => 
                    {
                        //this.$store.dispatch('snackbar/showOverlay', 0);
                        //this.$router.push({ path: "/profile-update" });
                        console.log("passcode resend")
                        temp.res_noti_show = true
                    },
                    (error) => {
                        console.log(error.response);
                        //this.$store.dispatch('snackbar/showOverlay', 0);
                    }
                    );
        },
        toForgotPassword(){
            this.$router.push({ path: "/forgot-password" });
        }
    },
    watch: {
    "password"(newVal) {
      if (newVal) {
        this.error.password = false;
        this.error.first_pass_mismatch = false;
      }
    },
    
  },
};
</script>

<style scoped>
@import "../../../assets/css/style.css";
@import "../../../assets/css/custom.css";
.not_show{
    display: none;
}
.show{
    display: block;
}

.noti{
    background-color: #4CAF50;
    width: 450px;
    padding: 8px 15px;
    margin-top: 10px;
    color: white;
}
</style>
<style lang="scss" scoped>
.c-form-group {
  margin-bottom: 1.8rem;
}
.resend-btn, .btn-text-issue-fix {
    padding-left: 0;
    // font-weight: 600;
    text-align: center;
}
.resend-btn {
    margin-left: 10px;
}
</style>