<template>
  <div class="col-lg-9 col-md-9">
    <h4 class="pt-3 pb-3 personal-project-txt">{{ project.title }}</h4>

    <div class="custom-margin">
      <form>
        <table class="table table-hover">
          <thead>
            <tr>
              <th class="active-table-top-bottom" scope="col">Collaborators</th>
              <th class="active-table-top-bottom" scope="col">Status</th>
              <th class="active-table-top-bottom" scope="col">
                Submission Status
              </th>
              <th class="active-table-top-bottom" scope="col">
                Approval Status
              </th>
              <th class="active-table-top-bottom" scope="col">Documents</th>
              <th class="active-table-top-bottom" scope="col">
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              </th>
              <th class="active-table-top-bottom" scope="col">
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              </th>
            </tr>
          </thead>
          <tbody
            class="active-table"
            v-for="collaborator in project.collaborators"
            :key="'col-' + collaborator.id"
          >
            <tr>
              <td>
                <p class="projectname-filed team-label-txt" readonly="readonly">
                  {{ collaborator.first_name + " " + collaborator.last_name }}
                </p>
              </td>
              <td><p class="status-field" readonly="readonly">{{ (collaborator.total_approved_documents === collaborator.total_assigned_documents)?'Completed':'Pending' }}</p></td>
              <td>
                <p class="submission-status-filed" readonly="readonly">{{ collaborator.total_submitted_documents }}/{{ collaborator.total_assigned_documents }}</p>
              </td>
              <td>
                <p class="submission-status-filed" readonly="readonly">{{ collaborator.total_approved_documents }}/{{ collaborator.total_submitted_documents }}</p>
              </td>
              <td>
                <a
                  href="javascript:void(0)"
                  class="text-center"
                  @click="getDocuments(collaborator)"
                >
                  <img
                    src="../../../assets/fonts/upload.png"
                    class="doccument-img"
                    alt=""
                    v-if="collaborator.expanded"
                  />
                  <img
                    v-else
                    src="../../../assets/fonts/arrrow-down-tbl.png"
                    class="doccument-img"
                    alt=""
                  />
                </a>
              </td>
              <td>
                <p class="team-blank-txt">Send an Email with a Decision?</p>
              </td>
              <td><input @click="sendEmailDecisions(collaborator.id)" class="signin-btn" value="Yes" /></td>
            </tr>

            <tr v-show="collaborator.expanded">
              <td colspan="7">
                <table
                  class="table table-hover"
                  transition="slide-y-transition"
                >
                  <thead>
                    <tr>
                      <th class="active-table-top-bottom" scope="col">
                        Document Name
                      </th>
                      <th class="active-table-top-bottom" scope="col">
                        Approval?
                      </th>
                      <th class="active-table-top-bottom" scope="col">Notes</th>
                      <th class="active-table-top-bottom" scope="col">
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                      </th>
                    </tr>
                  </thead>
                  <tbody v-if="collaborator.documents.length">
                    <tr
                      v-for="document in collaborator.documents"
                      :key="document.id + collaborator.id"
                    >
                      <td class="custom-border-hide doccu-txt">
                        {{ document.title }}
                        <a
                          v-if="document.attachment"
                          :href="document.attachment.attachment_url"
                          :download="document.attachment.attachment"
                          target="_blank"
                          ><img
                            src="../../../assets/fonts/download.png"
                            class="download-icon-price-details"
                            alt="download"
                        /></a>
                      </td>
                      <td class="custom-border-hide">
                        <!-- <p class="approval-field">Approved</p> -->
                        <select
                          class="form-control form-select form-select-lg approval-field mb-3"
                          aria-label=".form-select-lg example"
                          v-model="document.status"
                        >
                          <option>Select One</option>
                          <option value="APPROVED">Approved</option>
                          <option value="REJECTED">Rejected</option>
                        </select>
                      </td>
                      <td class="custom-border-hide">
                        <!-- <p class="notes-field" readonly="readonly">Notes</p> -->
                        <input
                          class="form-control"
                          type="text"
                          v-model="document.note"
                        />
                      </td>
                      <td class="custom-border-hide">
                        <button
                          type="button"
                          class="save-decision-btn"
                          @click="saveDecision(document, collaborator.id)"
                        >
                          Save Decision
                        </button>
                      </td>
                    </tr>

                    <tr>
                      <td colspan="4">
                        <input
                          @click="downloadDocuments(collaborator.id)"
                          type="button"
                          class="download-all-btn"
                          value="Download All Docs"
                        />
                      </td>
                    </tr>
                  </tbody>
                  <tbody v-else>
                    <tr>
                      <td colspan="4">Documents not available</td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</template>

<script>
// import { saveAs } from "file-saver";
import { mapActions, mapGetters, mapMutations } from "vuex";
var FileSaver = require('file-saver');
export default {
  name: "ProjectDetails",
  data() {
    return {
      projectId: null,
      show: false,
      newProject: {},
    };
  },
  computed: {
    ...mapGetters("teamPrivateProjects", ["project"]),
  },
  methods: {
    ...mapActions("teamPrivateProjects", [
      "getProjectDetail",
      "getDocumentsByCollaborator",
    ]),
    ...mapActions("snackbar", ["showSnack"]),

    ...mapMutations("teamPrivateProjects", ["COLLAPSE_COLLABORATOR_DOCUMENT"]),

    sendEmailDecisions(colId){
      console.log("decision")
      this.$store.dispatch("snackbar/showOverlay", 1);
      this.$store
        .dispatch("teamProjectLists/sendEmailDecisions", {
          projectId: this.projectId,
          collaboratorId: colId
        })
        .then(
          () => {
            this.showSnack({
              text: "Email Successfully Sent!",
              color: "success",
              timeout: 5000,
            });
            this.$store.dispatch("snackbar/showOverlay", 0);
          },
          (error) => {
            this.$store.dispatch("snackbar/showOverlay", 0);
            this.showSnack({
              text: error.response.data.message,
              color: "error",
              timeout: 5000,
            });
          }
      );
    },

    getDocuments(collaborator) {
      if (collaborator.expanded) {
        this.COLLAPSE_COLLABORATOR_DOCUMENT(collaborator.id);
        return false;
      }
      this.$store.dispatch("snackbar/showOverlay", 1);
      this.$store
        .dispatch("teamPrivateProjects/getDocumentsByCollaborator", {
          projectId: this.projectId,
          collaboratorId: collaborator.id,
        })
        .then(
          () => {
            this.$store.dispatch("snackbar/showOverlay", 0);            
          },
          (error) => {
            this.$store.dispatch("snackbar/showOverlay", 0);
            this.showSnack({
              text: error.response.data.message,
              color: "error",
              timeout: 5000,
            });
          }
        );
    },

    saveDecision(document, collaboratorId) {
      if (!document.status || !document.note || !document.id) {
        this.showSnack({
          text: "Approval Status amd Notes are required!",
          color: "error",
          timeout: 5000,
        });
        return false;
      }
      this.$store.dispatch("snackbar/showOverlay", 1);
      this.$store
        .dispatch("teamPrivateProjects/saveDecision", {
          data: {
            id: document.id,
            note: document.note,
            status: document.status,
            user_id: collaboratorId
          },
          projectId: this.projectId,
        })
        .then(
          () => {
            this.showSnack({
              text: "Decision Successfully Saved!",
              color: "success",
              timeout: 5000,
            });
            this.$store.dispatch("snackbar/showOverlay", 0);
          },
          (error) => {
            this.$store.dispatch("snackbar/showOverlay", 0);
            this.showSnack({
              text: error.response.data.message,
              color: "error",
              timeout: 5000,
            });
          }
        );
    },

    downloadDocuments(userId) {
      this.$store.dispatch("snackbar/showOverlay", 1);
      this.$store
        .dispatch("teamPrivateProjects/downloadDocuments", {
          data: {},
          projectId: this.projectId,
          userId: userId,
        })
        .then(
          (res) => {            
            this.$store.dispatch("snackbar/showOverlay", 0);
            var blob = new Blob([res.data], { type: "application/octet-stream" });
            FileSaver.saveAs(blob, Math.floor(new Date().getTime())+"_documents.zip");
          },
          (error) => {
            this.$store.dispatch("snackbar/showOverlay", 0);
            this.showSnack({
              text: error.response.data.message,
              color: "error",
              timeout: 5000,
            });
          }
        );
    },
  },
  mounted() {
    this.getProjectDetail(this.projectId);
  },
  created() {
    this.projectId = this.$route.params.id;
  },
};
</script>

<style scoped>
@import "../../../assets/css/style.css";
@import "../../../assets/css/custom.css";
</style>
