<template>
  <div class="col-lg-9 col-md-9">
    <h4 class="pt-3 pb-3 personal-project-txt">
      Active Projects : Upload Documents
    </h4>
    <div class="custom-margin">
      <form action="">
        <div class="pb-3 pt-3">
          <label class="project-label-txt">Project Name</label>
          <input
            type="text"
            class="form-control project-input-filed"
            :value="project.title"
            readonly
          />
        </div>
        <div class="form-group">
          <div class="pb-3 pt-3">
            <label for="exampleFormControlTextarea1" class="project-label-txt"
              >Project Summary</label
            >
            <textarea
              class="form-control custom-txtarea"
              :value="project.summary"
              readonly
              id="exampleFormControlTextarea1"
              rows="3"
            ></textarea>
          </div>
        </div>

        <v-alert
          v-if="serverErrors"
          outlined
          type="error"
          prominent
          border="left"
          dismissible
          style="width: 1040px"
        >
          <ul>
            <li
              v-for="(field, index) of Object.keys(serverErrors)"
              :key="index"
            >
              {{ serverErrors[field][0] }}
            </li>
          </ul>
        </v-alert>

        <table class="table2">
          <thead>
            <tr>
              <td class="all-txt" scope="col">Document Name</td>
              <td class="all-txt" scope="col">File Size Limit(if any)</td>
              <td class="all-txt" scope="col">&nbsp; &nbsp; &nbsp;</td>
              <td class="all-txt" scope="col">File Type Limit(if any)</td>
              <td class="all-txt" scope="col">Template(if any)</td>
              <td class="all-txt" scope="col">&nbsp; &nbsp; &nbsp;</td>
              <td class="all-txt" scope="col">&nbsp; &nbsp; &nbsp;</td>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(document, index) in project.documents" :key="document.id">
              <td>
                <input
                  type="text"
                  class="form-control doccument-field"
                  :value="document.title"
                  readonly
                />
              </td>

              <td>
                <input
                  type="text"
                  class="form-control file-size-field"
                  :value="document.max_size"
                  readonly
                />
              </td>
              <td>
                <span class="mb-txt-doc">{{ document.size_unit }}</span>
              </td>

              <td>
                <input
                  type="text"
                  class="form-control file-type-limit-field-upload"
                  :value="document.formats"
                  readonly
                />
              </td>

              <td>
                <input
                  type="text"
                  class="form-control file-size-field"
                  :value="document.template"
                  readonly
                />
              </td>

              <td>
                <a v-if="document.template" :href="document.template_url" :download="document.template" target="_blank">
                  <img
                    src="../../../assets/fonts/download.png"
                    class="upload-icon-doccument"
                    alt=""
                  />
                </a>
              </td>

              <td class="download-and-del-icon">
                 <input
                      :id="`templateUpload-${index}`"
                      type="file"
                      @change="onFileChange($event, index, document)"
                      hidden
                    />
                <button
                  type="button"
                  class="btn btn-primary upload-btn-uploaddocs"
                  @click="chooseFiles(index)"
                >
                  Upload
                </button>               
               
              </td>
              <td>
                 <small>{{ document.file_name }}</small>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="pt-5 save-area">
          <button @click="uploadDocument()" type="button" class="btn btn-primary submit-upload-btn">
              Submit Uploaded File
            </button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  name: "UploadDocument",
  data() {
    return {
        teamId: null,
        projectId: null,
        serverErrors: null,
    };
  },
  computed: {
    ...mapGetters("teamPrivateProjects", ["project"]),
  },
  methods: {
    ...mapActions("teamPrivateProjects", ["getProjectDetail"]),
    ...mapActions("snackbar", ["showSnack"]),

    chooseFiles(index) {
      document.getElementById("templateUpload-" + index).click();
    },
    onFileChange(e, index, document) {
        this.project.documents = this.project.documents.map((item) => {
          if (item.id === document.id) {
            item.file = e.target.files[0];
            item.file_name = e.target.files[0].name;
          }
          return item;
        });
    },
    uploadDocument() {
      const config = {
        headers: { "content-type": "multipart/form-data" },
      };
      let formData = new FormData();

      this.project.documents.forEach((item, key) => {        
        formData.append(`documents[${key}][id]`, item.id);
        formData.append(`documents[${key}][file]`, item.file);        
      });

      this.$store.dispatch("snackbar/showOverlay", 1);

      this.$store
        .dispatch(
          "teamPrivateProjects/submitDocuments",
          {
            formData: formData,
            projectId: this.projectId,
          },
          config
        )
        .then(
          () => {
            this.serverErrors = null;
            this.showSnack({
              text: "Document Successfully Uploaded!",
              color: "success",
              timeout: 5000,
            });
            this.$store.dispatch("snackbar/showOverlay", 0);   
            this.$router.push({
              path: `/team-project/${this.teamId}/active-projects`,
            });        
          },
          (error) => {
            console.log(error.response);
            this.$store.dispatch("snackbar/showOverlay", 0);
            this.showSnack({
              text: error.response.data.message,
              color: "error",
              timeout: 5000,
            });
            if (error.response.data.errors) {
              this.serverErrors = error.response.data.errors;
            }
          }
        );
    },

  },
  mounted() {
    this.getProjectDetail(this.projectId);
  },
  created() {
    this.projectId = this.$route.params.id;
    this.teamId = this.$route.params.teamId;
  },
};
</script>

<style scoped>
@import "../../../assets/css/style.css";
@import "../../../assets/css/custom.css";
</style>
