<template>
    <div class="col-lg-3 col-md-3 sidebar-bg">
        <div class="list-group list-group-flush item-margin-top item-margin-top-mob">
            <a 
                @click="goto('AccountStatusSpaceUsed')" 
                class="custom-sidebar-menu menu-mobile"
                href="javascript:void(0)" 
                :class="{'active-custom-menu': $route.name.includes('AccountStatusSpaceUsed')}"
                >Space Used
            </a>
            <a 
                @click="goto('AccountStatusPersonal')" 
                class="custom-sidebar-menu menu-mobile"
                href="javascript:void(0)" 
                :class="{'active-custom-menu': $route.name.includes('AccountStatusPersonal')}"
                >Personal
            </a>
            <a 
                @click="goto('AccountStatusTeams')" 
                class="custom-sidebar-menu menu-mobile"
                href="javascript:void(0)" 
                :class="{'active-custom-menu': $route.name.includes('AccountStatusTeams')}"
                >Teams
            </a>
            <a 
                @click="goto('AccountStatusExternal')" 
                class="custom-sidebar-menu menu-mobile"
                href="javascript:void(0)" 
                :class="{'active-custom-menu': $route.name.includes('AccountStatusExternal')}"
                >External Public Projects
            </a>
        </div>

        <Profile />
    </div>
</template>

<script>
const Profile = () => import("@/components/common/Profile");

export default {
    name: "Sidebar",
    components: {
        Profile,
    },
    methods: {
        goto(routeName) {            
            this.$router.push({ name: routeName });
        }
    }
}
</script>

<style scoped>
@import "../../../assets/css/style.css";
@import "../../../assets/css/custom.css";
.v-application a {
    color: black;
}
</style>