<template>

    <div class="col-lg-9 col-md-9">
        <h4 class="pt-3 pb-3 dashboard-txt">Alerts</h4>
        <div style="margin-left: 30px" v-for="(alert,index) in alerts" :key="index">
            <hr class="row-line" v-if="index === 0"/>
            
            <p class="noti-text">{{ alert.title }}</p>
            <p v-if="alert.description" class="noti-text">{{ alert.description }}</p>

            <hr class="row-line" />
            
        </div>
        
    </div>
            
    
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
    name: "Alert",
    computed: {
        ...mapGetters("notifications", ["alerts"])
    },
    methods: {
        ...mapActions("notifications", ["getAlerts"]),
    },
    mounted() {
        this.getAlerts();
        //console.log(this.alerts)
    }
    
}
</script>

<style scoped>
@import "../../assets/css/style.css";
@import "../../assets/css/custom.css";

.row-line{
    border-bottom: 2px solid #8A1DFF;
    width: 60%
}

.noti-text{
    font-size: 16px;
}

</style>