<template>

    <div class="col-lg-9 col-md-9">
        <h4 class="pt-3 pb-3 dashboard-txt">Dashboard</h4>
        <div class="row custom-margin">
            <div class="col-lg-4 col-md-4">
                <div class="custom-card-new" @click="goToTeamDashboard()">
                    <img src="../../assets/img/teams.jpg" class="card-icon-new" alt="">
                    <p class="card-txt">Teams</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="custom-card-new large-screen-card-two" @click="goToPersonalProjects()">
                    <img src="../../assets/img/personal.jpg" class="card-icon-new" alt="">
                    <p class="card-txt">Personal Projects</p>
                </div>
            </div>
            <!-- <div class="col-lg-4 col-md-4">
                <div class="custom-card-new large-screen-card-three" @click="goToExternalProjects()">
                    <img src="../../assets/img/external.jpg" class="card-icon-new" alt="">
                    <p class="card-txt">External Public <br> Projects (ID Required)</p>
                </div>
            </div> -->
        </div>
        <div class="row custom-margin">
            <div class="col-lg-4 col-md-4">
                <div class="custom-card-new mg-top" @click="goToProfile()">
                    <img src="../../assets/img/profile.png" class="card-icon-new" alt="">
                    <p class="card-txt">Profile</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="custom-card-new mg-top large-screen-card-two" @click="goToPricingPlans()">
                    <img src="../../assets/img/pricing.jpg" class="card-icon-new" alt="">
                    <p class="card-txt">Pricing Plans</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="custom-card-new mg-top large-screen-card-three" @click="goToAccountStatus()">
                    <img src="../../assets/img/account_status.jpg" class="card-icon-new" alt="">
                    <p class="card-txt">Account Status</p>
                </div>
            </div>
        </div>
    </div>
            
    
</template>

<script>
export default {
    name: "MainDashboard",
    methods: {
        goToTeamDashboard(){
            this.$router.push({ path: "/team/dashboard" });
        },
        goToPersonalProjects(){
            this.$router.push({ path: "/personal-project/dashboard" });
        },
        goToExternalProjects() {
            this.$router.push({ path: "/external-public-project/dashboard" });
        },
        goToProfile() {
            this.$router.push({ path: "/profile/create" });
        },
        goToPricingPlans() {
            this.$router.push({ 
                path: "/pricing/plans/personal",
                query: {
                    plan: "annual"
                }
            });
        },
        goToAccountStatus() {
            this.$router.push({ path: "/account-status/space-used" });
        },
    }
}
</script>

<style scoped>
@import "../../assets/css/style.css";
@import "../../assets/css/custom.css";

</style>