<template>

    <div class="col-lg-9 col-md-9">
        <h4 class="pt-3 pb-3 dashboard-txt">Notifications</h4>
        <div style="margin-left: 30px" v-for="(notification,index) in notifications" :key="index">
            <hr class="row-line" v-if="index === 0"/>
            
            <p class="noti-text">{{ notification.title }}</p>
            <p v-if="notification.description" class="noti-text">{{ notification.description }}</p>

            <hr class="row-line" />
            
        </div>
        
    </div>
            
    
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
    name: "Notification",
    
    computed: {
        ...mapGetters("notifications", ["notifications"])
    },
    methods: {
        ...mapActions("notifications", ["getNotifications", "markReadNotification"]),
    },
    mounted() {
        this.getNotifications();
        this.markReadNotification();
        console.log(this.notifications)
    }
    
}
</script>

<style scoped>
@import "../../assets/css/style.css";
@import "../../assets/css/custom.css";

.row-line{
    border-bottom: 2px solid #8A1DFF;
    width: 60%
}

.noti-text{
    font-size: 16px;
}

</style>