<template>

        <div class="col-lg-9 col-md-9 ">
            <p class="team-name">{{teamName}}</p>
            <h4 class="pt-3 pb-3 personal-project-txt mt-custom">Team Project : Public</h4>
            <div class="custom-margin">
                    <v-alert
                        v-if="serverErrors"
                        outlined
                        type="error"
                        prominent
                        border="left"
                        dismissible
                        style="width: 1040px"
                        >
                        <ul>
                            <li
                            v-for="(field, index) of Object.keys(serverErrors)"
                            :key="index"
                            >
                            {{ serverErrors[field][0] }}
                            </li>
                        </ul>
                    </v-alert>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <label for="" class="deadline-txt">Number of total expected collaborators</label>
                            <input type="test" v-model="total_collaborators" class="form-control custom-input-filed-deadline" >
                            <p v-bind:class="{show: error.total_collaborators, not_show: !error.total_collaborators}" style="color:red">*First deadline is required</p>

                        </div>
                        
                    </div>

                    <div class="row mt-5" style="height: 50px;">
                        <div class="pb-3 save-area">
                            <button type="button" @click="saveTotalCollaborator()" class="btn btn-primary save-btn">Save & Next</button>
                        </div>
                    </div>
                        
            </div>
        </div>
    
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
    name: "Collaborators",
    data(){
        return {
            teamName: null,
            teamId: null,
            project_id: null,
            total_collaborators: null,
            validForm: true,

            error:{
                total_collaborators: false,
            },
            
            serverErrors: null,
        }
    },
    computed: {
        ...mapGetters("teamPublicProjects", ["project"]),
    },
    
    methods: {
        ...mapActions("snackbar", ["showSnack"]),

        saveTotalCollaborator(){
            this.validationTest()

            if(this.validForm){
                this.$store.dispatch("snackbar/showOverlay", 1);
                this.$store
                    .dispatch("teamPublicProjects/storeTotalCollaborators", {
                    total_collaborators: this.total_collaborators,
                    projectId: this.project_id,
                    })
                    .then(
                    (res) => {
                        this.$store.dispatch('snackbar/showOverlay', 0);
                        this.serverErrors = null;
                        this.showSnack({
                        text: "Collaborators number Successfully Saved!",
                        color: "success",
                        timeout: 5000,
                        });
                        this.$store.dispatch("snackbar/showOverlay", 0);
                        
                        this.$router.push({
                            path: `/team-project/${this.teamId}/public/projects/${res.data.data.id}/add-documents`,
                            query: {
                                mode: this.$route.query.mode?this.$route.query.mode:'create',
                                name: this.teamName
                            }
                        });
                        
                    },
                    (error) => {
                        console.log(error.response);
                        this.$store.dispatch("snackbar/showOverlay", 0);
                        this.showSnack({
                        text: error.response.data.message,
                        color: "error",
                        timeout: 5000,
                        });
                        if (error.response.data.errors) {
                        this.serverErrors = error.response.data.errors;
                        }
                    }
                    );
                
            }
        },
        validationTest(){
            if(this.total_collaborators === 0){
                this.error.total_collaborators = true
                this.validForm = false
            }else{
                this.error.total_collaborators = false
                this.validForm = true
            }
        },

        getProjectDetails(){
            this.$store
                .dispatch("teamPublicProjects/getPrimaryInfo", this.project_id)
                .then(
                    (res) => {
                        console.log(res.data.data)
                        var temp_data = res.data.data;
                        if(temp_data.total_collaborators != null){
                            this.total_collaborators = res.data.data.total_collaborators
                        }
                    },
                    (error) => {
                        console.log(error)
                    
                    }
                );
        },
    },

    created() {
        this.projectId = this.$route.params.id;
        this.teamId = this.$route.params.teamId;
    },

    mounted() {
        if (this.$route.params.id) {
            //this.getPrimaryInfo(this.$route.params.id)
            this.project_id = this.$route.params.id;
            this.getProjectDetails();
        }

        this.teamName = this.$route.query.name;
    },
    
}
</script>

<style scoped>
@import "../../../assets/css/style.css";
@import "../../../assets/css/custom.css";

.not_show{
    display: none;
}
.show{
    display: block;
}
</style>