<template>

        <div class="col-lg-9 col-md-9 ">
            <p class="team-name">{{teamName}}</p>
            <h4 class="pt-3 pb-3 personal-project-txt mt-custom">Team Project : Public</h4>
            <div class="custom-margin">
                <form>
                    <v-alert
                        v-if="serverErrors"
                        outlined
                        type="error"
                        prominent
                        border="left"
                        dismissible
                        style="width: 1040px"
                        >
                        <ul>
                            <li
                            v-for="(field, index) of Object.keys(serverErrors)"
                            :key="index"
                            >
                            {{ serverErrors[field][0] }}
                            </li>
                        </ul>
                    </v-alert>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <label for="" class="deadline-txt">First Deadline:Collecting Documents from Collaborators</label>
                            <input type="date" v-model="end_date_first" class="form-control custom-input-filed-deadline" >
                            <p v-bind:class="{show: error.deadline_first, not_show: !error.deadline_first}" style="color:red">*First deadline is required</p>

                            <label for="" class="deadline-txt pt-3">Reminders for the first Deadline</label>

                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <label for="" class="deadline-txt">Before the last week of the deadline</label>
                            
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <a class="btn btn-primary day-btn-margin" href="#" role="button">MON</a>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <input type="checkbox" class="form-check-input custom-checkbox" @change="beforeLastWeek(1)" :checked="isSelectedBLWF(1)">
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <a class="btn btn-primary day-btn-margin" href="#" role="button">TUE</a>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <input type="checkbox" class="form-check-input custom-checkbox" @change="beforeLastWeek(2)" :checked="isSelectedBLWF(2)">
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <a class="btn btn-primary day-btn-margin" href="#" role="button">WED</a>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <input type="checkbox" class="form-check-input custom-checkbox" @change="beforeLastWeek(3)" :checked="isSelectedBLWF(3)">
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <a class="btn btn-primary day-btn-margin" href="#" role="button">THU</a>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <input type="checkbox" class="form-check-input custom-checkbox" @change="beforeLastWeek(4)" :checked="isSelectedBLWF(4)">
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <a class="btn btn-primary day-btn-margin" href="#" role="button">FRI</a>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <input type="checkbox" class="form-check-input custom-checkbox" @change="beforeLastWeek(5)" :checked="isSelectedBLWF(5)">
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <a class="btn btn-primary day-btn-margin" href="#" role="button">SAT</a>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <input type="checkbox" class="form-check-input custom-checkbox" @change="beforeLastWeek(6)" :checked="isSelectedBLWF(6)">
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <a class="btn btn-primary day-btn-margin" href="#" role="button">SUN</a>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <input type="checkbox" class="form-check-input custom-checkbox" @change="beforeLastWeek(7)" :checked="isSelectedBLWF(7)">
                                        </div>
                                    </div><br>
                            <p v-bind:class="{show: error.before_ls_first, not_show: !error.before_ls_first}" style="color:red">*please check at least one</p>
                            
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <label for="" class="deadline-txt">In the last week of the deadline</label>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <a class="btn btn-primary day-btn-margin" href="#" role="button">MON</a>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <input type="checkbox" class="form-check-input custom-checkbox" @change="lastWeek(1)" :checked="isSelectedLWF(1)">
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <a class="btn btn-primary day-btn-margin" href="#" role="button">TUE</a>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <input type="checkbox" class="form-check-input custom-checkbox" @change="lastWeek(2)" :checked="isSelectedLWF(2)">
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <a class="btn btn-primary day-btn-margin" href="#" role="button">WED</a>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <input type="checkbox" class="form-check-input custom-checkbox" @change="lastWeek(3)" :checked="isSelectedLWF(3)">
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <a class="btn btn-primary day-btn-margin" href="#" role="button">THU</a>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <input type="checkbox" class="form-check-input custom-checkbox" @change="lastWeek(4)" :checked="isSelectedLWF(4)">
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <a class="btn btn-primary day-btn-margin" href="#" role="button">FRI</a>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <input type="checkbox" class="form-check-input custom-checkbox" @change="lastWeek(5)" :checked="isSelectedLWF(5)">
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <a class="btn btn-primary day-btn-margin" href="#" role="button">SAT</a>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <input type="checkbox" class="form-check-input custom-checkbox" @change="lastWeek(6)" :checked="isSelectedLWF(6)">
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <a class="btn btn-primary day-btn-margin" href="#" role="button">SUN</a>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <input type="checkbox" class="form-check-input custom-checkbox" @change="lastWeek(7)" :checked="isSelectedLWF(7)">
                                        </div>
                                    </div><br>
                            <p v-bind:class="{show: error.ls_first, not_show: !error.ls_first}" style="color:red">*please check at least one</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <label for="" class="deadline-txt">Second Deadline:Checking Submitted Documents & Asking Revised Documents</label>
                            <input type="date" v-model="end_date_second" class="form-control custom-input-filed-deadline">
                            <p v-bind:class="{show: error.deadline_second, not_show: !error.deadline_second}" style="color:red">*Second deadline is required</p>

                            <label for="" class="deadline-txt pt-3">Reminders for the second Deadline</label>
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <label for="" class="deadline-txt">Before the last week of the deadline</label>
                            
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <a class="btn btn-primary day-btn-margin" href="#" role="button">MON</a>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <input type="checkbox" class="form-check-input custom-checkbox" @change="beforeLastWeekSecond(1)" :checked="isSelectedBLWS(1)">
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <a class="btn btn-primary day-btn-margin" href="#" role="button">TUE</a>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <input type="checkbox" class="form-check-input custom-checkbox" @change="beforeLastWeekSecond(2)" :checked="isSelectedBLWS(2)">
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <a class="btn btn-primary day-btn-margin" href="#" role="button">WED</a>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <input type="checkbox" class="form-check-input custom-checkbox" @change="beforeLastWeekSecond(3)" :checked="isSelectedBLWS(3)">
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <a class="btn btn-primary day-btn-margin" href="#" role="button">THU</a>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <input type="checkbox" class="form-check-input custom-checkbox" @change="beforeLastWeekSecond(4)" :checked="isSelectedBLWS(4)">
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <a class="btn btn-primary day-btn-margin" href="#" role="button">FRI</a>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <input type="checkbox" class="form-check-input custom-checkbox" @change="beforeLastWeekSecond(5)" :checked="isSelectedBLWS(5)">
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <a class="btn btn-primary day-btn-margin" href="#" role="button">SAT</a>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <input type="checkbox" class="form-check-input custom-checkbox" @change="beforeLastWeekSecond(6)" :checked="isSelectedBLWS(6)">
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <a class="btn btn-primary day-btn-margin" href="#" role="button">SUN</a>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <input type="checkbox" class="form-check-input custom-checkbox" @change="beforeLastWeekSecond(7)" :checked="isSelectedBLWS(7)">
                                        </div>
                                    </div><br>
                            <p v-bind:class="{show: error.before_ls_second, not_show: !error.before_ls_second}" style="color:red">*please check at least one</p>
                            
                                </div>
                                    <div class="col-lg-6 col-md-6">
                                        <label for="" class="deadline-txt">In the last week of the deadline</label>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6">
                                                <a class="btn btn-primary day-btn-margin" href="#" role="button">MON</a>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <input type="checkbox" class="form-check-input custom-checkbox" @change="lastWeekSecond(1)" :checked="isSelectedLWS(1)">
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <a class="btn btn-primary day-btn-margin" href="#" role="button">TUE</a>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <input type="checkbox" class="form-check-input custom-checkbox" @change="lastWeekSecond(2)" :checked="isSelectedLWS(2)">
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <a class="btn btn-primary day-btn-margin" href="#" role="button">WED</a>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <input type="checkbox" class="form-check-input custom-checkbox" @change="lastWeekSecond(3)" :checked="isSelectedLWS(3)">
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <a class="btn btn-primary day-btn-margin" href="#" role="button">THU</a>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <input type="checkbox" class="form-check-input custom-checkbox" @change="lastWeekSecond(4)" :checked="isSelectedLWS(4)">
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <a class="btn btn-primary day-btn-margin" href="#" role="button">FRI</a>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <input type="checkbox" class="form-check-input custom-checkbox" @change="lastWeekSecond(5)" :checked="isSelectedLWS(5)">
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <a class="btn btn-primary day-btn-margin" href="#" role="button">SAT</a>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <input type="checkbox" class="form-check-input custom-checkbox" @change="lastWeekSecond(6)" :checked="isSelectedLWS(6)">
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <a class="btn btn-primary day-btn-margin" href="#" role="button">SUN</a>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <input type="checkbox" class="form-check-input custom-checkbox" @change="lastWeekSecond(7)" :checked="isSelectedLWS(7)">
                                            </div>
                                        </div><br>
                            <p v-bind:class="{show: error.ls_second, not_show: !error.ls_second}" style="color:red">*please check at least one</p>

                                    </div>
                            </div>
                        </div>
                    </div>
                        <div class="row" style="height: 50px;">
                        </div>
                        <div class="pb-3 save-area">
                            <button type="button" @click="saveDeadline('next')" class="btn btn-primary save-btn">Save & Next</button>
                            <span><button type="button" @click="saveDeadline('draft')" class="btn btn-primary save-btn">Save as Draft</button></span>
                        </div>
                </form>
            </div>
        </div>
    
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
    name: "CreateDeadlines",
    data(){
        return {
            teamName: null,
            teamId: null,
            project_id: null,
            end_date_first: null,
            end_date_second: null,
            reminder_before_lw_first: [],
            reminder_lw_first: [],
            reminder_before_lw_second: [],
            reminder_lw_second: [],
            validForm: true,

            error:{
                deadline_first: false,
                deadline_second: false,
                before_ls_first: false,
                ls_first: false,
                before_ls_second: false,
                ls_second: false,
            },
            
            serverErrors: null,
        }
    },
    computed: {
        ...mapGetters("teamPublicProjects", ["project"]),
    },
    
    methods: {
        ...mapActions("snackbar", ["showSnack"]),

        saveDeadline(savingType){
            this.validationTest()
            this.checkBoxValidationTest()

            if(this.validForm){
                let dispatchUrl = "teamPublicProjects/storeDeadlines";
                //console.log("aa " + this.project.id)
                
                var data = {
                    payload: {
                        end_date_first: this.end_date_first,
                        end_date_second: this.end_date_second,
                        reminder_before_lw_first: this.reminder_before_lw_first,
                        reminder_lw_first: this.reminder_lw_first,
                        reminder_before_lw_second: this.reminder_before_lw_second,
                        reminder_lw_second: this.reminder_lw_second,
                    },
                    id: this.project_id
                }
                this.$store.dispatch("snackbar/showOverlay", 1);
                this.$store.dispatch(dispatchUrl, data).then((res) => 
                    {                        
                        //this.$store.dispatch('snackbar/showOverlay', 0);
                        this.serverErrors = null;
                        this.showSnack({
                        text: "Project deadlines Successfully Saved!",
                        color: "success",
                        timeout: 5000,
                        });
                        this.$store.dispatch("snackbar/showOverlay", 0);

                        if(savingType === 'next') {
                                this.$router.push({ path: `/team-project/${this.teamId}/public/projects/${res.data.data.id}/collaborators`,
                                query: {mode: this.$route.query.mode?this.$route.query.mode:'create', name: this.teamName}
                            });
                        } else {
                            this.$router.push({ path: `/team-project/${this.teamId}/public/projects/${res.data.data.id}/draft` });
                        }
                        
                    },
                    (error) => {
                        //console.log(error.response);
                        //this.$store.dispatch('snackbar/showOverlay', 0);
                        console.log(error.response);
                        this.$store.dispatch("snackbar/showOverlay", 0);
                        this.showSnack({
                        text: error.response.data.message,
                        color: "error",
                        timeout: 5000,
                        });
                        if (error.response.data.errors) {
                        this.serverErrors = error.response.data.errors;
                        }
                    }
                    );
            }
        },
        validationTest(){
            if(!this.end_date_first){
                this.error.deadline_first = true
                this.validForm = false
            }else{
                this.error.deadline_first = false
                this.validForm = true
            }
            if(!this.end_date_second){
                this.error.deadline_second = true
                this.validForm = false
            }else{
                this.error.deadline_second = false
                this.validForm = true
            }
        },
        checkBoxValidationTest(){
            console.log("checb")
            if(this.reminder_before_lw_first.length < 1){
                this.error.before_ls_first = true
                this.validForm = false 
            }else{
                this.error.before_ls_first = false
                this.validForm = true
            }
            if(this.reminder_lw_first.length < 1){
                this.error.ls_first = true
                this.validForm = false
            }else{
                this.error.ls_first = false
                this.validForm = true
            }
            if(this.reminder_before_lw_second.length < 1){
                this.error.before_ls_second = true
                this.validForm = false
            }else{
                this.error.before_ls_second = false
                this.validForm = true
            }
            if(this.reminder_lw_second.length < 1){
                this.error.ls_second = true
                this.validForm = false
            }else{
                this.error.ls_second = false
                this.validForm = true
            }
        },
        beforeLastWeek(day){
            //console.log(day)
            var flag = this.reminder_before_lw_first.indexOf(day)
            if(flag == -1){
                this.reminder_before_lw_first.push(day)
            }else{
                this.reminder_before_lw_first.splice(flag, 1)
            }

            console.log(this.reminder_before_lw_first)
        },
        lastWeek(day){
            var flag = this.reminder_lw_first.indexOf(day)
            if(flag == -1){
                this.reminder_lw_first.push(day)
            }else{
                this.reminder_lw_first.splice(flag, 1)
            }

            console.log(this.reminder_lw_first)
        },
        beforeLastWeekSecond(day){
            var flag = this.reminder_before_lw_second.indexOf(day)
            if(flag == -1){
                this.reminder_before_lw_second.push(day)
            }else{
                this.reminder_before_lw_second.splice(flag, 1)
            }

            console.log(this.reminder_before_lw_second)
        },
        lastWeekSecond(day){
            var flag = this.reminder_lw_second.indexOf(day)
            if(flag == -1){
                this.reminder_lw_second.push(day)
            }else{
                this.reminder_lw_second.splice(flag, 1)
            }

            console.log(this.reminder_lw_second)
        },

        isSelectedBLWF(day){
            //return true;
            var flag = this.reminder_before_lw_first.indexOf(day);
            if(flag == -1){
                return false;
            }else{
                return true;
            }
        },

        isSelectedLWF(day){
            //return true;
            var flag = this.reminder_lw_first.indexOf(day);
            if(flag == -1){
                return false;
            }else{
                return true;
            }
        },

        isSelectedBLWS(day){
            //return true;
            var flag = this.reminder_before_lw_second.indexOf(day);
            if(flag == -1){
                return false;
            }else{
                return true;
            }
        },

        isSelectedLWS(day){
            //return true;
            var flag = this.reminder_lw_second.indexOf(day);
            if(flag == -1){
                return false;
            }else{
                return true;
            }
        },

        getProjectDetails(){
            this.$store
                .dispatch("teamPublicProjects/getPrimaryInfo", this.project_id)
                .then(
                    (res) => {
                        console.log(res.data.data)
                        var temp_data = res.data.data;
                        if(temp_data.end_date_first != null){
                            this.end_date_first = this.formatDate(res.data.data.end_date_first)
                        }
                        if(temp_data.end_date_second != null){
                            this.end_date_second = this.formatDate(res.data.data.end_date_second)
                        }
                        if(temp_data.reminder_before_lw_first != null){
                            this.reminder_before_lw_first = res.data.data.reminder_before_lw_first
                        }
                        if(temp_data.reminder_lw_first != null){
                            this.reminder_lw_first = res.data.data.reminder_lw_first
                        }
                        if(temp_data.reminder_before_lw_second != null){
                            this.reminder_before_lw_second = res.data.data.reminder_before_lw_second
                        }
                        if(temp_data.reminder_lw_second != null){
                            this.reminder_lw_second = res.data.data.reminder_lw_second
                        }
                    },
                    (error) => {
                        console.log(error)
                    
                    }
                );
        },

        formatDate(date) {
            var d = new Date(date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();

            if (month.length < 2) 
                month = '0' + month;
            if (day.length < 2) 
                day = '0' + day;

            return [year, month, day].join('-');
        }
    },

    created() {
        this.teamId = this.$route.params.teamId;
        this.teamName = this.$route.query.name;
    },

    mounted() {
        if (this.$route.params.id) {
            //this.getPrimaryInfo(this.$route.params.id)
            this.project_id = this.$route.params.id;
            this.getProjectDetails();
        }
    },
    
}
</script>

<style scoped>
@import "../../../assets/css/style.css";
@import "../../../assets/css/custom.css";

.not_show{
    display: none;
}
.show{
    display: block;
}
</style>