<template>

        <div class="col-lg-9 col-md-9 ">
            <p class="team-name">{{teamName}}</p>
            <h4 class="pt-3 pb-3 personal-project-txt mt-custom">Team Project : Public</h4>
            <div class="custom-margin">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <h5>Thanks for saving your project as a draft project.</h5>
                        </div>
                        
                    </div>

                    <div class="row mt-10" style="height: 50px;">
                        <div class="pb-3 save-area">
                            <button type="button" @click="goToDraftProjects()" class="btn btn-primary save-btn">Draft Projects</button>
                        </div>
                    </div>
                        
            </div>
        </div>
    
</template>

<script>

export default {
    name: "DraftGreeting",
    data() {
        return {
            teamName: null,
            teamId: null,
        };
    },
    
    methods: {
        goToDraftProjects(){
            this.$router.push({ path: `/team-project/${this.teamId}/draft-projects` });
        }
    },
    created() {
        this.teamId = this.$route.params.teamId;
    },
    mounted() {
        this.teamName = this.$route.query.name;
    }
    
}
</script>

<style scoped>
@import "../../../assets/css/style.css";
@import "../../../assets/css/custom.css";

.not_show{
    display: none;
}
.show{
    display: block;
}
</style>