<template>
  <div class="col-lg-9 col-md-9">
    <p class="team-name">{{teamName}}</p>
    <h4
      class="pt-3 pb-3 personal-project-txt mt-custom d-none d-md-block d-lg-block d-xl-block"
    >
      Team Project : Public
    </h4>

    <div class="custom-margin form-for-mob">
      <form>
        <v-alert
          v-if="serverErrors"
          outlined
          type="error"
          prominent
          border="left"
          dismissible
          style="width: 1040px"
        >
          <ul>
            <li
              v-for="(field, index) of Object.keys(serverErrors)"
              :key="index"
            >
              {{ serverErrors[field][0] }}
            </li>
          </ul>
        </v-alert>
        <p>
          Do you want to change the pricing plan? If yes,please select one of
          the following plan. Your default pricing plan is highlighted, if any.
        </p>

        <div class="row d-block d-xl-none d-md-none d-xl-none">
          <div class="col-12">
            <div class="card price-card">
              <div class="card-body">
                <p class="text-center">
                  <button type="button" class="btn btn-primary bronze-btn">
                    Bronze
                  </button>
                </p>
                <div class="row pt-3">
                  <div class="col-lg-9 col-md-9 col-9">
                    <p class="avg-txt">Active Project</p>
                    <p class="active-txt-price">
                      Active Collaborators & Support staff
                    </p>
                    <p class="total-storage-txt">Total Storage (GB)</p>
                    <p class="avg-txt">$/month</p>
                  </div>
                  <div class="col-lg-3 col-md-3 col-3">
                    <p class="num-txt-price">2</p>
                    <p class="num-txt-price">40</p>
                    <p class="nums-txt-price">4</p>
                    <p class="num-txt-price">15</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-3">
              <p class="text-center">Annual</p>
            </div>

            <div class="card price-card price-card-mobile">
              <div class="card-body">
                <p class="text-center">
                  <button type="button" class="btn btn-primary silver-btn">
                    Silver
                  </button>
                </p>
                <div class="row pt-3">
                  <div class="col-lg-9 col-md-9 col-9">
                    <p class="avg-txt">Active Project</p>
                    <p class="active-txt-price">
                      Active Collaborators & Support staff
                    </p>
                    <p class="total-storage-txt">Total Storage (GB)</p>
                    <p class="avg-txt">$/month</p>
                  </div>
                  <div class="col-lg-3 col-md-3 col-3">
                    <p class="num-txt-price">2</p>
                    <p class="num-txt-price">40</p>
                    <p class="nums-txt-price">4</p>
                    <p class="num-txt-price">15</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row pt-3">
              <div class="col-lg-3 col-md-3 col-4">
                <p class="annual-txt">Annual</p>
              </div>
              <div class="col-lg-3 col-md-3  col-4">
                <p class="text-center">
                  <img
                    src="../../../assets/fonts/switch.png"
                    class="switch-icon"
                    alt=""
                  />
                </p>
              </div>
              <div class="col-lg-3 col-md-3  col-4">
                <p class="monthly-txt">Monthly</p>
              </div>

              <p class="update-btn-price">
                <input type="submit" class="submit-btn" value="Update" />
              </p>
            </div>

            <div class="card price-card price-card-mobile">
              <div class="card-body">
                <p class="text-center">
                  <button type="button" class="btn btn-primary gold-btn">
                    Gold
                  </button>
                </p>
                <div class="row pt-3">
                  <div class="col-lg-9 col-md-9 col-9">
                    <p class="avg-txt">Active Project</p>
                    <p class="active-txt-price">
                      Active Collaborators & Support staff
                    </p>
                    <p class="total-storage-txt">Total Storage (GB)</p>
                    <p class="avg-txt">$/month</p>
                  </div>
                  <div class="col-lg-3 col-md-3 col-3">
                    <p class="num-txt-price">2</p>
                    <p class="num-txt-price">40</p>
                    <p class="nums-txt-price">4</p>
                    <p class="num-txt-price">15</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-3 col-md-3  col-4">
                <p class="annual-txt">Annual</p>
              </div>
              <div class=" col-lg-3 col-md-3  col-4">
                <p class="text-center">
                  <img
                    src="../../../assets/fonts/switch.png"
                    class="switch-icon"
                    alt=""
                  />
                </p>
              </div>
              <div class="col-lg-3 col-md-3  col-4">
                <p class="monthly-txt">Monthly</p>
              </div>
              <p class="update-btn-price">
                <input type="submit" class="submit-btn" value="Update" />
              </p>
            </div>

            <div class="card price-card price-card-mobile">
              <div class="card-body">
                <p class="text-center">
                  <button type="button" class="btn btn-primary platinum-btn">
                    Platinum
                  </button>
                </p>
                <div class="row pt-3">
                  <div class="col-lg-9 col-md-9 col-9">
                    <p class="avg-txt">Active Project</p>
                    <p class="active-txt-price">
                      Active Collaborators & Support staff
                    </p>
                    <p class="total-storage-txt">Total Storage (GB)</p>
                    <p class="avg-txt">$/month</p>
                  </div>
                  <div class="col-lg-3 col-md-3 col-3">
                    <p class="num-txt-price">2</p>
                    <p class="num-txt-price">40</p>
                    <p class="nums-txt-price">4</p>
                    <p class="num-txt-price">15</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-3 col-md-3  col-4">
                <p class="annual-txt">Annual</p>
              </div>
              <div class="col-lg-3 col-md-3  col-4">
                <p class="text-center">
                  <img
                    src="../../../assets/fonts/switch.png"
                    class="switch-icon"
                    alt=""
                  />
                </p>
              </div>
              <div class="col-lg-3 col-md-3  col-4">
                <p class="monthly-txt">Monthly</p>
              </div>
              <p class="update-btn-price">
                <input type="submit" class="submit-btn" value="Update" />
              </p>
            </div>
          </div>
        </div>

        <div class="row price-card-hide-for-mob">
          <div class="col-lg-3 col-md-3">
            <div class="card price-card">
              <div class="card-body">
                <p class="text-center">
                  <button type="button" class="btn btn-primary bronze-btn">
                    Bronze
                  </button>
                </p>
                <div class="row pt-3">
                  <div class="col-lg-9 col-md-9 col-9">
                    <p class="avg-txt">Active Project</p>
                    <p class="active-txt-price">
                      Active Collaborators & Support staff
                    </p>
                    <p class="total-storage-txt">Total Storage (GB)</p>
                    <p class="avg-txt">$/month</p>
                  </div>
                  <div class="col-lg-3 col-md-3 col-3">
                    <p class="num-txt-price">2</p>
                    <p class="num-txt-price">40</p>
                    <p class="nums-txt-price">4</p>
                    <p class="num-txt-price">15</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-3">
            <div class="card price-card price-card-mobile">
              <div class="card-body">
                <p class="text-center">
                  <button type="button" class="btn btn-primary silver-btn">
                    Silver
                  </button>
                </p>
                <div class="row pt-3">
                  <div class="col-lg-9 col-md-9 col-9">
                    <p class="avg-txt">Active Project</p>
                    <p class="active-txt-price">
                      Active Collaborators & Support staff
                    </p>
                    <p class="total-storage-txt">Total Storage (GB)</p>
                    <p class="avg-txt">$/month</p>
                  </div>
                  <div class="col-lg-3 col-md-3 col-3">
                    <p class="num-txt-price">2</p>
                    <p class="num-txt-price">40</p>
                    <p class="nums-txt-price">4</p>
                    <p class="num-txt-price">15</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-3">
            <div class="card price-card price-card-mobile">
              <div class="card-body">
                <p class="text-center">
                  <button type="button" class="btn btn-primary gold-btn">
                    Gold
                  </button>
                </p>
                <div class="row pt-3">
                  <div class="col-lg-9 col-md-9 col-9">
                    <p class="avg-txt">Active Project</p>
                    <p class="active-txt-price">
                      Active Collaborators & Support staff
                    </p>
                    <p class="total-storage-txt">Total Storage (GB)</p>
                    <p class="avg-txt">$/month</p>
                  </div>
                  <div class="col-lg-3 col-md-3 col-3">
                    <p class="num-txt-price">2</p>
                    <p class="num-txt-price">40</p>
                    <p class="nums-txt-price">4</p>
                    <p class="num-txt-price">15</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-3">
            <div class="card price-card price-card-mobile">
              <div class="card-body">
                <p class="text-center">
                  <button type="button" class="btn btn-primary platinum-btn">
                    Platinum
                  </button>
                </p>
                <div class="row pt-3">
                  <div class="col-lg-9 col-md-9 col-9">
                    <p class="avg-txt">Active Project</p>
                    <p class="active-txt-price">
                      Active Collaborators & Support staff
                    </p>
                    <p class="total-storage-txt">Total Storage (GB)</p>
                    <p class="avg-txt">$/month</p>
                  </div>
                  <div class="col-lg-3 col-md-3 col-3">
                    <p class="num-txt-price">2</p>
                    <p class="num-txt-price">40</p>
                    <p class="nums-txt-price">4</p>
                    <p class="num-txt-price">15</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row price-card-hide-for-mob">
          <div class="col-lg-3 col-md-3 col-12">
            <p class="text-center">Annual</p>
          </div>
          <div class="col-lg-3 col-md-3">
            <div class="row">
              <div class="col-lg-3 col-md-3">
                <p class="annual-txt">Annual</p>
              </div>
              <div class="col-lg-3 col-md-3">
                <p class="text-center">
                  <img
                    src="../../../assets/fonts/switch.png"
                    class="switch-icon"
                    alt=""
                  />
                </p>
              </div>
              <div class="col-lg-3 col-md-3">
                <p class="monthly-txt">Monthly</p>
              </div>

              <p class="update-btn-price">
                <input type="submit" class="submit-btn" value="Update" />
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-3">
            <div class="row">
              <div class="col-lg-3 col-md-3">
                <p class="annual-txt">Annual</p>
              </div>
              <div class=" col-lg-3 col-md-3">
                <p class="text-center">
                  <img
                    src="../../../assets/fonts/switch.png"
                    class="switch-icon"
                    alt=""
                  />
                </p>
              </div>
              <div class="col-lg-3 col-md-3">
                <p class="monthly-txt">Monthly</p>
              </div>
              <p class="update-btn-price">
                <input type="submit" class="submit-btn" value="Update" />
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-3">
            <div class="row">
              <div class="col-lg-3 col-md-3">
                <p class="annual-txt">Annual</p>
              </div>
              <div class="col-lg-3 col-md-3">
                <p class="text-center">
                  <img
                    src="../../../assets/fonts/switch.png"
                    class="switch-icon"
                    alt=""
                  />
                </p>
              </div>
              <div class="col-lg-3 col-md-3">
                <p class="monthly-txt">Monthly</p>
              </div>
              <p class="update-btn-price">
                <input type="submit" class="submit-btn" value="Update" />
              </p>
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-lg-12 col-md-12 ">
            <table class="table">
              <thead>
                <tr>
                  <td class="all-txt" scope="col">Selected Credit Card</td>
                  <td class="all-txt" scope="col">Selected Credit Card</td>
                  <td class="all-txt" scope="col">Selected Credit Card</td>
                  <td class="all-txt" scope="col">Selected Credit Card</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <input
                      type="text"
                      class="form-control pricing-input-field"
                    />
                  </td>
                  <!-- <td>
                                        <input type="text" class="form-control pricing-input-field">
                                    </td> -->

                  <td>
                    <select
                      class="form-select pricing-input-field"
                      aria-label="Default select example"
                    >
                      <option selected></option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  </td>
                  <td>
                    <select
                      class="form-select pricing-input-field"
                      aria-label="Default select example"
                    >
                      <option selected></option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  </td>
                  <td>
                    <select
                      class="form-select pricing-input-field"
                      aria-label="Default select example"
                    >
                      <option selected></option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="pt-3 save-area">
              <button type="button" class="btn btn-primary save-btn" @click="savePlan('next')">
                  Save & Next
                </button>
              <span
                ><button type="button" class="btn btn-primary save-btn" @click="savePlan('draft')">
                  Save as Draft
                </button></span
              >
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "PricingPlan",
  data() {
    return {
      teamName: null,
      teamId: null,
      projectId: "",
      serverErrors: null,
    };
  },
  // computed: {
  //   ...mapGetters("teamPublicProjects", ["publicProject"]),
  // },
  methods: {
    ...mapActions("snackbar", ["showSnack"]),

    savePlan(savingType) {
      this.serverErrors = null;
        this.showSnack({
        text: "Pricing is ok",
        color: "success",
        timeout: 5000,
      });
      if (savingType === "next") {
        this.$router.push({
          path: `/team-project/${this.teamId}/public/projects/${this.projectId}/summary`,
          query: {
            mode: this.$route.query.mode?this.$route.query.mode:'create',
            name: this.teamName
          }
        });
      } else {
        this.$router.push({ path: `/team-project/${this.teamId}/public/projects/${this.projectId}/draft` });
      }
    }
  },
  created() {
    this.projectId = this.$route.params.id;
    this.teamId = this.$route.params.teamId;
  },
  mounted() {
    this.teamName = this.$route.query.name;
  }
};
</script>

<style scoped>
@import "../../../assets/css/style.css";
@import "../../../assets/css/custom.css";
</style>
