<template>
  <div class="col-lg-9 col-md-9">
    <h4
      class="pt-3 pb-3 personal-project-txt d-none d-md-block d-lg-block d-xl-block"
    >
      Team Project : Public
    </h4>
    <div class="custom-margin form-for-mob">
      <form action="">
        <v-alert
          v-if="serverErrors"
          outlined
          type="error"
          prominent
          border="left"
          dismissible
          style="width: 1040px"
        >
          <ul>
            <li
              v-for="(field, index) of Object.keys(serverErrors)"
              :key="index"
            >
              {{ serverErrors[field][0] }}
            </li>
          </ul>
        </v-alert>

        <div class="pb-3 pt-3">
          <label for="" class="project-label-txt">Project Name</label>
          <input
            type="text"
            class="form-control project-input-filed"
            id="exampleInputEmail1"
            v-model="name"
            aria-describedby="emailHelp"
          />
          <p
            v-bind:class="{ show: error.name, not_show: !error.name }"
            style="color:red"
          >
            *Project name is required
          </p>
        </div>
        <div class="form-group">
          <div class="pb-3 pt-3">
            <label for="exampleFormControlTextarea1" class="project-label-txt"
              >Project Summary</label
            >
            <textarea
              class="form-control custom-txtarea"
              id="exampleFormControlTextarea1"
              v-model="summary"
              rows="3"
            ></textarea>
            <p
              v-bind:class="{ show: error.summary, not_show: !error.summary }"
              style="color:red"
            >
              *Project summary is required
            </p>
          </div>
          <p class="project-label-txt">
            Project-related Files(e.g, Call for proposal, Public
            Annoucement,etc.)
          </p>
          <input
            multiple
            type="text"
            class="custom-input-field-two"
          />
          <span class="fileUpload ml-2">
              <input multiple type="file" class="upload" @change="onFileChange"/>
              <span>Upload</span>
          </span>
        </div>
        <div class="pdf-file-area" v-if="related_files_old.length">
          <div v-for="(file, index) in related_files_old" :key="index">
            <img src="../../../assets/fonts/pdf.png" class="pdf-font" alt="" />
            <span class="project-file-txt">{{ file.attachment }}</span>
            <img
              src="../../../assets/fonts/close.png"
              class="close-btn"
              @click="removeFileOld(file.id)"
              alt=""
            />
            <br />
          </div>
        </div>
        <div class="pdf-file-area" v-if="related_files_new.length">
          <div v-for="(file, index) in related_files_new" :key="index">
            <img src="../../../assets/fonts/pdf.png" class="pdf-font" alt="" />
            <span class="project-file-txt">{{ file.name }}</span>
            <img
              src="../../../assets/fonts/close.png"
              class="close-btn"
              @click="removeFileNew(index)"
              alt=""
            />
            <br />
          </div>
        </div>
        <div class="pb-3 save-area">
          <a @click="handleSubmit()"
            ><button type="button" class="btn btn-primary save-btn">
              Save & Next
            </button></a
          >
          <span
            ><button
              type="button"
              @click="handleSetAsDraft()"
              class="btn btn-primary save-btn"
            >
              Save as Draft
            </button></span
          >
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "PrimaryInfoUpdate",
  data() {
    return {
        teamId: null,
        project_id: null,
        name: null,
        summary: null,
        related_files_old: [],
        related_files_new: [],
        is_draft: 0,
        validForm: true,
        error: {
            name: false,
            summary: false,
        },
        serverErrors: null,
    };
  },
  computed: {
    ...mapGetters("teamPublicProjects", ["project"]),
  },
  methods: {
    ...mapActions("snackbar", ["showSnack"]),

    onFileChange(e) {
      this.related_files_new = Array.from(e.target.files);
    },
    removeFileNew(index) {
      this.related_files_new.splice(index, 1);
    },
    removeFileOld(attachment_id) {
        console.log(attachment_id);
        this.$store
                .dispatch("teamPublicProjects/deleteAttachment", {
                    project_id: this.project_id,
                    attachment_id: attachment_id
                })
                .then(
                    (res) => {
                        console.log(res.data.data)
                        this.getPrimaryInfo()
                    },
                    (error) => {
                        console.log(error)
                    
                    }
                );
    },
    
    handleSubmit() {
        this.validationCheck();

        if (this.validForm) {
            const config = {
            headers: { "content-type": "multipart/form-data" },
            };

            let formData = new FormData();

            formData.append("name", this.name);
            formData.append("summary", this.summary);
            //formData.append("id", this.project_id);
            formData.append("is_draft", 1); //always 1 until project start

            this.related_files_new.forEach((file, key) => {
            formData.append("related_files[" + key + "]", file);
            });

            let dispatchUrl = "teamPublicProjects/updatePrimaryInfo";
            this.$store.dispatch("snackbar/showOverlay", 1);
            this.$store.dispatch(dispatchUrl,
            {
                formData: formData,
                projectId: this.project_id,
            }, config).then(
            (res) => {
                this.serverErrors = null;
                this.showSnack({
                text: "Primary info Successfully Updated!",
                color: "success",
                timeout: 5000,
                });
                this.$store.dispatch("snackbar/showOverlay", 0);
                this.related_files_new = []
                this.$router.push({path: `/team-project/${this.teamId}/public/projects/${res.data.data.id}/set-deadlines`, query: {mode: this.$route.query.mode?this.$route.query.mode:'create'}});

            },
            (error) => {
                console.log(error.response);
                this.$store.dispatch("snackbar/showOverlay", 0);
                this.showSnack({
                text: error.response.data.message,
                color: "error",
                timeout: 5000,
                });
                if (error.response.data.errors) {
                this.serverErrors = error.response.data.errors;
                }
            }
            );
        }
    },
    handleSetAsDraft() {
      this.validationCheck();

      if (this.validForm) {
        const config = {
          headers: { "content-type": "multipart/form-data" },
        };

        let formData = new FormData();

        formData.append("name", this.name);
        formData.append("summary", this.summary);
        formData.append("is_draft", 1);

        this.related_files.forEach((file, key) => {
          formData.append("related_files[" + key + "]", file);
        });

        let dispatchUrl = "teamPublicProjects/updatePrimaryInfo";
        this.$store.dispatch("snackbar/showOverlay", 1);

        this.$store.dispatch(dispatchUrl, 
        {
            formData: formData,
            projectId: this.project_id,
        },config).then(
          () => {
            this.serverErrors = null;
            this.showSnack({
              text: "Primary info Successfully Saved!",
              color: "success",
              timeout: 5000,
            });
            this.$store.dispatch("snackbar/showOverlay", 0);
            this.related_files_new = []
            this.$router.push({ path: "/team-project/draft-projects" });
          },
          (error) => {            
            this.$store.dispatch("snackbar/showOverlay", 0);
            this.showSnack({
              text: error.response.data.message,
              color: "error",
              timeout: 5000,
            });
            if (error.response.data.errors) {
              this.serverErrors = error.response.data.errors;
            }
          }
        );
      }
    },
    validationCheck() {
      if (!this.name) {
        this.error.name = true;
        this.validForm = false;
      } else {
        this.error.name = false;
        this.validForm = true;
      }
      if (!this.summary) {
        this.error.summary = true;
        this.validForm = false;
      } else {
        this.error.summary = false;
        this.validForm = true;
      }
    },

    getPrimaryInfo(){
        this.$store
                .dispatch("teamPublicProjects/getPrimaryInfo", this.project_id)
                .then(
                    (res) => {
                        console.log(res.data.data)
                        this.name = res.data.data.title
                        this.summary = res.data.data.project_summary
                        this.related_files_old = res.data.data.related_files
                    },
                    (error) => {
                        console.log(error)
                    
                    }
                );
    }
  },

    mounted(){
        if(this.$route.params.id){
            //this.getPrimaryInfo(this.$route.params.id)

            this.project_id = this.$route.params.id
            this.getPrimaryInfo()
        }

      this.teamId = this.$route.params.teamId;

    }
};
</script>

<style scoped>
@import "../../../assets/css/style.css";
@import "../../../assets/css/custom.css";

.not_show {
  display: none;
}
.show {
  display: block;
}
</style>
