<template>

        <div class="col-lg-9 col-md-9 ">
            <p class="team-name">{{teamName}}</p>
            <h4 class="pt-3 pb-3 mb-5 personal-project-txt mt-custom">Team Project : Public</h4>
            <div class="custom-margin">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <p>Thanks for starting your project. You can see the status of the project under active projects.</p>
                            <p>The ID for this General Project is <span style="color: #F15A24">{{pid}}</span>.</p>
                            <p>Please use this ID for collecting needed documents from expected collaborators.</p>
                        </div>
                        
                    </div>

                    <div class="row mt-10" style="height: 50px">
                        <div class="pb-3 save-area">
                            <button type="button" @click="goToActiveProjects()" class="btn btn-primary save-btn ml-4">Active Projects</button>
                        </div>
                    </div>
                        
            </div>
        </div>
    
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
    name: "UniquePin",
    data(){
        return {
            teamName: null,
            teamId: null,
            project_id: null,
            pid: null
        }
    },
    computed: {
        ...mapGetters("teamPublicProjects", ["project"]),
    },
    
    methods: {
        ...mapActions("snackbar", ["showSnack"]),

        goToActiveProjects(){
            this.$router.push({ path: `/team-project/${this.teamId}/active-projects` });
        },

        getProjectDetails(){
            this.$store
                .dispatch("teamPublicProjects/getPrimaryInfo", this.project_id)
                .then(
                    (res) => {
                        console.log(res.data.data)
                        var temp_data = res.data.data;
                        if(temp_data.pid != null){
                            this.pid = res.data.data.pid
                        }
                    },
                    (error) => {
                        console.log(error)
                    
                    }
                );
        },
    },
    created() {
        this.teamId = this.$route.params.teamId;
    },
    mounted() {
        if (this.$route.params.id) {
            //this.getPrimaryInfo(this.$route.params.id)
            this.project_id = this.$route.params.id;
            this.getProjectDetails();
        }

        this.teamName = this.$route.query.name;
    },
    
}
</script>

<style scoped>
@import "../../../assets/css/style.css";
@import "../../../assets/css/custom.css";

.not_show{
    display: none;
}
.show{
    display: block;
}
</style>