<template>
    <div class="col-lg-3 col-md-3 sidebar-bg">
        <div class="list-group list-group-flush item-margin-top item-margin-top-mob">
            <a @click="goto('PersonalUpdatePrimaryInfo')" class="custom-sidebar-menu menu-mobile" href="javascript:void(0)" :class="{'active-custom-menu': $route.name==='PersonalCreatePrimaryInfo' || $route.name==='PersonalUpdatePrimaryInfo'}">Primary Info</a>
            <a @click="goto('PersonalCreateDeadline')" class="custom-sidebar-menu menu-mobile" href="javascript:void(0)" :class="{'active-custom-menu': $route.name==='PersonalCreateDeadline'}">Deadlines</a>
            <a @click="goto('PersonalCreateCollaborator')" class="custom-sidebar-menu menu-mobile" href="javascript:void(0)" :class="{'active-custom-menu': $route.name==='PersonalCreateCollaborator'}">Add Collaborators</a>
            <a @click="goto('PersonalCreateAddDocument')" class="custom-sidebar-menu menu-mobile" href="javascript:void(0)" :class="{'active-custom-menu': $route.name==='PersonalCreateAddDocument'}">Add Documents</a>
            <a @click="goto('PersonalCreateAssignDocument')" class="custom-sidebar-menu menu-mobile" href="javascript:void(0)" :class="{'active-custom-menu': $route.name==='PersonalCreateAssignDocument'}">Assign Documents</a>
            <a @click="goto('PersonalCreateAddSupportStaff')" class="custom-sidebar-menu menu-mobile" href="javascript:void(0)" :class="{'active-custom-menu': $route.name==='PersonalCreateAddSupportStaff'}">Add Support Staff</a>
            <a @click="goto('PersonalCreatePricingPlan')" class="custom-sidebar-menu menu-mobile" href="javascript:void(0)" :class="{'active-custom-menu': $route.name==='PersonalCreatePricingPlan'}">Pricing Plan</a>
            <a @click="goto('PersonalCreateSummary')" class="custom-sidebar-menu menu-mobile" href="javascript:void(0)" :class="{'active-custom-menu': $route.name==='PersonalCreateSummary'}">Project Summary</a>
            <a @click="goto('PersonalCreateStartProject')" class="custom-sidebar-menu menu-mobile" href="javascript:void(0)" :class="{'active-custom-menu': $route.name==='PersonalCreateStartProject'}">Start the Project</a>
        </div>

        <Profile />
    </div>
</template>

<script>
const Profile = () => import("@/components/common/Profile");

export default {
    name: "Sidebar",
    components: {
        Profile,
    },
    methods: {
        goto(routeName) {            
            if(this.$route.params.id && this.$route.query.mode && (this.$route.query.mode == 'edit' || this.$route.query.mode == 'create') && this.$route.name != routeName) {
                this.$router.push({ name: routeName, params: {id: this.$route.params.id}, query: {mode: this.$route.query.mode} });
            }
        }
    }
}
</script>

<style scoped>
@import "../../../assets/css/style.css";
@import "../../../assets/css/custom.css";
.v-application a {
    color: black;
}
</style>