<template>
    <div>
        <section class="sticky-header sticky-not-visible">
        <div id="mySidebar" class="sidebar" style="width: 0px;">
            <a href="javascript:void(0)" class="closebtn" @click="closeNav()">×</a>
            <img src="img/logo.png" class="pb-3 logo-for-mob" alt="" />
            <a href="#">Dashboard</a>
            <a href="#">Teams</a>
            <a href="#">Personal</a>
            <a href="#">External</a>
            <a href="#">Notifications</a>
            <a href="#">Alerts</a>
            <a href=""
            ><input
                class="form-control custom-search"
                type="search"
                placeholder="Search"
                aria-label="Search"
            /></a>
        </div>

        <div class="row">
            <div class="col">
            <button class="openbtn" @click="openNav()">☰</button>
            </div>

            <div class="col">
            <div class="row">
                <div class="col-lg-10 col-md-10  mt-2">
                <p class="profile-name-txt">Arshi Shayesta</p>
                <p class="profile-email-txt">puneetdwivedi@gmail.com</p>
                </div>

                <div class="col-lg-2 col-md-2">
                <img src="img/face.png" class="profile-img-mob" alt="" />
                </div>
            </div>
            </div>
        </div>
        </section>
        <header class="custom-nav custom-nav custom-mobile-hidden">
        <!-- As a heading -->
        
            <div class="container-fluid custom-position">
                <div class="row row-one">
                    <div class="col-lg-3 col-md-3 demo">
                        <!-- <img src="../../../assets/img/logo.png" class="custom-logo logo-ml" alt="" /> -->
                        <img src="../../../assets/img/logo.png" class="logo-float" alt="" />
                    </div>
                    
                    <div class="col-lg-8 col-md-8 nav-menu-margin">
                        <span class="cus-margin">
                          <a 
                            class="custom-nav-link pr-0 ml-5" 
                            @click="goToMainDashboard()"
                            :class="{'active-nav' : ($route.name==='MainDashboard' || $route.name.includes('Profile')) }"
                            >Dashboard
                          </a>
                          <div class="btn-group">
                            <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" @click="goToTeamDashboard">Teams</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" @click="goToPersonalProjects">Personal Projects</a>
                              <!-- <div class="dropdown-divider"></div>
                              <a class="dropdown-item" @click="goToExternalProjects">External Projects</a> -->
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" @click="goToProfile">Profile</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" @click="goToPricingPlans">Pricing Plans</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" @click="goToAccountStatus">Account Status</a>
                            </div>
                          </div>
                        </span>
                        <span class="cus-margin">
                          <a 
                            class="custom-nav-link pr-0" 
                            @click="goToTeams()"
                            :class="{'active-nav' : $route.name.includes('Team') }"
                            >Teams
                          </a>
                          <div class="btn-group">
                            <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" @click="goToNewTeam">Create New Team</a>
                              <div v-if="all_teams.length > 0" class="dropdown-divider"></div>

                              <div v-for="(team, index) in all_teams" :key="index">
                                <a class="dropdown-item" @click="goToDetails(team.id, team.name)">{{team.name}}</a>
                                <div v-if="index+1 < all_teams.length" class="dropdown-divider"></div>
                              </div>
                            </div>
                          </div>
                        </span>
                        <span class="cus-margin">
                          <a
                            class="custom-nav-link pr-0"
                            @click="goToPersonalDashboard()"
                            :class="{'active-nav' : $route.name.includes('Personal') || $route.name.includes('PP')  }"
                            >Personal
                          </a>
                        </span>
                        <!-- <span class="cus-margin">
                          <a 
                            class="custom-nav-link pr-0" 
                            @click="goToExternal()"
                            :class="{'active-nav' : $route.name.includes('External') }"
                            >External
                          </a>
                        </span> -->
                        <span class="cus-margin">
                          <a 
                            class="custom-nav-link noti-top pr-0" 
                            @click="goToNotifications()"
                            :class="{'active-nav' : $route.name.includes('Notification') }"
                            >Notifications
                              <span class="custom-badge">{{notiCount}}</span>
                          </a>
                        </span>
                        <span class="cus-margin">
                          <a 
                            class="custom-nav-link noti-top pl-0" 
                            @click="goToAlerts()"
                            :class="{'active-nav' : $route.name.includes('Alert') }"
                            >Alerts
                              <span class="custom-badge">{{alerts.length}}</span>
                          </a>
                        </span>
                        
                    </div>
                    
                </div>
                
            </div>

            

            
        
        </header>

        <div class="search-position">
            <input
                class="form-control custom-search"
                type="search"
                v-model="keyword"
                placeholder="Search"
                aria-label="Search"
                v-on:keyup.enter="getSearchedData"
            />
        </div>
    </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  name: "Navbar",
//   props: ['search'],
  data(){
    return{
      searchedData: [],
      keyword: '',
      notiCount: null
    }
  },
  
  watch: {
    keyword(newValue, oldValue){
        console.log(oldValue);
        this.$emit('data-changed', newValue)
    },
    $route (){
        this.$store
                .dispatch("notifications/countNotification")
                .then(
                (res) => {
                  console.log('rr',res.data)
                    this.notiCount = res.data
                },
                (error) => {
                    console.log(error.response);
                }
                );
    }
  },

  computed: {
        ...mapGetters("notifications", ["notifications", "alerts"]),
        ...mapGetters("teams", ["all_teams"]),
  },

  methods: {
    ...mapActions("notifications", ["countNotification", "getAlerts"]),

    ...mapActions("teams", ["getTeams"]),

    getSearchedData(){
      this.$store
                .dispatch("notifications/getSearchedData", this.search)
                .then(
                (res) => {
                    console.log("pp", res.data.data)
                    // this.plan = res.data.data
                    this.searchedData = res.data.data
                },
                (error) => {
                    if(error.response.status == 404) {
                        // this.plan = null
                    }
                }
                );
    },

    goToDetails(id, name){
      console.log(id+ ' ' + name)
        //this.$router.push({ path: `/team/${id}/details` });
        // if(name.includes('%20'))
        // {
        //   let temp = name.replace('%20','_')
        //   console.log(temp)
        // }
        this.$router.push({ path: `/team/${id}/dashboard`,
          query: { teamName: name } });
    },

    goToMainDashboard() {
      //if(this.$route.name==='PersonalActiveProjects') return false;

          this.$router.push({ path: "/main-dashboard" });
      },
    
    // goToExternal(){
    //       this.$router.push({ path: "/external-public-project/dashboard" });
    // },

    goToTeams(){
          this.$router.push({ path: "/team/dashboard" });
    },

    goToNewTeam(){
          this.$router.push({ path: "/team/new-team" });
    },


    goToTeamDashboard(){
        this.$router.push({ path: "/team/dashboard" });
    },
    goToPersonalProjects(){
        this.$router.push({ path: "/personal-project/dashboard" });
    },
    // goToExternalProjects() {
    //     this.$router.push({ path: "/external-public-project/dashboard" });
    // },
    goToProfile() {
        this.$router.push({ path: "/profile/create" });
    },
    goToPricingPlans() {
        this.$router.push({ 
            path: "/pricing/plans/personal",
            query: {
                plan: "annual"
            }
        });
    },
    goToAccountStatus() {
        this.$router.push({ path: "/account-status/space-used" });
    },


    goToNotifications(){
          this.$router.push({ path: "/notification" });
    },

    goToAlerts(){
          this.$router.push({ path: "/alert" });
    },

    goToPersonalDashboard() {
      //if(this.$route.name==='PersonalActiveProjects') return false;

          this.$router.push({ path: "/personal-project/dashboard" });
    },

    openNav() {
      document.getElementById("mySidebar").style.width = "250px";
    },

    closeNav() {
      document.getElementById("mySidebar").style.width = "0";
    },
  },

  mounted() {
      this.getAlerts();
      this.getTeams();
      //console.log(this.notifications)

      this.$store
                .dispatch("notifications/countNotification")
                .then(
                (res) => {
                  console.log('rr',res.data)
                    this.notiCount = res.data
                },
                (error) => {
                    console.log(error.response);
                }
                );
  }
};
</script>

<style scoped>
@import "../../../assets/css/style.css";
.v-application a {
  color: black;
}

.custom-badge{
  background-color:#FF8D5F;
  border-radius: 50%;
  padding: 0px 9px; 
  margin-left: 2px;
  position: relative;
  left:-9px;
  top: -10px;
  z-index: -1;
  color: black;
}

.noti-top{
  position: relative;
  z-index: 1;
} 

.search-result{
  width: 240px;
  margin-left: 80px !important;
}

.custom-position{
  position: absolute;
}

.row-two{
    z-index: 1;
}

.search-position{
  position: absolute;
  left: 76%;
  top:33px;
}

.cus-margin{
  margin-right: 15px;
}

@media screen and (max-width: 1250px) {
    .cus-margin{
      margin-right: 0px !important;
    }
}

.btn{
  border-radius: 50%;
  padding: 0px 7px;
}

.btn-danger{
  background-color: #FF8D5F;
}

.nav-menu-margin{
  margin-top: 33px;
}

</style>
