<template>
    <div class="col-lg-3 col-md-3 sidebar-bg">
        <div class="list-group list-group-flush item-margin-top item-margin-top-mob">
            <a 
                @click="gotoPlans('PricingPlansPersonal')" 
                class="custom-sidebar-menu menu-mobile" 
                href="javascript:void(0)" 
                :class="{'active-custom-menu': $route.name.includes('PricingPlans')}"
                >Pricing Plans
            </a>
            <a 
                @click="gotoPlans('PricingPlansPersonal')" 
                class="custom-sidebar-menu menu-mobile submenu-ml" 
                href="javascript:void(0)" 
                :class="{'active-custom-menu': $route.name.includes('PricingPlans') && $route.name.includes('Personal')}"
                >Personal
            </a>
            <!-- <a 
                @click="gotoPlans('PricingPlansTeam')" 
                class="custom-sidebar-menu menu-mobile" 
                href="javascript:void(0)" 
                :class="{'active-custom-menu': $route.name==='PricingPlansTeam'}"
                >Pricing Plans
            </a> -->
            <a 
                @click="gotoPlans('PricingPlansTeam')" 
                class="custom-sidebar-menu menu-mobile submenu-ml" 
                href="javascript:void(0)" 
                :class="{'active-custom-menu': $route.name.includes('PricingPlans') && $route.name.includes('Team')}"
                >Team
            </a>
            <a @click="goto('PricingDefaultPlans')" class="custom-sidebar-menu menu-mobile" href="javascript:void(0)" :class="{'active-custom-menu': $route.name==='PricingDefaultPlans'}">Default Pricing Plans</a>
            <a @click="goto('PricingCreditCard')" class="custom-sidebar-menu menu-mobile" href="javascript:void(0)" :class="{'active-custom-menu': $route.name==='PricingCreditCard'}">New Credit Card</a>
            <a @click="goto('PricingSavedCreditCard')" class="custom-sidebar-menu menu-mobile" href="javascript:void(0)" :class="{'active-custom-menu': $route.name==='PricingSavedCreditCard'}">Saved Credit Card</a>
            <a 
                @click="goto('PricingChangePlansPersonal')" 
                class="custom-sidebar-menu menu-mobile"
                href="javascript:void(0)" 
                :class="{'active-custom-menu': $route.name.includes('PricingChange')}"
                >Change Pricing Plans
            </a>
            <a  
                @click="goto('PricingChangePlansPersonal')" 
                class="custom-sidebar-menu menu-mobile submenu-ml"
                href="javascript:void(0)" 
                :class="{'active-custom-menu': $route.name.includes('PricingChange') && $route.name.includes('Personal')}"
                >Personal
            </a>
            <a  
                @click="goto('PricingChangePlansTeam')" 
                class="custom-sidebar-menu menu-mobile submenu-ml"
                href="javascript:void(0)" 
                :class="{'active-custom-menu': $route.name.includes('PricingChange') && $route.name.includes('Team')}"
                >Team
            </a>
            
            <a 
                @click="goto('PricingStopPaymentPersonal')" 
                class="custom-sidebar-menu menu-mobile"
                href="javascript:void(0)" 
                :class="{'active-custom-menu': $route.name.includes('PricingStop')}"
                >Stop Payment
            </a>
            
            <a  
                @click="goto('PricingStopPaymentPersonal')" 
                class="custom-sidebar-menu menu-mobile submenu-ml"
                href="javascript:void(0)" 
                :class="{'active-custom-menu': $route.name.includes('PricingStop') && $route.name.includes('Personal')}"
                >Personal
            </a>
            <a  
                @click="goto('PricingStopPaymentTeam')" 
                class="custom-sidebar-menu menu-mobile submenu-ml"
                href="javascript:void(0)" 
                :class="{'active-custom-menu': $route.name.includes('PricingStop') && $route.name.includes('Team')}"
                >Team
            </a>
            
        </div>

        <Profile />

    </div>
</template>

<script>
const Profile = () => import("@/components/common/Profile");

export default {
    name: "Sidebar",
    components: {
        Profile,
    },
    methods: {
        goto(routeName) {            
            this.$router.push({ name: routeName });
        },
        gotoPlans(routeName) {            
            this.$router.push({ name: routeName,  query: {
                plan: "annual"
            } });
        }
    }
}
</script>

<style scoped>
@import "../../../assets/css/style.css";
@import "../../../assets/css/custom.css";
.v-application a {
    color: black;
}

.custom-sidebar-menu{
    margin-left: 40%;
}

.submenu-ml{
    margin-left: 45%;
}
</style>