<template>
    <div class="row custom-profile">
        <!-- <div class="col-lg-1 col-md-1">
            <span class="cus-logout ml-2" @click="confirmLogout">Logout</span>
        </div> -->
            <!-- <img src="../../assets/img/face.png" alt=""> -->
        
        <div class="col-lg-3 col-md-3 pr-0" style="text-align:right">
            <img v-if="profileData.profile_picture_link" class="custom-img" :src="profileData.profile_picture_link" alt="">
            <img v-else class="custom-img" src="../../assets/fonts/profile_default.jpeg" alt=""> 
        </div>
        <div class="col-lg-8 col-md-8 pl-1" @click="showLogout()" style="cursor: pointer; text-align:left; padding-top:11px">
            
            <h6 style="display:inline-block;" class="profile-name-txt">{{fullname.substring(0,15)}} ...</h6><br/>
            <small class="profile-email-txt">{{email.substring(0,20)}}</small>
        </div>
        <div class="dd" v-bind:class="{ show: ddShow, not_show: !ddShow }" @click="confirmLogout">
            <a style="color:white">Log Out</a>
        </div>

        <v-dialog v-model="dialogLogout" max-width="330">
            <v-card>
                <v-card-title dark text class="mb-2 txt-color"> Log Out </v-card-title>
                <v-card-text> Are you sure that you want to log out? </v-card-text>
                <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn class="d-btn" color="white darken-1" text @click="noLogout()">
                    No
                </v-btn>

                <v-btn class="d-btn" color="white darken-1" text @click="doLogout()">
                    Yes
                </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
    name: "Profile",
    data(){
        return{
            dialogLogout: false,
            ddShow: false,
            first_name: null,
            last_name: null,
            fullname: '',
            email: null,
        }
    },
    watch:{
        $route (to, from){
            console.log(to)
            console.log(from)
            if(to.name == 'ProfileUsernameCreate'){
                console.log("p u n c")
                this.getProData()
            }

            if(from.name == 'ProfileUsernameCreateConfirm'){
                this.getProData()
            }
        }
    },
    computed: {
        ...mapGetters("profiles", ["profileData"])
    },
    methods: {
        ...mapActions("profiles", ["getProfileData"]),

        showLogout(){
            this.ddShow = !this.ddShow;
        },

        getProData(){
            this.$store
                .dispatch("profiles/getProfileData")
                .then(
                (res) => {
                    this.first_name = res.data.data.first_name
                    this.last_name = res.data.data.last_name
                    this.fullname = this.first_name + ' ' + this.last_name
                    this.email = res.data.data.email
                },
                (error) => {
                    this.showSnack({
                    text: error.response.data.message,
                    color: "error",
                    timeout: 5000,
                    });
                    this.dialogDelete = false;
                }
                );
        },

        confirmLogout() {
            this.dialogLogout = !this.dialogLogout;
        },

        noLogout() {
            this.dialogLogout = false
            this.ddShow = !this.ddShow;
        },

        doLogout(){
            this.$store
                .dispatch("auth/logout")
                .then(
                () => {
                    this.$router.push({ path: "/signin" });
                    this.dialogLogout = false;
                },
                (error) => {
                    this.showSnack({
                    text: error.response.data.message,
                    color: "error",
                    timeout: 5000,
                    });
                    this.dialogDelete = false;
                }
                );
        }
    },
    created() {
        console.log("pro created")
        this.getProData()
    },
    // mounted() {
    //     console.log(this.authUser)
    // }
}
</script>

<style scoped>
@import "../../assets/css/style.css";
@import "../../assets/css/custom.css";

.not_show {
    display: none;
}
.show {
    display: block;
}

.v-application a {
    color: black;
}

.cus-logout{
    cursor: pointer;
}

.cus-logout:hover{
    color: red;
}

.custom-img{
    height: 55px;
    width: 55px;
    /* border-radius: 50%; */
    /* position: relative;
    top: -6px;
    left: 12px; */
    /* display: inline-block; */
}

.dd{
    border: 2px solid black;
    background: #FF5F1F;
    color: white;
    padding: 10px 30px;
    position: absolute;
    bottom: 90px;
    left: 360px;
    cursor: pointer;
}

.dd:hover, .dd:focus{
    background: #8A1DFF;
}

.neu{
    border: 4px solid black;
}

</style>