<template>

     <div class="search-result">
        <div class="list-group">
            <button 
            type="button" 
            class="list-group-item list-group-item-action"
            v-for="(data, index) in searchedData" 
            :key="index"
            @click="gotoDetails(data.id, data.team_id)"
            >
            {{data.title}}
            </button>
        </div>
    </div>
    
</template>

<script>

export default {
    name: "SearchResult",
    props: ['searchedData'],
    // data() {
    //     return{ 
    //         searchLength: this.search
    //     }
    // },
    // computed: {
    //     ...mapGetters("profiles", ["profileData"])
    // },
    methods: {
        gotoDetails(id, team_id){
            // console.log(id);
            // console.log(team_id);
            // console.log(pid);
            if(team_id == null){
                this.$router.push({ path: `/personal-project/${id}/details` });
            }else{
                this.$router.push({ path: `/team-project/${team_id}/project/${id}/details` });
            }
        },
    },
    // created() {
    //     this.getProfileData()
    // },
    // mounted() {
    //     console.log("sl "+this.searchLength)
    // }
}
</script>

<style scoped>
@import "../../assets/css/style.css";
@import "../../assets/css/custom.css";
.v-application a {
    color: black;
}

.search-result{
    width: 240px;
    position: absolute;
    /* left: 1522px; */
    left: 81.5%;
    top:73px;
    z-index: 1;
}

@media screen and (min-width: 1400px) {
    .search-result{
        width: 240px;
        position: absolute;
        /* left: 1522px; */
        left: 81.5%;
        top:73px;
        z-index: 1;
    }
}

@media screen and (min-width: 1600px) {
    .search-result{
        width: 240px;
        position: absolute;
        /* left: 1522px; */
        left: 81%;
        top:73px;
        z-index: 1;
    }
}

@media screen and (min-width: 1900px) {
    .search-result{
        width: 240px;
        position: absolute;
        /* left: 1522px; */
        left: 80%;
        top:73px;
        z-index: 1;
    }
}


</style>