<template>
<div class="login-body">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mt-5 mx-auto">
                <div class="card card-signin my-4">
                <div class="card-body">
                    <h5 class="card-title sign-in-title">Stripe Payment</h5>
                    <v-main>
                        
                        <form class="form-signin">
                
                            <div class="form-label-group">
                                <label for="name" class="login-label-txt">Name on Card</label>
                                <input type="text" v-model="card_name" class="form-control email-password-bg" >
                            </div>
                            <br/>
                            <div class="form-label-group">
                                <label for="card_number" class="login-label-txt">Card Number</label>
                                <input type="text" v-model="number" class="form-control email-password-bg" >
                            </div>
                            <br/>
                            <div class="form-label-group">
                                <label for="cvc" class="login-label-txt">CVC</label>
                                <input type="text" v-model="cvc" class="form-control email-password-bg" placeholder="e.g 415" >
                            </div>
                            <br/>
                            <div class="form-label-group">
                                <label for="expiration_month" class="login-label-txt">Expiration Month</label>
                                <input type="text" v-model="exp_month" class="form-control email-password-bg" placeholder="MM">
                            </div>
                            <br/>
                            <div class="form-label-group">
                                <label for="expiration_year" class="login-label-txt">Expiration Year</label>
                                <input type="text" v-model="exp_year" class="form-control email-password-bg" placeholder="YYYY">
                            </div>
                            <br/>

                        </form>
                        <button class="btn btn-lg btn-primary btn-block mt-4 mb-4 sign-in-btn" @click="handleSubmit()" >Submit</button> 
                    </v-main>
                        
                </div>
                </div>
            </div>
        </div>

    </div>
</div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
    name: "StripeForm",
    data() {
        return{
            card_name: null,
            number: null,
            cvc: null,
            exp_month: null,
            exp_year: null,

            validForm: true
        }
    },
    computed: {
        ...mapGetters("stripes", ["stripes"]),
    },
    methods: {
        handleSubmit(){

            if(this.validForm){
                console.log("form submit");
                this.$store.dispatch("stripes/checkout", {
                    card_name: this.card_name,
                    stripeToken: {
                        number: this.number,
                        cvc: this.cvc,
                        exp_month: this.exp_month,
                        exp_year: this.exp_year
                    }
                }).then(() => 
                    {
                        //this.$store.dispatch('snackbar/showOverlay', 0);
                        this.$router.push({ path: "/profile-update" });
                    },
                    (error) => {
                        console.log(error.response);
                        //this.$store.dispatch('snackbar/showOverlay', 0);
                    }
                    );
            }
            
        }
    }
};
</script>

<style scoped>
@import "../../assets/css/style.css";
.not_show{
    display: none;
}
.show{
    display: block;
}
.container {
    margin-top: 40px;
}
.panel-heading {
display: inline;
font-weight: bold;
}
.flex-table {
    display: table;
}
.display-tr {
    display: table-row;
}
.display-td {
    display: table-cell;
    vertical-align: middle;
    width: 55%;
}
</style>