<template>
    <div>
        <div ref="card"></div>
        <button @click="purchase()">Purchase</button>
    </div>
</template>

<script>
import { mapGetters } from "vuex";

    let stripe = window.Stripe(`pk_test_51JHPUFHhMSQXIt764s6QKwY9h6vYsalEOFWEZd0MNTJ8Ds4knkZuxRHsd6PJTjB0nbjGbHB5bBEpY7NsBPH7Qo7l00n5mS2cdW`),
    elements = stripe.elements(),
    card = undefined;

export default {
    name: "StripeTest",
    data() {
        return {
            res: null,
            payment_method: {
                card:null,
                billing_details: {
                    name: null
                }
            }
        }
    },
    computed: {
        ...mapGetters("stripes", ["stripes"]),
    },
  mounted: function () {
    card = elements.create('card');
    card.mount(this.$refs.card);
  },

  methods: {
    purchase() {
        const vm = this;

        stripe.createToken(card).then(function(result) {
        // Access the token with result.token
        //console.log(result.token)
        //this.res = result.token;
        if (result.error) {
            self.hasCardErrors = true;
            self.$forceUpdate(); // Forcing the DOM to update so the Stripe Element can update.
            return;
        }else{
            vm.payment_method.card = result.token.card;
            vm.payment_method.billing_details.name = "Shiam Chowdhury"
            vm.$store.dispatch("stripes/checkout", vm.payment_method).then(() => 
                    {
                        //this.$store.dispatch('snackbar/showOverlay', 0);
                        vm.$router.push({ path: "/checkout-test" });
                    },
                    (error) => {
                        console.log(error.response);
                        //this.$store.dispatch('snackbar/showOverlay', 0);
                    }
                    );
        }
        
        });
    }
  }
};
</script>