<template>
  <v-app>
    <v-overlay :value="showOverlayLoader">
      <v-progress-circular
        indeterminate
        size="58"
        color="primary"
      ></v-progress-circular>
    </v-overlay>
    <router-view></router-view>
  </v-app>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  name: "App",
  computed: {
    ...mapGetters("snackbar", ["showOverlayLoader"]),
  },
};
</script>

<style scoped>
.v-application {
  font-family: "Poppins", sans-serif;
}
</style>
