<template>
    <div class="col-lg-3 col-md-3 d-none d-md-block d-lg-block d-xl-block sidebar-bg">
        <div class="list-group list-group-flush item-margin-top custom-margin">
            <a class="custom-sidebar-menu" href="javascript:void(0)" :class="{'active-custom-menu': $route.name==='ExternalActiveProjects'}" @click="goToActiveProjects()">Active Projects</a>
            <a class="custom-sidebar-menu" href="javascript:void(0)" :class="{'active-custom-menu': $route.name==='ExternalPastProjects'}" @click="goToPastProjects()">Past Projects</a>
            <a class="custom-sidebar-menu" href="javascript:void(0)" :class="{'active-custom-menu': $route.name==='ExternalDeletedProjects'}" @click="goToDeletedProjects()">Deleted Projects</a>
        </div>
        
        <Profile />

    </div>
</template>

<script>
const Profile = () => import("@/components/common/Profile");

export default {
    name: "Sidebar",
    components: {
        Profile,
    },
    data() {
        return{ 
            teamId: null
        };
    },
    methods: {
        goToActiveProjects(){
            if(this.$route.name==='ExternalActiveProjects') return false;
            this.$router.push({ path: `/external-project/active-projects` });
        },
        goToPastProjects(){
            if(this.$route.name==='ExternalPastProjects') return false;
            this.$router.push({ path: `/external-project/past-projects` });
        },
        goToDeletedProjects(){
            if(this.$route.name==='ExternalDeletedProjects') return false;
            this.$router.push({ path: `/external-project/deleted-projects` });
        }

    },
    mounted() {
        this.teamId = this.$route.params.teamId;
    },

    
}
</script>

<style scoped>
@import "../../../assets/css/style.css";
@import "../../../assets/css/custom.css";

.custom-margin{
    margin-bottom: 100px !important;
}
</style>