<template>
    <v-main>
        <div class="custom-container">
            <Navbar @data-changed="onChangeChild" />

            <!-- Route content -->
            <section class="main-section">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 sidebar-bg">   
                            <Profile />
                        </div>
                        <Snackbar />  
                        <SearchResult v-bind:searchedData="searchedData" />
                        <router-view></router-view>
                    </div>
                </div>
            </section>

        </div>
    </v-main>
</template>

<script>

const Profile = () => import("@/components/common/Profile");

const Navbar = () => import("@/components/Layout/TestPurpose/Navbar");
const Snackbar = () => import("@/components/common/Snackbar");
const SearchResult = () => import("@/components/common/SearchResult");

export default {
    name: "AppLayout",

    components: {
        Navbar,
        Snackbar,
        Profile,
        SearchResult,
    },

    data (){
        return {
            search: true,
            searchedData: []
        }
    },
    
    methods: {
        onChangeChild(value){
            console.log('aa'+value);
            if(value.length == 0){
                this.searchedData = []
                console.log("ss",this.searchedData)
            }else{
                this.$store
                    .dispatch("notifications/getSearchedData", value)
                    .then(
                    (res) => {
                        console.log("pp", res.data.data)
                        // this.plan = res.data.data
                        this.searchedData = res.data.data
                    },
                    (error) => {
                        if(error.response.status == 404) {
                            // this.plan = null
                        }
                    }
                    );
            }
        }
    },
    
    
};
</script>


<style scoped>
@import "../assets/css/style.css";

</style>

<style lang="scss" scoped>
.main-section {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
</style>>
