<template>

<v-main>
    <Navbar @data-changed="onChangeChild" />

    <section>
        <div class="container-fluid">
            <div class="row">
                <Sidebar />
                <Snackbar />  
                <SearchResult v-bind:searchedData="searchedData" />
                <router-view></router-view>
            </div>
        </div>
    </section>

        
</v-main>
    
</template>

<script>
const Navbar = () => import("@/components/Layout/TestPurpose/Navbar");
const Sidebar = () => import("@/components/Layout/CreateTeamProjectPublic/Sidebar");
const Snackbar = () => import("@/components/common/Snackbar");
const SearchResult = () => import("@/components/common/SearchResult");

export default {
  name: "PersonalProjectPublicCreateLayout",
  components: {
    Navbar,
    Sidebar,
    Snackbar,
    SearchResult
  },

  data (){
      return {
          search: '',
          searchedData: []
      }
  },

  methods: {
    onChangeChild(value){
        if(value.length > 0){
            this.$store
                .dispatch("notifications/getSearchedData", value)
                .then(
                (res) => {
                    //console.log("pp", res.data.data)
                    // this.plan = res.data.data
                    this.searchedData = res.data.data
                },
                (error) => {
                    if(error.response.status == 404) {
                        // this.plan = null
                    }
                }
                );
        }else{
            this.searchedData = []
        }
    }
  },
  
};
</script>


<style scoped>
@import "../assets/css/style.css";
@import "../assets/css/custom.css";

</style>

<style lang="scss" scoped>

</style>>
