<template>

<div>
    <header class="custom-nav">
        <!-- As a heading -->
        <nav class="navbar navbar-light">
            <div class="container">
            <div class="row">
                <img src="../../assets/img/logo.png" class="custom-logo" alt="">
            </div>
            </div>
        </nav>
    </header>

    <section>
    <div class="container" style="padding-left: 0px">
        <div v-bind:class="{show: email_option, not_show:!email_option}">
            <form>
                <h4 class="title-txt">Forgot Password</h4>
                <label for="email" class="custom-label">Please enter registered email</label><br>
                <input type="text" class="custom-input-field" id="email" v-model="email" name="email">
                <span style="margin-left:10px"><input  @click="handleSubmit()" class="submit-btn" value="Submit" readonly></span><br>
                <p v-bind:class="{show: error, not_show: !error}" style="color:red">*Email is required</p>
                <p v-bind:class="{show: invalidEmail, not_show: !invalidEmail}" style="color:red">*Email is not valid</p>
                <p v-bind:class="{show: unknownEmail, not_show: !unknownEmail}" style="color:red">
                    *Thanks, if applicable, we have sent you a temporary password to the entered email address.
                </p><br>
            </form>
        </div>
        <div v-bind:class="{show: signin_show, not_show:!signin_show}">
                <h4 class="title-txt">Forgot Password</h4>
                <p>Thanks, if applicable, we have sent you a temporary password to the entered email address.</p>
                <span><input  @click="goToSignin()" class="submit-btn" value="Sign In" readonly></span>
        </div>
    </div>
    </section>
</div>
</template>

<script>
export default {
    name: "ForgotPassword",
    data() {
        return{
            email: null,
            error: false,
            invalidEmail: false,
            validForm: true,
            signin_show: false,
            email_option: true,
            unknownEmail: false,
        }
    },
    methods: {
        handleSubmit(){
            if(!this.email){
                this.error = true
                this.validForm = false
            }else if(!this.validEmail(this.email)){
                this.error = false
                this.invalidEmail = true
                this.validForm = false
            }else{
                this.validForm = true
                this.invalidEmail = false
            }

            //var temp_email = this.email;


            if(this.validForm){
                const vm = this

                console.log("form submit");
                this.$store.dispatch("auth/forgotPassword", {email: this.email, type: 'password'}).then(() => 
                    {
                        //this.$store.dispatch('snackbar/showOverlay', 0);
                        //this.$router.push({ path: "/signin" });
                        //this.$router.push({ path: `/signup-second/${temp_email}`});
                        vm.email_option = false
                        vm.signin_show = true
                    },
                    (error) => {
                        console.log(error.response.data.message);
                        if(error.response.data.message){
                            this.unknownEmail = true
                        }else{
                            this.unknownEmail = false
                        }
                        //this.$store.dispatch('snackbar/showOverlay', 0);
                    }
                    );
            }
            
        },
        validEmail: function (email) {
            var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        },
        goToSignin(){
            this.$router.push({ path: "/signin?fm=fpass" });
        },
    },
    watch: {
    "email"(newVal) {
      if (newVal && this.validEmail(newVal)) {
        this.error = false;
        this.invalidEmail = false;
        this.unknownEmail = false;
      }
    }
   }
};
</script>

<style scoped>
@import "../../assets/css/style.css";
@import "../../assets/css/custom.css";

.not_show{
    display: none;
}
.show{
    display: block;
}
</style>

<style lang="scss" scoped>
.submit-btn {
    margin-left: 0;
    text-align: center;
}
</style>