<template>
  <div>
    <header class="custom-nav">
      <!-- As a heading -->
      <nav class="navbar navbar-light">
        <div class="container">
          <div class="row">
            <img src="../../assets/img/logo.png" class="custom-logo" alt="" />
          </div>
        </div>
      </nav>
    </header>

    <section>
      <div class="container">
        <div class="row">
          <form>
            <div class="header-wrapper">
              <div class="header-left">
                <h4 class="title-txt">Sign In</h4>
              </div>
              <div class="header-right">
                or
                <router-link to="/signup" class="click-txt"
                  >create a new account</router-link
                >
              </div>
              
            </div>

            <div class="clearfix"></div>

            <div class="c-form-group">
              <label for="email" class="custom-label">Email</label><br />
              <input
                type="text"
                class="custom-input-field"
                id="email"
                v-model="user.email"
                name="email"
              />
              <p
                v-bind:class="{ show: error.email, not_show: !error.email }"
                style="color:red"
              >
                *Email is required
              </p>
              <p
                v-bind:class="{
                  show: error.invalidEmail,
                  not_show: !error.invalidEmail,
                }"
                style="color:red"
              >
                *Email is not valid
              </p>
              <p
                v-bind:class="{
                  show: error.unknownEmail,
                  not_show: !error.unknownEmail,
                }"
                style="color:red"
              >
                <!-- *Email not found, please enter a registered email. -->
                *Your username and password do not match. Please try to retrieve them using suitable options.
              </p>
              <p class="forgot-email-txt">
                Forgot email?
                <a @click="toForgotEmail()" class="click-txt">Click here</a>
              </p>
            </div>

            <div class="c-form-group">
              <label for="pass" class="custom-label">Password</label> <br />
              <input
                type="password"
                class="custom-input-field"
                v-model="user.password"
                id="pass"
                name="pass"
              />
              <span
                ><input
                  @click="handleSubmit()"
                  class="submit-btn btn-text-issue-fix"
                  value="Submit"
                  readonly
              /></span>
              <p
                v-bind:class="{
                  show: error.password,
                  not_show: !error.password,
                }"
                style="color:red"
              >
                *Password is required
              </p>
              <p
                v-bind:class="{
                  show: error.passwordMissmatched,
                  not_show: !error.passwordMissmatched,
                }"
                style="color:red"
              >
                *Password not correct
              </p>
              <p class="forgot-txt">
                Forgot password?
                <a @click="toForgotPassword()" class="click-txt">Click here</a>
              </p>

            </div>

            <div v-bind:class="{ show: pass_show, not_show: !pass_show }">
              <div class="c-form-group">
                <p class="additional-txt">
                  For additional security, we have send a passcode to your
                  email. Please enter the passcode for accessing your account.
                </p>
              </div>

              <div class="c-form-group">
                <label for="passcode" class="custom-label">Passcode</label
                ><br />
                <input
                  type="text"
                  class="custom-input-field"
                  v-model="passcode"
                  id="passcode"
                  name="passcode"
                />
                <span
                  ><input
                    @click="passcodeSubmit()"
                    class="submit-btn btn-text-issue-fix"
                    value="Submit"
                    readonly
                /></span>
                <span
                  ><input
                    @click="resendPasscode()"
                    class="resend-btn"
                    value="Resend Passcode"
                    readonly
                /></span>
                <p
                  v-bind:class="{
                    show: error.passcode,
                    not_show: !error.passcode,
                  }"
                  style="color:red"
                >
                  *Passcode is required
                </p>
                <p
                  v-bind:class="{
                    show: error.passcodeMissMatched,
                    not_show: !error.passcodeMissMatched,
                  }"
                  style="color:red"
                >
                  *Passcode does not match, please try again.
                </p>
                <p
                  v-bind:class="{
                    show: error.passcodeLate,
                    not_show: !error.passcodeLate,
                  }"
                  style="color:red"
                >
                  *click resend button to send passcode again
                </p>
                <p
                  v-bind:class="{
                    show: res_noti_show,
                    not_show: !res_noti_show,
                  }"
                  class="noti"
                >
                  *New passcode sent. Please check the inbox.
                </p>
              </div>
            </div>
          </form>

          <div v-if="showResetForm">
            <p class="c-form-group">Please Reset Your Password</p>

            <div class="c-form-group">
              <label for="new_password" class="custom-label"
                >New Password</label
              >
              <br />
              <input
                type="password"
                class="custom-input-field"
                v-model="new_password"
                id="new_password"
                name="new_password"
                min="6"
              />
              <p
                v-bind:class="{
                  show: error.new_password,
                  not_show: !error.new_password,
                }"
                style="color:red"
              >
                *Password is required, must be at least 6 characters
              </p>             
            </div>

            <div class="c-form-group">
              <label for="password_confirm" class="custom-label"
                >Enter the New Password Again</label
              >
              <br />
              <input
                type="password"
                class="custom-input-field"
                v-model="password_confirm"
                id="password_confirm"
                name="password_confirm"
              />
              <input
                @click="handleChangePassword()"
                class="submit-btn btn-text-issue-fix"
                value="Submit"
                readonly
              />
              <p
                v-bind:class="{
                  show: error.password_confirm,
                  not_show: !error.password_confirm,
                }"
                style="color:red"
              >
                *Type password again
              </p>
              <p
                v-bind:class="{
                  show: error.password_mismatch,
                  not_show: !error.password_mismatch,
                }"
                style="color:red"
              >
                *Password not match, type again
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: "Signin",
  data() {
    return {
      fmode: null,
      res_noti_show: false,
      user: {
        email: null,
        password: null,
      },
      error: {
        email: false,
        invalidEmail: false,
        unknownEmail: false,
        password: false,
        passcode: false,
        passcodeMissMatched: false,
        passcodeLate: false,
        passwordMissmatched: false,
        new_password: false,
        password_confirm: false,
        password_mismatch: false
      },
      passcode: null,
      validForm: true,
      validPasscode: true,
      pass_show: false,
      showResetForm: false,
      new_password: "",
      password_confirm: "",
      validConfirmPassword: true
    };
  },
  methods: {
    activate() {
      setTimeout(() => {
        console.log("activate")
      }, 5000);
    },
    handleSubmit() {
      //console.log(this.user);
      if (!this.user.email) {
        this.error.email = true;
        this.validForm = false;
      } else if (!this.validEmail(this.user.email)) {
        this.error.email = false;
        this.error.invalidEmail = true;
        this.validForm = false;
      } else {
        this.validForm = true;
        this.error.invalidEmail = false;
      }
      if (!this.user.password) {
        this.error.password = true;
        this.validForm = false;
      } else {
        this.error.password = false;
      }

      if (this.validForm) {
        const temp = this;

        this.$store.dispatch("auth/passcode", this.user).then(
          () => {
            //this.$store.dispatch('snackbar/showOverlay', 0);
            //this.$router.push({ path: "/profile-update" });
            console.log("passcode send");
            this.error.unknownEmail = false;
            this.error.passwordMissmatched = false;
            temp.pass_show = true;
          },
          (error) => {
            console.log(error.response.data);
            if (error.response.data.error) {
              this.error.unknownEmail = true;
            } else {
              this.error.unknownEmail = false;
            }
            if (error.response.data.errorPass) {
              this.error.passwordMissmatched = true;
            } else {
              this.error.passwordMissmatched = false;
            }
            if (error.response.data.latePasscode) {
              this.error.passcodeLate = true;
            } else {
              this.error.passcodeLate = false;
            }

            //this.$store.dispatch('snackbar/showOverlay', 0);
          }
        );
      }
    },
    validEmail(email) {
      var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    },
    toForgotPassword() {
      this.$router.push({ path: "/forgot-password" });
    },
    toForgotEmail() {
      this.$router.push({ path: "/forgot-email" });
    },
    goToSignup(){
      this.$router.push({ path: "/signup" });
    },
    passcodeSubmit() {
      if (!this.passcode) {
        this.error.passcode = true;
        this.validPasscode = false;
      } else {
        this.error.password = false;
        this.validPasscode = true;
      }

      if (this.validPasscode) {       
        this.$store
          .dispatch("auth/signin", {
            email: this.user.email,
            password: this.user.password,
            passcode: this.passcode,
          })
          .then(
            () => {
              //this.$store.dispatch('snackbar/showOverlay', 0);
              this.error.passcodeMissMatched = false;
              if (this.$route.query.fm && (this.$route.query.fm === "fpass" || this.$route.query.fm === "femail")) {
                this.showResetForm = true;
              } else {
                this.$router.push({ path: "/main-dashboard" });
              }
            },
            (error) => {
              console.log(error.response.data.error);
              if (error.response.data.error) {
                this.error.passcodeMissMatched = true;
              } else {
                this.error.passcodeMissMatched = false;
              }
              //this.$store.dispatch('snackbar/showOverlay', 0);
            }
          );
      }
    },
    resendPasscode() {
      const temp = this;
      this.$store.dispatch("auth/passcode", this.user).then(
        () => {
          //this.$store.dispatch('snackbar/showOverlay', 0);
          //this.$router.push({ path: "/profile-update" });
          console.log("passcode send");
          temp.res_noti_show = true;
        },
        (error) => {
          console.log(error.response);
          //this.$store.dispatch('snackbar/showOverlay', 0);
        }
      );
    },
    handleChangePassword() {
      if (!this.new_password || this.new_password.length < 6) {
        this.error.new_password = true;
        this.validConfirmPassword = false;
      } else {
        this.error.new_password = false;
        this.validConfirmPassword = true;
      }
      if (!this.password_confirm) {
        this.error.password_confirm = true;
        this.validConfirmPassword = false;
      } else {
        this.error.password_confirm = false;
        this.validConfirmPassword = true;
      }
      if (this.new_password === this.password_confirm) {
        this.validConfirmPassword = true;
        this.error.password_mismatch = false;
      } else {
        this.error.password_mismatch = true;
        this.validConfirmPassword = false;
      }

      if (this.validConfirmPassword && this.new_password.length > 5) {
        this.$store
          .dispatch("auth/changePassword", {
            password: this.new_password,
            email: this.user.email,
            passcode: this.passcode,
            from: 'login',
            fmode: this.fmode,
          })
          .then(
            () => {
              this.$router.push({ path: "/main-dashboard" });
            },
            (error) => {
              console.log(error.response);              
            }
          );
      }
    },
  },
  watch: {
    "user.email"(newVal) {
      if (newVal && this.validEmail(newVal)) {
        this.error.email = false;
        this.error.invalidEmail = false;
        this.error.unknownEmail = false;
      }
    },
    "user.password"(newVal) {
      if (newVal) {
        this.error.password = false;
        this.error.passwordMissmatched = false;
      }
    },
    passcode(newVal) {
      if (newVal) {
        this.error.passcode = false;
        this.error.passcodeMissMatched = false;
        this.res_noti_show = false;
      }
    },
  },
  mounted() {
    console.log(this.$route.query.fm);
    this.fmode = this.$route.query.fm
    this.activate()
  },
};
</script>

<style scoped>
@import "../../assets/css/style.css";
@import "../../assets/css/custom.css";

.not_show {
  display: none;
}
.show {
  display: block;
}

.noti {
  background-color: #ccd5ae;
  width: 45%;
  padding: 8px;
}
</style>
<style lang="scss" scoped>
.c-form-group {
  margin-bottom: 1.8rem;
}
.forgot-email-txt {
  margin-left: 258px;
}
.click-txt {
  color: #ff5f1f !important;
  cursor: pointer;
}
.header-wrapper {
  width: 450px;
  float: left;
  .header-left {
    width: 47%;
    float: left;
  }
  .header-right {
    width: 53%;
    float: left;
    padding: 41px 0;
    line-height: 2;
    text-align: right;
    vertical-align: bottom;
  }
}
.clearfix {
  clear: both;
}

input:focus {
  border: 1px solid black;
}
</style>
