<template>
  <div>
    <header class="custom-nav">
      <!-- As a heading -->
      <nav class="navbar navbar-light">
        <div class="container">
          <div class="row">
            <img src="../../assets/img/logo.png" class="custom-logo" alt="" />
          </div>
        </div>
      </nav>
    </header>

    <section>
      <div class="container">
        <div class="row">
          <form>
            <h4 class="title-txt mar-b">Sign Up</h4>

            <div class="c-form-group">
              <label for="email" class="custom-label">Email</label><br />
              <input
                type="text"
                class="custom-input-field"
                id="email"
                v-model="user.email"
                name="email"
              />
              <p
                v-bind:class="{ show: error.email, not_show: !error.email }"
                style="color:red"
              >
                *Email is required
              </p>
              <p
                v-bind:class="{
                  show: error.invalidEmail,
                  not_show: !error.invalidEmail,
                }"
                style="color:red"
              >
                *Email is not valid
              </p>
              <p
                v-bind:class="{
                  show: error.duplicateEmail,
                  not_show: !error.duplicateEmail,
                }"
                style="color:red"
              >
                *Email is already in use
              </p>
            </div>

            <div class="row-custom c-form-group">
              <div>
                <label for="first_name" class="custom-label">First Name</label
                ><br />
                <input
                  type="text"
                  class="name-input-field"
                  id="first_name"
                  v-model="user.first_name"
                  name="first_name"
                />
                <p
                  v-bind:class="{
                    show: error.first_name,
                    not_show: !error.first_name,
                  }"
                  style="color:red"
                >
                  *First Name is required
                </p>
              </div>
              <div>
                <label for="last_name" class="custom-label">Last Name</label
                ><br />
                <input
                  type="text"
                  class="name-input-field"
                  id="last_name"
                  v-model="user.last_name"
                  name="last_name"
                />
                <p
                  v-bind:class="{
                    show: error.last_name,
                    not_show: !error.last_name,
                  }"
                  style="color:red"
                >
                  *Last Name is required
                </p>
              </div>
            </div>

            <div class="c-form-group">
              <label for="date_of_birth" class="custom-label"
                >Date of Birth</label
              ><br />
              <input
                type="date"
                class="custom-input-field"
                id="date_of_birth"
                v-model="user.date_of_birth"
                name="date_of_birth"
              />
              <p class="additional-txt">
                We are collecting date of birth for legal requirements. We will
                not publish it publicly at any instance.
              </p>
              <p
                v-bind:class="{
                  show: error.date_of_birth,
                  not_show: !error.date_of_birth,
                }"
                style="color:red"
              >
                *Date of birth is required
              </p>
              <p
                v-bind:class="{
                  show: error.age_error,
                  not_show: !error.age_error,
                }"
                style="color:red"
              >
                *age must be 18 or more.
              </p>
            </div>

            <div class="c-form-group">
              <label class="custom-label"
                >Please check the box below to proceed</label
              >
              <vue-recaptcha
                :sitekey="siteKey"
                :loadRecaptchaScript="true"
                ref="recaptcha"
                type="invisible"
                @verify="onCaptchaVerified"
                @expired="onCaptchaExpired"
              >
              </vue-recaptcha>
              <p
                v-bind:class="{
                  show: error.recaptcha,
                  not_show: !error.recaptcha,
                }"
                style="color:red"
              >
                *Recaptcha is required
              </p>
            </div>

            <div class="c-form-group">
              <input
                type="button"
                @click="handleSubmit()"
                class="create-account"
                value="Create An Account*"
                readonly
              />
              <input
                type="button"
                @click="$router.push({ path: '/signin' })"
                class="create-account"
                value="Nope, I want to Sign In."
                readonly
              />
              <p class="additional-txt">
                * By creating an account, you agree with our
                <a href="javascript:void(0)">terms and conditions.</a>
              </p>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import VueRecaptcha from "vue-recaptcha";
export default {
  components: { "vue-recaptcha": VueRecaptcha },
  name: "Signup",
  data() {
    return {
      user: {
        first_name: null,
        last_name: null,
        date_of_birth: null,
        email: null,
        password: null,
        recaptcha: "",
      },
      loadingPage: true,
      error: {
        first_name: false,
        last_name: false,
        date_of_birth: false,
        email: false,
        invalidEmail: false,
        duplicateEmail: false,
        recaptcha: false,
        age_error: false,
      },
      validForm: true,
      siteKey: `${process.env.VUE_APP_RECAPTCHA_SITE_KEY}`,
    };
  },
  mounted() {
    this.loadingPage = false;
  },
  methods: {
    onCaptchaVerified(recaptchaToken) {
      this.user.recaptcha = recaptchaToken;
      this.validateCaptcha = true;
    },
    onCaptchaExpired() {
      this.$refs.recaptcha.reset();
    },
    async handleSubmit() {
      this.validationCheck();
      var temp_email = this.user.email;
      if (this.validForm) {
        this.loadingPage = true;
        this.$store
          .dispatch("auth/signup", {
            first_name: this.user.first_name,
            last_name: this.user.last_name,
            date_of_birth: this.user.date_of_birth,
            email: this.user.email,
            recaptcha: this.user.recaptcha,
          })
          .then(
            () => {
              //this.$store.dispatch('snackbar/showOverlay', 0);
              this.error.duplicateEmail = false;
              this.error.recaptcha = false;
              this.error.age_error = false;
              this.loadingPage = false;
              this.onCaptchaExpired();
              this.$router.push({ path: `/signup-second/${temp_email}` });
            },
            (error) => {
              if (error.response.data.age_error) {
                this.error.age_error = true;
                this.error.duplicateEmail = false;
                this.error.recaptcha = false;
              } else {
                this.error.age_error = false;

                if (error.response.data[0].email) {
                  this.error.duplicateEmail = true;
                } else {
                  this.error.duplicateEmail = false;
                }
                if (error.response.data[0].recaptcha) {
                  this.error.recaptcha = true;
                } else {
                  this.error.recaptcha = false;
                }
              }
              this.onCaptchaExpired();
              //this.$store.dispatch('snackbar/showOverlay', 0);
            }
          );
      }
    },

    validationCheck() {
      if (!this.user.first_name) {
        this.error.first_name = true;
        this.validForm = false;
      } else {
        this.error.first_name = false;
      }
      if (!this.user.last_name) {
        this.error.last_name = true;
        this.validForm = false;
      } else {
        this.error.last_name = false;
      }
      if (!this.user.date_of_birth) {
        this.error.date_of_birth = true;
        this.validForm = false;
      } else {
        this.error.date_of_birth = false;
      }
      if (!this.user.email) {
        this.error.email = true;
        this.validForm = false;
      } else if (!this.validEmail(this.user.email)) {
        this.error.email = false;
        this.error.invalidEmail = true;
        this.validForm = false;
      } else {
        this.validForm = true;
        this.error.invalidEmail = false;
      }

      return;
    },

    validEmail(email) {
      var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    },
  },
  watch: {
    "user.date_of_birth"(newVal) {
      if (newVal) {
        this.error.date_of_birth = false;
        this.error.age_error = false;
      }
    },
    "user.first_name"(newVal) {
      if (newVal) this.error.first_name = false;
    },
    "user.last_name"(newVal) {
      if (newVal) this.error.last_name = false;
    },
    "user.email"(newVal) {
      if (newVal && this.validEmail(newVal)) {
        this.error.email = false;
        this.error.duplicateEmail = false;
      }
    },
  },
};
</script>

<style scoped>
@import "../../assets/css/style.css";
@import "../../assets/css/custom.css";
.not_show {
  display: none;
}
.show {
  display: block;
}
</style>
<style lang="scss" scoped>
.c-form-group {
  margin-bottom: 1.8rem;
}
.additional-txt {
  font-size: 12px;
  margin-bottom: 0;
}
.create-account {
  width: auto;
  min-width: 177px;
  margin-right: 30px;
  // font-weight: 600;
}
</style>
