<template>
<div>
    <header class="custom-nav">
      <!-- As a heading -->
      <nav class="navbar navbar-light">
        <div class="container">
          <div class="row">
            <img src="../../assets/img/logo.png" class="custom-logo" alt="">
          </div>
        </div>
      </nav>
    </header>

    <section>
    <div class="container">
        <div class="row">
            <form>
                <h4 class="title-txt mar-b">Sign Up</h4>               

                <div class="c-form-group">
                    <label for="pass" class="custom-label">Please enter the passcode sent on the registered email.</label> <br>
                <input type="text" class="custom-input-field" v-model="password" id="pass" name="pass"> 
                <input type="button" @click="handleSubmit()" class="submit-btn btn-text-issue-fix" value="Submit" readonly />
                <input type="button" @click="resendPassword()" class="resend-btn" value="Resend Passcode" readonly />
                <p v-bind:class="{show: res_noti_show, not_show:!res_noti_show}" class="noti">*New passcode sent. Please check the inbox.</p>
                <p v-bind:class="{show: error.passcode_late, not_show:!error.passcode_late}" style="color:red">*Please click resend button to send passcode again to your email.</p>
                <p v-bind:class="{show: error.password, not_show: !error.password}" style="color:red">*Passcode is required</p>
                <p v-bind:class="{show: error.first_pass_mismatch, not_show: !error.first_pass_mismatch}" style="color:red">*Passcode not match, type again</p>    
                </div>   
                
            </form>

            <div v-bind:class="{show: pass_show, not_show:!pass_show}">

                <p class="c-form-group">Your account has been successfully created. Please create a password below for security purposes.</p>

                <div class="c-form-group">
                    <label for="new_password" class="custom-label">New Password</label> <br>
                <input type="password" class="custom-input-field" v-model="new_password" id="new_password" name="new_password">
                <p v-bind:class="{show: error.new_password, not_show: !error.new_password}" style="color:red">*Password is required, must be at least 6 characters.</p>
                </div>

                <div class="c-form-group">
                    <label for="password_confirm" class="custom-label">Enter the New Password Again</label> <br>
                <input type="password" class="custom-input-field" v-model="password_confirm" id="password_confirm" name="password_confirm">  
                <input  @click="handleChangePassword()" class="submit-btn btn-text-issue-fix" value="Submit" readonly>
                <p v-bind:class="{show: error.password_confirm, not_show: !error.password_confirm}" style="color:red">*Type password again.</p>
                <p v-bind:class="{show: error.password_mismatch, not_show: !error.password_mismatch}" style="color:red">*Password do not match, please try again.</p>
                </div>
                

                
            </div>

            <div v-bind:class="{show: signin_show, not_show:!signin_show}" class="c-form-group">
                <p>Thanks for creating password. Please sign in and start collecting documents.</p>
                <input type="button" @click="goToSignin()" class="submit-btn btn-text-issue-fix ml-0" value="Sign In" readonly/>
            </div>
        </div>
    </div>
</section>
</div>

</template>

<script>

export default {
    name: "SignupSecond",
    data() {
        return{
            res_noti_show: false,
            user_email: null,
            password: null,
            new_password: null,
            password_confirm: null,
            error:{
                password:false,
                new_password: false,
                password_confirm: false,
                first_pass_mismatch: false,
                password_mismatch: false,
                passcode_late: false,
            },
            pass_show: false,
            signin_show: false,
            passcode: null,
            validForm: true,
            validConfirmPassword: true
        }
    },
    created(){
        this.user_email = this.$route.params.email;
    },
    methods: {
        handleSubmit(){
            console.log(this.user_email);
            if(!this.password){
                this.error.password = true
                this.validForm = false
            }else{
                this.error.password = false
                this.validForm = true
            }

            if(this.validForm){
                const vim = this
                this.$store.dispatch("auth/validatePassword", {
                    password: this.password,
                    email: this.user_email
                }).then(() => 
                    {
                        //this.$store.dispatch('snackbar/showOverlay', 0);
                        //this.$router.push({ path: "/profile-update" });
                        //console.log("password v successful" + res)
                        vim.res_noti_show = false;
                        vim.error.passcode_late = false;
                        vim.error.first_pass_mismatch = false;
                        vim.pass_show = true;
                        
                    },
                    (error) => {
                        vim.res_noti_show = false;
                        console.log(error.response);
                        if(error.response.data.passcodeLate){
                            vim.error.passcode_late = true;
                        }else{
                            vim.error.passcode_late = false;
                        }

                        if(error.response.data.error){
                            vim.error.first_pass_mismatch = true;
                        }else{
                            vim.error.first_pass_mismatch = false;
                        }
                        //this.$store.dispatch('snackbar/showOverlay', 0);
                    }
                    );
            }
            
        },
        handleChangePassword(){
            if(!this.new_password || this.new_password.length < 6){
                this.error.new_password = true
                this.validConfirmPassword = false
            }else{
                this.error.new_password = false
                this.validConfirmPassword = true
            }
            if(!this.password_confirm){
                this.error.password_confirm = true
                this.validConfirmPassword = false
            }else{
                this.error.password_confirm = false
                this.validConfirmPassword = true
            }
            if(this.new_password === this.password_confirm)
            {
                console.log("do something")
                this.validConfirmPassword = true
                this.error.password_mismatch = false
            }else{
                this.error.password_mismatch = true
                this.validConfirmPassword = false
            }

            if(this.validConfirmPassword && this.new_password.length > 5){
                
                const temp = this
                this.$store.dispatch("auth/changePassword", {
                    password: this.new_password,
                    email: this.user_email,
                    passcode: this.password
                }).then(() => 
                    {
                        //this.$store.dispatch('snackbar/showOverlay', 0);
                        //this.$router.push({ path: "/profile-update" });
                        temp.signin_show = true
                    },
                    (error) => {
                        console.log(error.response);
                        //this.$store.dispatch('snackbar/showOverlay', 0);
                    }
                    );
            }
        },
        goToSignin(){
            this.$router.push({ path: "/signin" });
        },
        resendPassword(){
            this.error.password = false;
            this.error.passcode_late = false;
            this.error.first_pass_mismatch = false;
            const temp = this
            this.$store.dispatch("auth/resendPassword", {
                email: this.user_email
            }).then(() => 
                    {
                        //this.$store.dispatch('snackbar/showOverlay', 0);
                        //this.$router.push({ path: "/profile-update" });
                        console.log("password resend")
                        temp.res_noti_show = true
                    },
                    (error) => {
                        console.log(error.response);
                        //this.$store.dispatch('snackbar/showOverlay', 0);
                    }
                    );
        },
        validEmail: function (email) {
            var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        },
        toForgotPassword(){
            this.$router.push({ path: "/forgot-password" });
        }
    },
    watch: {
    "password"(newVal) {
      if (newVal) {
        this.error.password = false;
        this.error.first_pass_mismatch = false;
      }
    },
    
  },
};
</script>

<style scoped>
@import "../../assets/css/style.css";
@import "../../assets/css/custom.css";
.not_show{
    display: none;
}
.show{
    display: block;
}

.noti{
    background-color: #CCD5AE;
    width: 55%;
    padding: 8px;
}
</style>
<style lang="scss" scoped>
.c-form-group {
  margin-bottom: 1.8rem;
}
.resend-btn, .btn-text-issue-fix {
    padding-left: 0;
    // font-weight: 600;
    text-align: center;
}
.resend-btn {
    margin-left: 10px;
}
</style>