<template>
    <div class="col-lg-3 col-md-3 d-none d-md-block d-lg-block d-xl-block sidebar-bg">
        <div class="list-group list-group-flush item-margin-top">
            <a  @click="goto('PPPublicCreatePrimaryInfoEdit')"
                class="custom-sidebar-menu menu-mobile" 
                href="javascript:void(0)" 
                :class="{'active-custom-menu': $route.name==='PPPublicCreatePrimaryInfo' || $route.name==='PPPublicCreatePrimaryInfoEdit'}"
                >Primary Info
            </a>
            <a  @click="goto('PPPublicCreateSetDeadlines')" class="custom-sidebar-menu menu-mobile" href="javascript:void(0)" :class="{'active-custom-menu': $route.name==='PPPublicCreateSetDeadlines'}">Deadlines</a>
            <a  @click="goto('PPPublicCreateCollaborator')" class="custom-sidebar-menu menu-mobile" href="javascript:void(0)" :class="{'active-custom-menu': $route.name==='PPPublicCreateCollaborator'}">Add Collaborators</a>
            <a  @click="goto('PPPublicCreateAddDocuments')" class="custom-sidebar-menu menu-mobile" href="javascript:void(0)" :class="{'active-custom-menu': $route.name==='PPPublicCreateAddDocuments'}">Add Documents</a>
            <a  @click="goto('PPPublicCreateAddSupportStaffs')" class="custom-sidebar-menu menu-mobile" href="javascript:void(0)" :class="{'active-custom-menu': $route.name==='PPPublicCreateAddSupportStaffs'}">Add Support Staff</a>
            <a  @click="goto('PPPublicCreatePricingPlan')" class="custom-sidebar-menu menu-mobile" href="javascript:void(0)" :class="{'active-custom-menu': $route.name==='PPPublicCreatePricingPlan'}">Pricing Plan</a>
            <a  @click="goto('PPPublicCreateSummary')" class="custom-sidebar-menu menu-mobile" href="javascript:void(0)" :class="{'active-custom-menu': $route.name==='PPPublicCreateSummary'}">Project Summary</a>
            <a  @click="goto('PPPublicCreateStartProject')"
                class="custom-sidebar-menu menu-mobile" 
                href="javascript:void(0)" 
                :class="{'active-custom-menu': $route.name==='PPPublicCreateStartProject' || $route.name==='PPPublicUniquePinPublic'}"
                >Start the Project
            </a>
        </div>

        <Profile />
    </div>
</template>

<script>
const Profile = () => import("@/components/common/Profile");

export default {
    name: "PublicSidebar",
    components: {
        Profile,
    },
    methods: {
        goto(routeName) {            
            if(this.$route.params.id && this.$route.query.mode && (this.$route.query.mode == 'edit' || this.$route.query.mode == 'create') && this.$route.name != routeName) {
                this.$router.push({ name: routeName, params: {id: this.$route.params.id}, query: {mode: this.$route.query.mode} });
            }
        }
    }
}
</script>

<style scoped>
@import "../../../assets/css/style.css";
@import "../../../assets/css/custom.css";
.v-application a {
    color: black;
}
</style>